<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--<meta name="theme-color" content="#08C1CE">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">
	<!-- 
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="<%- url %>">
	<meta name="twitter:title" content="<%- param.file.name %>">
	<meta name="twitter:description" content="<%- param.file.description %>">
	<meta name="twitter:image" content="<%- param.file.cover %>">

	<meta property="og:title" content="<%- param.file.name %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%- url %>" />
	<meta property="og:description" content="<%- param.file.description %>" />
	<meta property="og:image" content="<%- param.file.cover %>" /> -->

	<title>CICÉRON</title>
	<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
	<style>
		@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

		@font-face {
			font-family: 'Noto Sans Korean';
			font-style: normal;
			font-weight: 100;
			src: local('Noto Sans Korean Thin');
			src: url('/fonts/NotoSans-Thin.eot');
			src: url('/fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
			url('/fonts/NotoSans-Thin.woff2') format('woff2'),
			url('/fonts/NotoSans-Thin.woff') format('woff');
		}

		@font-face {
			font-family: 'Noto Sans Korean';
			font-style: normal;
			font-weight: 400;
			src: local('Noto Sans Korean Light');
			src: url('/fonts/NotoSans-Light.eot');
			src: url('/fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
			url('/fonts/NotoSans-Light.woff2') format('woff2'),
			url('/fonts/NotoSans-Light.woff') format('woff');
		}

		@font-face {
			font-family: 'Noto Sans Korean';
			font-style: normal;
			font-weight: 700;
			src: local('Noto Sans Korean Regular');
			src: url('/fonts/NotoSans-Regular.eot');
			src: url('/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/NotoSans-Regular.woff2') format('woff2'),
			url('/fonts/NotoSans-Regular.woff') format('woff');
		}

		* {
			margin: 0;
			outline: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		body,
		html {
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0;
			padding: 0;
			/* font-family: sans-serif; */
			font-family: 'Noto Sans Korean', 'Noto Sans', sans-serif;

		}

		.wrapper {
			width: 100%;
			height: 100%;
			background-image: url('<%- param.file.cover %>');
			background-size: cover;
			background-repeat: no-repeat;
		}

		.wrapper-background {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: #022e3c;
			opacity: .8;
		}

		.content {
			width: 100%;
			height: 100%;
			/* padding: 50px; */
			position: absolute;
			left: 0px;
			top: 0px;
			color: #fcfcfc;
		}

		.title {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);

			/* white-space: nowrap;
			overflow: hidden !important;
			text-overflow: ellipsis; */
			padding: 1.2em;
			box-sizing: border-box;
			font-size: 2em;

			word-break: keep-all;
			font-weight: 700;
		}
	</style>


	<script>
		var project_id = "<%- param.file.project_id %>";
		var resource_id = "<%- param.file.resource_id %>";
		var language_id = "<%- param.file.language_id %>";
		var previewFileList = JSON.parse('<%- JSON.stringify(param.file.previewFileList) %>');
		var encodedUrl = "<%- encodedUrl %>";
		var date = "<%- param.file.date %>";
		var time = "<%- param.file.time %>";
		// var date = new Date().toLocaleDateString();
		// var time = new Date().toLocaleTimeString();
	</script>
</head>

<body>
	<div class="wrapper">
		<div class="wrapper-background"></div>
		<div class="content">
			<div class="title">
				<%- param.file.name %>
			</div>
		</div>
	</div>
</body>

</html>