html, body{
    width:100%;
    height:100%;
    background-color:#44455f;
}

#mainWrap{
    position: relative;
    border:0px solid red;   
    box-sizing:border-box;
    width:100%;
    height:100%;
}

#join_box {
    border: 0px solid #5f5c44;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;   
    width: 400px;
    height:530px;
    top: -50px; /* 현재박스 높이 고려해서 적당히 - 적용 */               
    bottom: 0;            
    left: 0;              
    right: 0;             
    margin: auto; 
    text-align: center;
    vertical-align: middle; 
    padding:20px;  
}

#join_box img,
#join_box div,
#join_box p,
#join_box ul{
    margin-top:20px;
}

#join_box select{
    font-size:16px;
    height:30px;
}

#join_box ul li{
    float:left;
    width:33.3333%;
}

#join_box ul li img{
    width:100px;
}

#join_box span,
#join_box select{
    border:0px solid red;
    display:inline-block;
    width:140px;
}

#join_box span{
    border:0px solid red;
    display:inline-block;
    width:80px;
}

#join_box span{
    text-align: right;
    padding-right:10px;
}

#join_box select{
    text-align: left;
}

#join_box h1{
    margin-bottom:20px;
}

#join_box hr{
    width:94%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin:0 auto;    
}