html, body{
    width:100%;
    height:100%;
    background-color:#564f75;
}

#mainWrap{
    position: relative;
    border:0px solid red;   
    box-sizing:border-box;
    width:100%;
    height:100%;
}

#loginBox {
    border:0px solid red;
    border-radius: 5px;
    background-color:#fff;
    position: absolute;   
    width: 350px;
    height: 550px;
    top: -50px; /* 현재박스 높이 고려해서 적당히 - 적용 */               
    bottom: 0;            
    left: 0;              
    right: 0;             
    margin: auto; 
    text-align: center;
    vertical-align: middle;    
    padding-top:10px;        
}

#loginBox img,
#loginBox p,
#loginBox hr{
    margin-top:12px;    
}

#loginBox div img{
    border:0px solid #333;
    width:180px;    
    cursor:pointer;
}

#loginBox div input{
    border:1px solid rgba(153, 153, 153, 0.452);
    border-radius: 5px;
    box-sizing:border-box;
    width:70%;
    height:30px;
    margin-bottom:10px;
    font-size:14px;
    font-weight: normal;
    padding:5px;
    padding-left:8px;
}
#loginBox div input:nth-of-type(3){
    border:1px solid rgba(17, 137, 184, 0.63);
    background-color:rgba(8, 144, 202, 0.801);
    color:#fff;
    height:35px;
    cursor:pointer;
    font-size:16px;
}

#loginBox hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top:0;
    width:94%;
    margin:15px auto;        
}

#loginBox p a{
    color:#6559d4;
    text-decoration: none;
}

#loginBox p:nth-last-of-type(1){
    font-style: italic;
    color:rgb(214, 206, 206);
} 

#loginBox p:nth-last-of-type(1) a{
    color:rgb(241, 235, 235);
}
