.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.918945;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.785156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc4{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(102,102,102),0 0.015em rgb(102,102,102),0.015em 0 rgb(102,102,102),0 -0.015em  rgb(102,102,102);}
.sc2{text-shadow:-0.015em 0 rgb(0,176,240),0 0.015em rgb(0,176,240),0.015em 0 rgb(0,176,240),0 -0.015em  rgb(0,176,240);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc4{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(102,102,102);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,176,240);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-79.926649px;}
._2{margin-left:-43.893249px;}
._1{margin-left:-40.121021px;}
._8{margin-left:-35.687545px;}
._6{margin-left:-19.450882px;}
._3{margin-left:-1.216001px;}
._7{width:1.344262px;}
._9{width:42.677386px;}
._4{width:171.730887px;}
._5{width:515.861868px;}
.fc2{color:rgb(0,176,240);}
.fc1{color:rgb(102,102,102);}
.fc3{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:27.929470px;}
.fs4{font-size:35.909320px;}
.fs3{font-size:38.901763px;}
.fs0{font-size:39.899243px;}
.fs2{font-size:43.889169px;}
.fs1{font-size:79.798487px;}
.y0{bottom:0.000000px;}
.y10{bottom:1.496215px;}
.y1{bottom:1.619629px;}
.y12{bottom:2.244320px;}
.ye{bottom:2.244333px;}
.y1d{bottom:2.244340px;}
.y1b{bottom:2.244344px;}
.y18{bottom:2.244346px;}
.y2f{bottom:56.856443px;}
.y2e{bottom:176.554176px;}
.y2d{bottom:190.020171px;}
.y2c{bottom:203.486165px;}
.y2b{bottom:216.952160px;}
.y2a{bottom:229.670045px;}
.y29{bottom:239.395485px;}
.y28{bottom:249.869037px;}
.y27{bottom:263.335032px;}
.y26{bottom:276.801027px;}
.y25{bottom:290.267022px;}
.y24{bottom:303.733017px;}
.y23{bottom:317.199012px;}
.y22{bottom:329.916896px;}
.y21{bottom:342.634780px;}
.y20{bottom:355.352664px;}
.y1f{bottom:368.070548px;}
.y1e{bottom:381.536543px;}
.y1c{bottom:397.370270px;}
.y1a{bottom:413.828705px;}
.y19{bottom:430.287140px;}
.y17{bottom:445.997468px;}
.y15{bottom:462.455933px;}
.y16{bottom:463.952149px;}
.y14{bottom:478.166260px;}
.y13{bottom:479.662476px;}
.y11{bottom:493.876587px;}
.yf{bottom:495.372803px;}
.yd{bottom:520.808564px;}
.yc{bottom:535.647374px;}
.yb{bottom:549.113369px;}
.ya{bottom:574.549137px;}
.y9{bottom:601.481127px;}
.y8{bottom:627.665006px;}
.y7{bottom:643.375334px;}
.y6{bottom:658.337550px;}
.y5{bottom:687.513873px;}
.y4{bottom:721.178860px;}
.y3{bottom:745.118406px;}
.y2{bottom:775.042840px;}
.h7{height:10.473541px;}
.h9{height:11.969757px;}
.h6{height:11.969787px;}
.hc{height:11.969788px;}
.hd{height:20.347055px;}
.hb{height:26.160501px;}
.h2{height:29.067222px;}
.ha{height:29.936122px;}
.h8{height:30.263421px;}
.h5{height:32.785373px;}
.h4{height:36.988626px;}
.h3{height:58.134444px;}
.h1{height:839.380371px;}
.h0{height:841.000000px;}
.w2{width:35.161224px;}
.w3{width:59.848846px;}
.w4{width:72.566711px;}
.w1{width:172.813599px;}
.w5{width:173.561707px;}
.w0{width:594.000000px;}
.x0{left:0.000000px;}
.x6{left:5.984887px;}
.xb{left:16.458432px;}
.xe{left:20.198986px;}
.xa{left:23.191441px;}
.xc{left:29.176328px;}
.xd{left:53.863973px;}
.x3{left:71.818640px;}
.x4{left:179.546599px;}
.x5{left:210.967254px;}
.x1{left:246.128463px;}
.x7{left:384.528961px;}
.xf{left:395.002518px;}
.x8{left:420.438293px;}
.x9{left:481.035278px;}
.x2{left:525.173803px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-106.568865pt;}
._2{margin-left:-58.524331pt;}
._1{margin-left:-53.494695pt;}
._8{margin-left:-47.583393pt;}
._6{margin-left:-25.934509pt;}
._3{margin-left:-1.621335pt;}
._7{width:1.792350pt;}
._9{width:56.903181pt;}
._4{width:228.974516pt;}
._5{width:687.815825pt;}
.fs5{font-size:37.239293pt;}
.fs4{font-size:47.879093pt;}
.fs3{font-size:51.869018pt;}
.fs0{font-size:53.198991pt;}
.fs2{font-size:58.518893pt;}
.fs1{font-size:106.397982pt;}
.y0{bottom:0.000000pt;}
.y10{bottom:1.994954pt;}
.y1{bottom:2.159505pt;}
.y12{bottom:2.992427pt;}
.ye{bottom:2.992444pt;}
.y1d{bottom:2.992454pt;}
.y1b{bottom:2.992458pt;}
.y18{bottom:2.992462pt;}
.y2f{bottom:75.808590pt;}
.y2e{bottom:235.405567pt;}
.y2d{bottom:253.360227pt;}
.y2c{bottom:271.314887pt;}
.y2b{bottom:289.269547pt;}
.y2a{bottom:306.226726pt;}
.y29{bottom:319.193980pt;}
.y28{bottom:333.158716pt;}
.y27{bottom:351.113376pt;}
.y26{bottom:369.068036pt;}
.y25{bottom:387.022696pt;}
.y24{bottom:404.977356pt;}
.y23{bottom:422.932016pt;}
.y22{bottom:439.889194pt;}
.y21{bottom:456.846373pt;}
.y20{bottom:473.803552pt;}
.y1f{bottom:490.760731pt;}
.y1e{bottom:508.715391pt;}
.y1c{bottom:529.827027pt;}
.y1a{bottom:551.771607pt;}
.y19{bottom:573.716187pt;}
.y17{bottom:594.663291pt;}
.y15{bottom:616.607911pt;}
.y16{bottom:618.602865pt;}
.y14{bottom:637.555013pt;}
.y13{bottom:639.549968pt;}
.y11{bottom:658.502116pt;}
.yf{bottom:660.497071pt;}
.yd{bottom:694.411419pt;}
.yc{bottom:714.196499pt;}
.yb{bottom:732.151159pt;}
.ya{bottom:766.065516pt;}
.y9{bottom:801.974836pt;}
.y8{bottom:836.886675pt;}
.y7{bottom:857.833778pt;}
.y6{bottom:877.783400pt;}
.y5{bottom:916.685163pt;}
.y4{bottom:961.571813pt;}
.y3{bottom:993.491209pt;}
.y2{bottom:1033.390453pt;}
.h7{height:13.964721pt;}
.h9{height:15.959676pt;}
.h6{height:15.959716pt;}
.hc{height:15.959717pt;}
.hd{height:27.129407pt;}
.hb{height:34.880667pt;}
.h2{height:38.756296pt;}
.ha{height:39.914830pt;}
.h8{height:40.351228pt;}
.h5{height:43.713830pt;}
.h4{height:49.318168pt;}
.h3{height:77.512592pt;}
.h1{height:1119.173828pt;}
.h0{height:1121.333333pt;}
.w2{width:46.881632pt;}
.w3{width:79.798461pt;}
.w4{width:96.755615pt;}
.w1{width:230.418132pt;}
.w5{width:231.415609pt;}
.w0{width:792.000000pt;}
.x0{left:0.000000pt;}
.x6{left:7.979849pt;}
.xb{left:21.944576pt;}
.xe{left:26.931981pt;}
.xa{left:30.921922pt;}
.xc{left:38.901771pt;}
.xd{left:71.818631pt;}
.x3{left:95.758186pt;}
.x4{left:239.395466pt;}
.x5{left:281.289672pt;}
.x1{left:328.171284pt;}
.x7{left:512.705281pt;}
.xf{left:526.670024pt;}
.x8{left:560.584391pt;}
.x9{left:641.380371pt;}
.x2{left:700.231737pt;}
}
