<%- include('admin_header') %>

    <section id="tag_contents">
        <div id="tagViewBox">
            <div id="tagView">
                <ul></ul>
                <p id="loading">
                    <img src="../img/loader.gif" alt="Loading..." />
                </p>
            </div>
            <div id="Deltag">
                <button id="tag_delete">선택 태그 삭제</button>
            </div>
        </div>
        <div id='tagDataView'>
            <p id="loading2">
                <img src="../img/loader2.gif" alt="Loading..." />
            </p>
            <div id="tagName">Loading...</div>

            <div class="select selectL is-open" name='category_level_1'>
                <div class="placeDiv">
                    <span class="placeholder">- 대분류 -</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul>
                    <li value="1">장소</li>
                    <li value="2">활동</li>
                    <li value="3">요리</li>
                    <li value="4">재료</li>
                    <li value="5">Others</li>
                </ul>
                <input type="hidden" name="changeL" />
            </div><br />
            <div class="select selectS" name='category_level_2'>
                <div class="placeDiv">
                    <span class="placeholder">- 소분류 -</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul>
                    <li value="1">장소</li>
                    <li value="2">활동</li>
                    <li value="3">한식</li>
                    <li value="4">중식</li>
                    <li value="5">일식</li>
                    <li value="6">요리/Others</li>
                    <li value="7">육류</li>
                    <li value="8">어류</li>
                    <li value="9">조류</li>
                    <li value="10">채소</li>
                    <li value="11">과일</li>
                    <li value="12">공산품</li>
                    <li value="13">동물</li>
                    <li value="14">식물</li>
                    <li value="15">물건</li>
                    <li value="16">자연경관</li>
                </ul>
                <input type="hidden" name="changeS" />
            </div><br />
            <button id="tagData_submit">submit</button><br />
        </div>
    </section>

    <script type="text/javascript" rel="javascript" src="/js/tagData.js"></script>

    <%- include('admin_footer') %>