<%- include('admin_header') %>
    
    <section id="main_contents">
        <article id="translation_countM">
            <div class="count_box">
                <div class="line"></div>
                <span class="counts_title">번역물 총 개수</span>
                <div id="total_requests" class="total_num">
                    <span class="triangle"></span>
                    <span class="num"></span>
                </div>
            </div>
            <div class="count_box">
                <div class="line"></div>
                <span class="counts_title">번역완료</span>
                <div id="pendings" class="total_num">
                    <span class="triangle"></span>
                    <span class="num"></span>
                </div>
            </div>
            <div class="count_box">
                <div class="line"></div>
                <span class="counts_title">의뢰 대기중</span>
                <div id="ongoings" class="total_num">
                    <span class="triangle"></span>
                    <span class="num"></span>
                </div>
            </div>
            <div class="count_box">
                <div class="line"></div>
                <span class="counts_title">번역 진행중</span>
                <div id="completes" class="total_num">
                    <span class="triangle"></span>
                    <span class="num"></span>
                </div>
            </div>
        </article>
        <div class="clearfix"></div>
        <article id="translationM">
            <table class="table_board">
                <thead>
                    <tr>
                        <th colspan="5" class="text_center">번역 마감 임박</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Document</th>
                        <th>의뢰인</th>
                        <th>번역가</th>
                        <th class="text_center">마감일</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </article>
    </section>

    <script type="text/javascript" rel="javascript" src="/js/admin_main.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>
    
<%- include('admin_footer') %>