<%- include('admin_header') %>

    <section id="projectG_resource_contents">
        <table class="table_board projectG">
            <thead>
                <th></th>
                <th>분야</th>
                <th>언어</th>
                <th>어조</th>
                <th>번역가</th>
                <th class="text_center">
                    <!--<input type="checkbox" id="checkAll" />--><label for="checkAll">선택</label>
                </th>
            </thead>
            <tbody></tbody>
        </table>
    </section>

    <!-- ************************************************
 
        프로젝트 리소스 생성 팝업창

    ************************************************ -->
     <div class="popup">
        <div class="popup_box" id="project_popup">
            <span class="popup_close">X</span>
            <label for="input_project_title" id="resource_title">
                Resource title
                <input type="text" id="input_resource_title" />
            </label>
            <div class="resource_create_contents">
                <span class="rectangle_box"></span>
                <span class="project_contents">원문언어 : </span>
                <select name="original_lang">
                    <option>선택</option>
                    <option value="1">한국어</option>
                    <option value="2">영어(미국)/미국</option>
                    <option value="3">영어(영국)/영국</option>
                    <option value="4">북경어(중국)/중국본토</option>
                    <option value="5">광동어(중국)/중국(홍콩, 마카오)</option>
                    <option value="6">태국어</option>
                    <option value="7">대만어(중국)</option>
                    <option value="8">일본어</option>
                    <option value="9">스페인어</option>
                    <option value="10">포르투갈어</option>
                    <option value="11">베트남어</option>
                    <option value="12">독일어</option>
                    <option value="13">프랑스어</option>
                </select><br />
            </div>
            <div class="resource_create_contents">
                <span class="rectangle_box"></span>
                <span class="project_contents" style='letter-spacing:33px'>설</span>명 :
                <input type="text" id="description"/>
            </div>
            <div class="resource_create_contents">
                <span class="rectangle_box"></span>
                <span style='letter-spacing:8px'>번역</span>톤 :
                <select name="tone_id">
                    <option value="1">원망</option>
                    <option value="2">긴급</option>
                    <option value="3">애매한</option>
                    <option value="4">존경</option>
                    <option value="5">애원</option>
                    <option value="6">비판</option>
                    <option value="7">변명</option>
                    <option value="8">솔직</option>
                    <option value="9">감정적인</option>
                    <option value="10">기분좋은</option>
                </select>
                <span class="rectangle_box" style="margin-left:5px"></span>
                공유레벨 :
                <select name="read_permission_level">
                    <option value="1" selected>무료</option>
                    <option value="2">유료</option>
                </select>
            </div>
            <div class="resource_create_contents">
                <span class="rectangle_box"></span>
                <span style='letter-spacing:33px'>가</span>격 : 
                <input type="number" name="price" placeholder="원" class="text_right" />
                <span class="rectangle_box" style="margin-left:5px"></span>
                원문파일 : <input type="checkbox" name="is_original" />
            </div>
            <div class="project_create_contents">
                <span id="projectG_resource_create" class="project_push">Create</span>
            </div>
        </div>
    </div>

    <script type="text/javascript" rel="javascript" src="/js/admin_projectG_resource.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

<%- include('admin_footer') %>