<%- include('admin_header') %>

    <div id="login_bg">
        <section id="login_wrap">
            <h3>로그인</h3>
            <form id="loginform">
                <div class="login_box">
                    <label for="my_id">아이디</label>
                    <input type="email" id="my_id" name="my_id" placeholder="email" autofocus /><br />
                    <label for="my_pass">비밀번호</label>
                    <input type="password" id="my_pass" name="my_pass" placeholder="password" />
                </div>
                <div class="login_btn">
                    <button type="submit" id="loginB">로그인</button>
                </div>
            </form>
        </section>
    </div>

    <script type="text/javascript" rel="javascript" src="/js/admin_login.js"></script>

<%- include('admin_footer') %>