<%- include('admin_header') %>

<section id="projectG_resource_view_contents">
    <div id="resource_contents">
        <div>
            <span class="rectangle_box"></span>
            <span>Resource</span>&nbsp;:
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:45px">언</span>어 :
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:45px">제</span>목 :
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:11px">번역</span>가 :
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:45px">설</span>명 : 
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:11px">번역</span>톤 :
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span>공유레벨</span>&nbsp;:
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:45px">가</span>격 :
            <span class='text'></span>
        </div>
        <div class="clearfix"></div>
        <!--<div>
            <span class='little_title'>원문파일여부 : </span>
            <span class='text'></span>
        </div>-->
        <span class="rectangle_box"></span>
        <span style="letter-spacing:45px">파</span>일
        <table class="fileTable">
            <tr>
                <th>파일명</th>
                <th>용량</th>
                <th class="text_center">권한</th>
            </tr>
        </table>
    </div>
    <div class="popup">
        <div class="popup_box">
            <h3></h3>
            <span class="popup_close">X</span>
            <iframe class="iframes" frameborder="0" scrolling="yes"></iframe>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="text-align:center;">
        <button class="resource_modify">modify</button>
    </div>
</section>

<script type="text/javascript" rel="javascript" src="/js/admin_projectG_resource_view.js"></script>
<script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

<%- include('admin_footer') %>