<!-- ************************************************
 
    유저관리 상세정보 수정 페이지

************************************************ -->
<div id="popup" class="popup">
    <div id="user_modify"  class="popup_box">
        <span class="popup_close">X</span>
        <div id="modify_pic">
            <img alt="이미지" />
            <!--<input type="file" name="photoChange" id="photoChange" />
            <label for="photoChange">사진 바꾸기</label>-->
        </div>
        <div id="modify_info">
            <div>
                <span class='circle_box'></span>
                <span id="user_mail"></span>
                <span></span>
            </div>
            <div class="clearfix"></div>
            <div>
                <span class='circle_box'></span>
                <span class="bold">Name : </span>
                <span id="user_name"></span>
            </div>
            <div class="clearfix"></div>
            <div id="language_box">
                <div>
                    <span class='circle_box'></span>
                    <span class='language bold'>언어 : </span>
                </div>
                <ul>
                    <li>
                        <input type="checkbox" name="lang" id="lang1" value="1" />
                        <label for="lang1">한국어</label>
                    </li>
                    <li>
                         <input type="checkbox" name="lang" id="lang2" value="2" />
                        <label for="lang2">영어/미국</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang3" value="3" />
                        <label for="lang3">영어/영국</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang4" value="4" />
                        <label for="lang4">중국/보통어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang5" value="5" />
                        <label for="lang5">중국/광동어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang6" value="6" />
                        <label for="lang6">태국어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang7" value="7" />
                        <label for="lang7">중국/대만어</label>
                    </li>
                    <li>
                         <input type="checkbox" name="lang" id="lang8" value="8" />
                        <label for="lang8">일본어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang9" value="9"/>
                        <label for="lang9">스페인어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang10" value="10"/>
                        <label for="lang10">포르투갈어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang11" value="11" />
                        <label for="lang11">독일어</label>
                    </li>
                    <li>
                        <input type="checkbox" name="lang" id="lang12" value="12" />
                        <label for="lang12">프랑스어</label>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div>
                <span class='circle_box'></span>
                <span class="bold">활동 상황 : </span>
                <select name="activity_id" class="activity">
                    <option value='active'>활동</option>
                    <option value='deactive'>비활동</option>
                </select>
            </div>
        </div>
    </div>
</div>