<%- include('admin_header') %>
	<script>
		var project_id = parseInt("<%- project_id %>");
		var resource_id = parseInt("<%- resource_id %>");
	</script>
	<div class="pretranslated">
		<div class="container">
			<h1>번역물 정보</h1>
			<div class="projectInformation">
				<form id="editResource">
					<span style="text-align: right;">번역물 등록일: ${ new Date(data.register_timestamp).toLocaleString() }</span>
					<table>
						<tr>
							<td>
								<h3>제목:　</h3>
							</td>
							<td>
								<input name='theme' type='text' value="${ data.theme }">
							</td>
						</tr>

						<tr>
							<td>
								<h3>요약/설명:　</h3>
							</td>
							<td>
								<input name='description' type='text' value="${ data.description }">
							</td>
						</tr>

						<tr>
							<td>
								<h3>톤:　</h3>
							</td>
							<td>
								<select name="tone_id">
									<option value="${ data.tone_id }">${ (["","원망","긴급","애매한","존경","애원","비판","변명","솔직","감정적인","기분좋은"])[ parseInt(data.tone_id) ] }(현재 설정)</option>
									<option value="1">원망</option>
									<option value="2">긴급</option>
									<option value="3">애매한</option>
									<option value="4">존경</option>
									<option value="5">애원</option>
									<option value="6">비판</option>
									<option value="7">변명</option>
									<option value="8">솔직</option>
									<option value="9">감정적인</option>
									<option value="10">기분좋은</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>
								<h3>공개범위:　</h3>
							</td>
							<td>
								<select name="read_permission_level">
									<option value="${ data.read_permission_level }">${ (['무료로 전체보기(로그인 필요없이)','무료로 다운로드(이메일 입력/로그인 후)','유료로 다운로드', '무료로 더 보기(로그인 후)', '유료로 더 보기'])[data.read_permission_level]
										}(현재 설정)</option>
									<option value="0">무료로 전체보기(로그인 필요없이)</option>
									<option value="1">무료로 다운로드(이메일 입력/로그인 후)</option>
									<option value="2">유료로 다운로드</option>
									<option value="3">무료로 더 보기(로그인 후)</option>
									<option value="4">유료로 더 보기</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>
								<h3>가격($):　</h3>
							</td>
							<td>
								<input name='price' type='text' value="${ data.price }">
							</td>
						</tr>

						<tr>
							<td>
								<h3>번역물 언어:　</h3>
							</td>
							<td>
								<select name="target_language_id">
									<option value="${ data.target_language_id }">${ data.target_language }(현재 설정)</option>
									<option value="1">한국어</option>
									<option value="2">영어(미국)/미국</option>
									<option value="3">영어(영국)/영국</option>
									<option value="4">북경어(중국)/중국본토</option>
									<option value="5">광동어(중국)/중국(홍콩, 마카오)</option>
									<option value="6">태국어</option>
									<option value="7">대만어(중국)</option>
									<option value="8">일본어</option>
									<option value="9">스페인어</option>
									<option value="10">포르투갈어</option>
									<option value="11">베트남어</option>
									<option value="12">독일어</option>
									<option value="13">프랑스어</option>
								</select>
							</td>
						</tr>
					</table>

					<br />
					<button type="submit">변경사항 저장</button>
					<button id="deleteResource" type="button" style="color: red">번역물 삭제</button>

				</form>
			</div>
			<br />
			<h1>파일 리스트</h1>
			<input id="addFile" type="file" style="display: none;">
			<button onclick='$("#addFile").click();'>파일 추가</button>
			<button id="addText">텍스트 추가</button>

			<div class="fileList">
				<form id="file${ data.id }" class="fileList-item">
					<span>

						<h4>
							<select onchange="editFilePermission(this, parseInt('${ data.id }'));">
								<option value="${ data.preview_permission }">${ (["미리보기 전용 파일","다운로드 전용","미리보기 + 다운로드 가능"])[data.preview_permission] }(현재 설정)</option>
								<option value="0">미리보기 전용 파일</option>
								<option value="1">다운로드 전용</option>
								<option value="2">미리보기 + 다운로드 가능</option>
							</select>
							／${ data.file_url.split('/').pop() }
						</h4>
						<button type="button" onclick="deleteFile(parseInt('${ data.id }'));">삭제</button>
						<input id="editFile${ data.id }" class="editFile" type="file" style="display: none;" onchange="editFile(this, parseInt('${ data.id }'));">
						<button type="button" onclick="$('#editFile${ data.id }').click();">파일변경</button>
						<br />
					</span>
					<!-- <span>
						<h2>${ data.file_url }</h2>
					</span> -->
					<!-- <br /> -->
					<!-- <button type="button" style="width: auto; padding: 5px 10px;" onclick="window.open('/translated/${ project_id }/${ data.id }');">링크 열기(새창)</button>
					<button type="button" style="width: auto; padding: 5px 10px;" onclick="location.href='/admin/pretranslated/${ project_id }/${ data.id }';">번역물 정보 및 파일 관리</button> -->
					<!-- <br /> -->
					<br />
				</form>
			</div>

		</div>
	</div>
	<script src="/js/admin_pretranslated_fileList.js"></script>
	<%- include('admin_footer') %>