<%- include('admin_header') %>

    <section id="userM_contents">
        <table class="table_board">
            <thead>
                <th></th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>언어</th>
                <th>키워드</th>
                <th class='text_center'>번역건수</th>
                <th class='text_center'>최근작업</th>
                <th class='text_center'>진행상황</th>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    
    <script type="text/javascript" rel="javascript" src="/js/admin_userM_modify.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/admin_userM_translator.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

    <%- include('admin_userM_modify') %>
<%- include('admin_footer') %>