<%- include('admin_header') %>
	<div class="pretranslated">
		<div class="container">
			<button onclick="newProject();">새 프로젝트 추가</button>
			<br />
			<div class="projectList">
				<div class="projectList-item" onclick="location.href='/admin/pretranslated/${ data.id }';">
					<div class="projectList-item-background" style="background-image: url('${ data.cover_photo_url }');"></div>
					<span style="text-align: right;">${ new Date(data.project_register_timestamp).toLocaleString() }</span>
					<span>
						<h1>제목: ${ data.theme }</h1>
					</span>
					<span>
						<h2>설명: ${ data.description }</h2>
					</span>
					<span>
						<h2>원작자: ${ data.author }</h2>
					</span>
					<span>
						<h3>원문언어: ${ data.original_lang }</h3>
					</span>
					<br />
				</div>
			</div>

		</div>
	</div>
	<script src="/js/admin_pretranslated_projectList.js"></script>
	<%- include('admin_footer') %>