<%- include('admin_header') %>

    <section id="userM_contents">
        <table class="table_board userDiv_table">
            <thead>
                <th></th>
                <th>Name</th>
                <th>E-mail</th>
                <th class="text_center">구분</th>
                <th class="text_center">최근 작업</th>
                <th class="text_center">활동 상황</th>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    
    <script type="text/javascript" rel="javascript" src="/js/admin_userM_modify.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/admin_userM.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

    <%- include('admin_userM_modify') %>
<%- include('admin_footer') %>