<%- include('admin_header') %>
	<script>
		var project_id = parseInt("<%- project_id %>");
	</script>
	<div class="pretranslated">
		<div class="container">
			<h1>프로젝트 정보</h1>
			<div class="projectInformation">
				<div class="projectInformation-cover" style="background-image: url('${ data.cover_photo_url }');" onclick="window.open('${ data.cover_photo_url }');"
				 title="새 창에서 커버사진 열람"></div>
				<span style="text-align: right;">프로젝트 등록일: ${ new Date(data.project_register_timestamp).toLocaleString() }</span>
				<span>
					<h3>커버사진 변경:
						<input id="editCover" type="file" accept="image/*">
					</h3>
				</span>
				<hr>
				<form id="editProject">

					<table>
						<tr>
							<td>
								<h3>원작자:　</h3>
							</td>
							<td>
								<input name="author" type='text' value="${ data.author }">
							</td>
						</tr>
						<tr>
							<td>
								<h3>원문링크:　</h3>
							</td>
							<td>
								<input name="quote_url" type='text' value="${ data.quote_url?data.quote_url:'' }">
							</td>
						</tr>
						<tr>
							<td>
								<h3>원문언어:　</h3>
							</td>
							<td>
								<select name="original_lang_id">
									<option value="${ data.original_lang_id }">${ data.original_lang }(현재 설정)</option>
									<option value="1">한국어</option>
									<option value="2">영어(미국)/미국</option>
									<option value="3">영어(영국)/영국</option>
									<option value="4">북경어(중국)/중국본토</option>
									<option value="5">광동어(중국)/중국(홍콩, 마카오)</option>
									<option value="6">태국어</option>
									<option value="7">대만어(중국)</option>
									<option value="8">일본어</option>
									<option value="9">스페인어</option>
									<option value="10">포르투갈어</option>
									<option value="11">베트남어</option>
									<option value="12">독일어</option>
									<option value="13">프랑스어</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<h3>태그:　</h3>
							</td>
							<td>
								<span id="tags" style="display: inline;">

								</span>
								<input type="text" placeholder="태그 추가" value="" id="addTag">
								<!-- <select name="format_id" id="">
									<option value="${ data.format_id }">${ data.format }(현재 설정)</option>
									<option value="0">전자우편</option>
									<option value="1">편지</option>
									<option value="2">에세이</option>
									<option value="3">광고</option>
									<option value="4">초대장</option>
									<option value="5">안부</option>
									<option value="6">출판물</option>
									<option value="7">대본</option>
									<option value="8">리서치</option>
									<option value="9">레포트</option>
									<option value="10">메뉴</option>
									<option value="11">지원서</option>
									<option value="12">설명서</option>
									<option value="13">SNS</option>
									<option value="14">기타</option>
								</select> -->
							</td>
						</tr>
						<tr>
							<td>
								<h3>플랫폼:　</h3>
							</td>
							<td>
								<input type="text" name="platform" value="${ data.platform }" id="inputPlatform">
								<!-- <select name="subject_id" id="">
									<option value="${ data.subject_id }">${ data.subject }(현재 설정)</option>
									<option value="0">예술</option>
									<option value="1">스포츠</option>
									<option value="2">과학</option>
									<option value="3">건강</option>
									<option value="4">경제</option>
									<option value="5">음악</option>
									<option value="6">문학</option>
									<option value="7">정치</option>
									<option value="8">비즈니스</option>
									<option value="9">종교</option>
									<option value="10">쇼핑</option>
									<option value="11">패션</option>
								</select> -->
							</td>
						</tr>
						<tr>
							<td>
								<h3>그룹:　</h3>
							</td>
							<td>
								<input type="text" name="content_group" value="${ data.content_group?data.content_group:'' }" placeholder="시리즈물 그루핑, 단편이면 빈칸으로..." size="30">
							</td>
						</tr>
					</table>
					<button type="submit">변경사항 저장</button>
					<button id="deleteProject" type="button" style="color: red">프로젝트 삭제</button>
				</form>
			</div>
			<h1>번역물 리스트</h1>
			<button onclick="newResource();">새 번역물 추가</button>
			<div class="resourceList">
				<!-- <div class="resourceList-item" onclick="location.href='/translated/${ project_id }/${ data.id }';"> -->
				<div class="resourceList-item">
					<!-- <div class="resourceList-item-background" style="background-image: url('${ data.cover_photo_url }');"></div> -->
					<span style="text-align: right;">번역물 등록일: ${ new Date(data.register_timestamp).toLocaleString() }</span>
					<span>
						<h1>${ data.target_language }(${ (["무료, 전체","무료, 다운","유료","무료, 더보기", "유료, 더보기"])[data.read_permission_level] })</h1>
					</span>
					<span>
						<h2>${ data.theme }</h2>
					</span>
					<span>
						<h2>${ data.description }</h2>
					</span>
					<br />
					<button type="button" style="width: auto; padding: 5px 10px;" onclick="window.open('/translated/${ project_id }/${ data.id }');">링크 열기(새창)</button>
					<button type="button" style="width: auto; padding: 5px 10px;" onclick="location.href='/admin/pretranslated/${ project_id }/${ data.id }';">번역물 정보 및 파일 관리</button>
					<br />
					<br />
				</div>
			</div>

		</div>
	</div>
	<script src="/js/admin_pretranslated_resourceList.js"></script>
	<%- include('admin_footer') %>