<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>test</title>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script>
        if(0 == 0) {
            console.log("test1")

        }
        if(0 == 0) {
            console.log("test2")

        }
        if(0 == 0) {
            console.log("test3")

        }
        if(0 == 0) {
            console.log("test4")

        }
        if(0 == 0) {
            console.log("test5")
        } 
    </script>-->
    <script type="text/javascript">
    var json3 = { "d": "[{\"Id\":1,\"UserName\":\"Sam Smith\"},{\"Id\":2,\"UserName\":\"Fred Frankly\"},{\"Id\":1,\"UserName\":\"Zachary Zupers\"}]" }

    DownloadJSON2CSV(json3.d);

    function DownloadJSON2CSV(objArray) {
        var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;

        var str = '';

        for (var i = 0; i < array.length; i++) {
            var line = '';

            for (var index in array[i]) {
                    line += array[i][index] + ',';
            }

        // Here is an example where you would wrap the values in double quotes
        // for (var index in array[i]) {
        //    line += '"' + array[i][index] + '",';
        // }

            line.slice(0,line.Length-1); 

            str += line + '\r\n';
        }
    // Might want to change this output
        window.open( "data:text/csv;charset=utf-8," + escape(str))
    }
    </script>
</head>
<body>

</body>
</html>