<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>translation_view</title>
    <link type="text/css" rel="stylesheet" href="./css/translation_view.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="wrap">
            <img src="./img/ciceron_logo2.png" />
            <div id="transView">
                <!--<div id="original_lang_list" class="translation_list">영어</div>
                <div id="transBtn"><button><img src="./img/trans_icon.jpg" alt="trans_icon" /></button></div>
                <div id="target_lang_list" class="translation_list">한국어</div>-->
                <select name="lang_select">
                    <option value="0" selected>
                       영어 -> 한국어
                    </option>
                    <option value="1">
                       한국어 -> 영어
                    </option>
                </select>
            </div>
        </div>
    </header>

    <div class="clearFix"></div>

    <section>
        <div class="wrap">
            <span id="ciceron_slogan">"모이면 번역이 된다."</span>
            
            <div class="clearfix"></div>
            
            <div id="input_translations" class="text_container">
                <div id="original_lang" class="lang">
                    <span></span>
                </div>
                <div class="box">
                    <textarea placeholder="번역물 입력 바랍니다." maxlength="1000"></textarea>
                    <div>
                        <span id="count">0/1000</span>
                        <button id="transButton"><img width="20" src="./img/logo.png" /> 번역하기</button>
                    </div>
                </div>
            </div>
            <div id="get_translations" class="text_container">
                <div id="target_lang" class="lang">
                    <span></span>
                </div>
                <div class="box">
                    <div id="get_text"></div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div id="slogan">행간을 번역하는 씨세론입니다. <span>무엇이 궁금하십니까?</span></div>

            <div class="clearfix"></div>

            <div id="ad"></div>

        </div>
    </section>

    <div class="clearFix"></div>

    <footer>
        <div class="wrap">
            <span>&copy; 2017, inc, All rights reserved.</span>
            <ul>
                <li>
                    <span>메일 : </span>
                    <a href="mailto:chingoo@ciceron.me">scotch@ciceron.me</a>
                </li>
                <li>
                    <span> 문의 : </span>
                    <a href="tel:+82-2-6441-3838">+82-2-6441-3838</a>
                </li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" rel="javascript" src="./js/T_and_B_event.js"></script>
</body>
</html>