@charset "utf-8";

@font-face {
    font-family: DS_DIGIT;
    src: url(../fonts/admin_fonts/DS-DIGIT.TTF);
}
@font-face {
    font-family: NotoSansCJKkr;
    src: url(../fonts/admin_fonts/NotoSans-Regular.TTF);
}
@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translate(0%, 50px);
    }
    100% {
        visibility:visible;
        opacity: 1;
        transform: translate(0%, 0);
    }
}

@keyframes loadingAni {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/*******************************************
    
    CSS셋팅

********************************************/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "NotoSansCJKkr";

    -webkit-transition: all 0.2s ease-in-out ;
    -moz-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
}

grammarly-ghost, grammarly-ghost *{
    -webkit-transition: all 0s ;
    -moz-transition: all 0s;
    transition: all 0s;
}

.pairing_box, .pairing_box * {
    -webkit-transition: all 0s ;
    -moz-transition: all 0s;
    transition: all 0s;
}

li { list-style: none;}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
img { vertical-align: top;}
.clearfix {
    clear: both;
    content: "";
    display: block;
}
button {
    display: inline-block;
    width: 93px;
    height: 35px;
    background-color: #f6a623;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid #ff9251;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #ff9251;
    border-bottom: 5px solid #f6a623;
}
.cropper-container, .cropper-container * {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}
.text_center { text-align: center;}
.text_right { text-align: right;}
select {
    background: #ffffff;
    cursor: pointer;
}
input[type='checkbox'] { 
    cursor: pointer;
    width:16px;
    height: 16px;
}
input { text-indent: 5px;}
.bold {
    display: inline-block;
    font-weight: bold;
}
/*******************************************

    배경 및 해상도 설정.

********************************************/
body {
    position: relative;
    height: 100%;
}
body #top_back {
    width: 100%; height: 86px;
    background: #00c1f3;
    position: absolute;
    top: 0; left: 0;
    z-index: -10;
}
body #menu_back {
    width: 100%; height: 48px;
    background: #eeeeee;
    position: absolute;
    top: 86px; left: 0;
    z-index: -10;
}
body #bottom_back {
    width:100%; height: 162px;
    background: rgba(216,216,216,0.5);
    margin-top: 67px;
    position: relative;
    bottom: 0; left: 0;
    z-index: -10;
}
#wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99999;
}


/*******************************************

    section셋팅

********************************************/
#main_contents,
#commis_contents,
#projectG_contents,
#projectG_resource_contents,
#projectG_resource_put_contents {
    width: 100%;
    height: auto;
    min-height: 250px;
}

/*******************************************

    헤더부분
        - 사이즈 설정

********************************************/
header {
    width: 100%;
    height: 134px;
}

/*******************************************
    
    로그인 페이지

********************************************/
#login_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background: #fff;
    z-index: 1000;
}
#login_wrap {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #afadaf;
    border-radius: 6px;
    box-shadow: 0 2px 4px 2px rgba(169, 169, 169, 0.5);
}
#login_wrap h3 {
    color: #2d3032;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #f3f2f4;
}
#login_wrap .login_box {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: right;
}
#login_wrap .login_box label {
    font-size: 14px;
    color: #595b5f;
    margin-right: 5px;
}
#login_wrap .login_box input {
    margin-top: 15px;
    height: 20px;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#login_wrap .login_box input:focus {
    border-color:#00c1f3;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#login_wrap .login_btn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: #f5f4f6;
    border-top: 1px solid #f0eff0;
    text-align: center;
}
#login_wrap .login_btn button {
    display: inline-block;
    width: 56px;
    height: 28px;
    background: #00c1f3;
    color: #fff;
    font-weight: 900;
    border: none;
    margin-top: 6px;
}

/*******************************************
    
    로그인 버튼

********************************************/
#loginBtn button {
    display: inline-block;
    width: 94px;
    height: 41px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}
#loginBtn button:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

/*******************************************
    
    헤더부분
        - 로고

********************************************/
header h1 {
    float: left;
}
header h1 img {
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
}


/*******************************************

    헤더부분
        - 로그아웃 박스

********************************************/
header > div {
    float: right;
    margin-top: 16px;
}
header div#adminLogout div {
    margin: 10px;
    color: white;
}
header div#adminLogout div label {
    display: inline-block;
    width: 50px;
    text-align: right;
}
/*******************************************
    
    헤더부분
        - 로그인 박스

********************************************/
/*header div#adminLogin,*/
header div#adminLogout {
    display: none;
}
header div#adminLogin > div {
    float: left;
}
header div.myPic {
    width: 60px;
    height: 60px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /*margin-right: 20px;*/
}
header > div.myPic {
    margin-right: 20px;
}
header div.myPic img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -5px; left: -5px;
}
header div#adminLogin {
    position: absolute;
    top: 70px; right: 20px;
    width: 320px;
    height: 145px;
    background: #fff;
    box-shadow: 2px 3px 4px 2px rgba(169, 169, 169, 0.4);
    border-radius: 5px;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
}
header div#adminLogin::before {
    content: '';
    display: block;
    width: 0; height: 0; 
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -20px; right: 20px; margin: 0 auto;
}
header div#adminLogin.showAdmin {
    animation: fadeIn .2s alternate;
    opacity: 1;
    visibility: visible;
}
header div#adminLogin .fa {
    width: 18px; height: 18px;
    color: #b3b3b3;
    z-index: 1000;
    position: absolute;
    top: 15px; right: 15px;
}
header div#adminLogin .fa:hover {
    color: #333;
}
header div#adminLogin #loginInfo {
    width: 285px;
    height: 80px;
    border-bottom: solid 0.5px #6b6b6b;
}
header div#adminLogin #loginInfo .myPic {
    border:5px solid rgba(0, 193, 243, 0.44);
}
header div#adminLogin #loginInfo span {
    font-size: 17px;
    font-weight: 500;
    color: #4a90e2;
    position: absolute;
    top: 40px; left:90px;
}
header div#adminLogin span#logout {
    cursor: pointer;
    font-size: 13px;
    color: #4a4a4a;
    margin-top: 15px;
    margin-left: 80%;
    display: inline-block;
}
header div#adminLogin span#logout:hover {
    color: #4a90e2;
}

/*******************************************
    
    네비
        - 메뉴

********************************************/
#menu {
    /*border-bottom: 1px solid #00b3e6;*/
    height: 48px;
    margin-top: -48px;
    margin-bottom: 64px;
}
#menu ul {
    width: 100%;
    display: table;
    table-layout: auto;
    background: #eee;
}
#menu>ul>li {
    display: table-cell;
    text-align: center;
    position: relative;
    padding:0 45px;
}
#menu>ul>li>a {
    width: 100%;
    height: 48px;
    line-height: 48px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: #4a4a4a;
    position: relative;
}
#menu>ul>li>a>i {
    position: absolute;
    right: -20px; top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
#menu>ul>li:hover>a {
    color:#006681;
}
#menu>ul>li::after {
    content: '';
    border-right: 2px solid #6b6b6b;
    height: 19px;
    width: 0;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}
#menu>ul>li:last-child::after {
    content: '';
    border-right:none;
}
#menu>ul>li>a.menu_select {
    color: #006681;
    font-weight: bold;
}
#menu ul li ul {
    display: none;
    position: absolute;
    top: 100%; left: 0%;
    z-index: 5;
    width: 100%;
    background: #e1e1e1;
    color: #4a4a4a;
    font-size: 16px;
    animation: fadeIn 0.2s alternate;
    box-shadow: inset 0 5px 3px 0 rgba(188, 188, 188, 0.1);
}
#menu ul li ul li {
    display: block;
    margin: 7px auto;
}
#menu ul li ul li a {
    position: relative;
}
#menu ul li ul li a i {
    position: absolute;
    right: -40px; top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #4a4a4a;
}
#menu > ul > li > ul > li >a.menu_select {
    color: #006681;
    font-weight: bold;
}
#menu > ul > li > ul > li:first-child > a {
    margin: 0 auto;
    display: block;
    width: 111px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #979797;
}
#menu > ul > li > ul > li > ul {
    display: none;
    position: absolute;
    top: 50%; left: 100%;
    width: 94px;
    background:#fff;
    border: 0.5px solid #979797;
    color: #4a4a4a;
}
#menu > ul > li:hover > ul,
#menu ul li ul li:hover ul {
    display: block;
}
#menu > ul > li > ul > li:hover > a,
#menu > ul > li > ul > li:hover i {
    color: #006681;
    font-weight: bold;
}
#menu ul li ul li ul li:hover a {
    color: #16b3f0;
    font-weight: bold;
}
#menu ul li ul li ul li a.menu_select {
    color: #16b3f0;
    font-weight: bold;
}

/*******************************************
    
    서브타이틀
        - 네비게이션 바(메뉴)

********************************************/

.firstNavi,
.firstNavi a,
.navi,
.navi a {
    color: #4a4a4a;
}
.arrow {
    color: #4a4a4a;
}
div.menuNavi,
div.menuView  {
    width: 90%;
    margin: 10px 5%;
    text-align: left;
}
div.menuNavi {
    padding-bottom: 10px;
    border-bottom: 2px solid #4a4a4a; 
    position: relative;
    font-size: 28px;
    font-weight: 500;
}
div.menuNavi::after {
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 250px; height: 3px;
    border-bottom: 4px solid #4a4a4a;
}
div.menuNavi .navi:last-child {
    font-size: 35px;
    font-weight: bold;
    color: #4a4a4a;
}
div.menuView {
    font-size: 28px;
    font-weight: 500;
    color: #4a4a4a;
    margin-top: 35px;
}
.project_search {
    width: 100%;
    height: 34px;
    overflow: hidden;
    vertical-align: middle;
}
.project_search > span {
    float: left;
    line-height: 34px;
}
.searchBox { float: right;}
.searchBox input[type='search'] {
    float: left;
    width: 238px;
    height: 34px;
    line-height: 34px;
    border: solid 1px #9b9b9b;
    text-indent: 5px;
    font-size: 15px;
}
.searchBox span#search_flip {
    display: inline-block;
    width: 35px;
    height: 34px;
    background: #9b9b9b;
    cursor: pointer;
}
.searchBox span#search_flip i {
    float: left;
    width: 35px;
    line-height: 34px;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}
.project_search .searchBox {
    float: left;
    margin-left: 10px;
}
.project_search button {
    float: right;
    width: 66px;
    height: 24px;
    border: 0px;
    border-radius: 100px;
    margin-top: 5px;
    background: #9b9b9b;
    font-size: 13px;
    color: #ffffff;
}
.project_search button:last-of-type { margin-right: 8px;}

/*******************************************
    
    테이블페이지 이동 플러그인
        - paging 버튼 공통

********************************************/

/*.holder a {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

.holder a:hover {
    background: #222;
    color: #fff;
}

.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin: 0 5px;
}*/

/*******************************************
    
    페인페이지
        - 메인 의뢰물 및 번역완료 카운트

********************************************/
#main_contents #translation_countM {
    width: 90%;
    margin: 50px 5%;
    float: left;
}
#main_contents #translation_countM div.count_box {
    width: 48%;
    height: 246px;
    border: 1px solid #4a4a4a;
    margin-bottom: 45px;
    float: left;
    position: relative;
    text-align: center;
}
#main_contents #translation_countM div.count_box .line {
    width: 100%;
    height: 4px;
    background: #00c1f3;
}
#main_contents #translation_countM div.count_box:nth-child(1),
#main_contents #translation_countM div.count_box:nth-child(3) {
    margin-right: 4%;
}
#main_contents #translation_countM div.count_box span.counts_title {
    display: block;
    width: auto;
    height: 37px;
    margin-top: 15px;
    font-size: 1.7em;
    color: #006681;
    white-space: nowrap;
}
#main_contents #translation_countM div.count_box div.total_num {
    width: 80%;
    height: 156px;
    border-top: 1px solid #cdcdcd;
    margin-top: 16px;
    margin-left: 10%;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#main_contents #translation_countM div.count_box div.total_num span.triangle {
    width: 20px;
    height: 20px;
    background: #cdcdcd;
    position: absolute;
    top: -6px; left: 50%;
    transform: rotate(45deg) translateX(-50%);
}
#main_contents #translation_countM div.count_box div.total_num span.num {
    display: block;
    font: bold normal normal 100px/155px "DS_DIGIT";
}

/*******************************************
    
    CICERON페이지
        - 의뢰물관리

********************************************/
#commis_contents { text-align: center;}
span.oval {
    display: inline-block;
    width: 12px;
	height: 12px;
    line-height: 12px;
    border-radius: 50%;
    margin-bottom: 3px;
	background-color: #d8d8d8;
    vertical-align: middle;
    text-indent: 1px;
    font-size: 8px;
    color: #ffffff;
}

/*******************************************
    
    CICERON페이지
        - 유저관리

********************************************/
#userM_contents { text-align: center;}
span.circle_box {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 3px;
    background: #4a4a4a;
}

/*******************************************

    KANGAROO
         - 태그 데이터 관리

********************************************/
#tag_contents {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 20px 0 0 0;
}

/*******************************************

    KANGAROO
       - 태그 눌렀을 경우 생성되는 클래스

********************************************/


.checked {
    background: rgba(0, 193, 243, 0.34);
}


.selected {
    background: #00c1f3;
}

/*******************************************

    KANGAROO
        - 태그 뷰 부분

********************************************/
#tag_contents #tagViewBox {
    width: 300px;
    height: 500px;
    float : left;
    overflow: auto;
}
#tag_contents #tagViewBox div#tagView {
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    border-bottom: 1px solid #f4f4f4;
}

#tag_contents #tagViewBox div#tagView ul li {
    margin: 20px auto;
    position: relative;
    height: 50px;
}
#tag_contents #tagViewBox div#tagView input[name='tagCheck'] {
    width: 14px; height: 14px;
    position: absolute;
    top: 20px; left: 40px;
    margin-right: 5px;
}
#tag_contents #tagViewBox div#tagView span {
    display: block;
    width: 170px;
    height: 50px;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    line-height: 50px;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 0px;
    position: absolute;
    right: 40px;
}
#tag_contents #tagViewBox div#tagView span:hover {
    color:#979797;
}
#tag_contents #tagViewBox div#tagView #loading {
    width: 100%;
    text-align: center;
    padding-left: 40px;
    display: none;
}
#tag_contents #tagViewBox #Deltag {
    width: 100%;
    height: 45px;
    text-align: center;
}
#tag_contents #tagViewBox #Deltag button {
    width: 170px;
    height: 30px;
    margin-top: 15px;
}
    /*******************************************
    
        KANGAROO
            - 태그 관리 부분

    ********************************************/
#tag_contents div#tagDataView {
    width: calc(100% - 300px);
    height: 500px;
    text-align: center;
    float: left;
}
#tag_contents div#tagDataView div {
    width: 350px;
    text-align: left;
    padding: 10px;
    margin:0 auto;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #4a4a4a;
}
#tag_contents div#tagDataView #loading2 {
    display: inline-block;
    width: 90%;
    height: 100%;
    position: relative;
    animation: loadingAni .5s .5s;
    animation-fill-mode: forwards;
}
#tag_contents div#tagDataView #loading2 img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#tag_contents div#tagDataView .select {
    position: relative;
    display: block;
    width: 370px;
    height: auto;
    margin: 10px auto;
    padding: 0 11px;
    cursor: pointer;
    user-select: none;
}
#tag_contents div#tagDataView .select .placeDiv {
    position: relative;
    width: 100%;
    height: 30px;
    background: #00c1f3;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
#tag_contents div#tagDataView .selectL .placeDiv:hover {
    background: rgba(0,193,243,0.8);
}
#tag_contents div#tagDataView .select .placeholder {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#tag_contents div#tagDataView .select .fa-chevron-down {
    position: absolute;
    right: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    z-index: 10;
}
#tag_contents div#tagDataView .select .fa-chevron-up {
    position: absolute;
    right: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    z-index: 10;
}
/* #tag_contents div#tagDataView .selectS {
    position: relative;
    top: 110px;
    transition: 0.1s all ease;
} */
#tag_contents div#tagDataView .selectS .placeDiv {
    background: #fff;
    color:#999;
}
#tag_contents div#tagDataView .selectS .placeDiv:hover {
    background: rgba(0,0,0,0.1);
}
#tag_contents div#tagDataView .select ul {
    /*display: none;*/
    /*height: 0px;*/
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    box-shadow: inset 0 5px 3px 0 rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    /*top: 100%;
    left: 0;*/
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    max-height: 0px;
    font-size: 15px;
    font-weight:500;
    color: #39393a;

    
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}
#tag_contents div#tagDataView .select li {
    display: block;
    text-align: left;
    height: 26px;
    padding-left: 12px;
    padding-top: 4px;
    color: #999;
    cursor: pointer;
    box-sizing: border-box;
}
#tag_contents div#tagDataView .select li:hover {
    background: #4ebbf0;
    color:#fff;
}
/* #tag_contents div#tagDataView .select.is-open {
    max-height: 5000px;
} */
#tag_contents div#tagDataView .select.is-open ul {
    /*display: block;*/
    height: auto;
    max-height: 120px;
    border: 1px solid #f4f4f4;
    
}
#tag_contents div#tagDataView button {
    width: 140px;
    height: 30px;
    position: relative;
    /*transition: 0.1s all ease;*/
}

/*******************************************

    KANGAROO
        - 사진관리

********************************************/
#photo_contents {
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: 20px 0 0 0;
}

    /*******************************************

        KANGAROO
            - 사진의 태그관리 부분

    ********************************************/
#photo_contents #page_loading {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    animation: loadingAni .5s .5s;
    animation-fill-mode: forwards;
}
#photo_contents #page_loading img {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}
#photo_contents div#photoBox {
    text-align: center;
    width: 300px;
    height: 550px;
    float : left;
    /*box-sizing: border-box;*/
    overflow: auto;
}
#photo_contents div#photoBox div#tagView {
    width: 100%;
    height: 460px;
    /*box-sizing: border-box;*/
    overflow: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #f4f4f4;
}
#photo_contents #photoBox div#tagView ul li {
    display: block;
    width: 170px;
    height: 50px;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin: 20px auto;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding-left: 25px;
    padding-right: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#photo_contents #photoBox div#tagView ul li:hover {
    color: #979797;
}
#photo_contents div#photoBox ul li input[name=tagCheck] {
    width: 14px; height: 14px;
    position: relative;
    top: 0px; left: -50px;
} 

#photo_contents div#photoBox #Deltag {
    width: 100%;
    height: 40px;
    text-align: center;
}
#photo_contents div#photoBox #Deltag button {
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

    /*******************************************

        KANGAROO
            - 사진관리 부분

    ********************************************/
#photo_contents div#photo_view {
    width: calc(100% - 300px);
    height: 550px;
    text-align: center;
    /*box-sizing: border-box;*/
    float: left;
    position: relative;
}

#photo_contents div#photo_view #MyCheck {
    float: right;
    position: relative;
    right: 3px;
}
#photo_contents div#photo_view #MyCheck input[type="checkbox"] {
    width: 14px; height: 14px;
    position: relative;
    top: -4px; left: -10px;
}
#photo_contents div#photo_view #MyCheck button {
    position: relative;
    width: 65px;  height:24px;
    border-radius: 100px;
    background: #9b9b9b;
    font-size: 13px;
    font-weight: bold;
    border: none;
}
#photo_contents div#photo_view #MyCheck button span {
    position: absolute;
    right: 5px; top: 50%;
    transform: translateY(-50%);
}
#photo_contents div#photo_view #MyCheck #stayImg span {
    right: 15px;
}
#photo_contents div#photo_view #MyCheck button i {
    position: absolute;
    top: 50%; left: 5px;
    transform: translateY(-50%);
}
#photo_contents div#photo_view #MyCheck button:hover {
    background: #fff;
    color: #9b9b9b;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
#photo_contents div#photo_view #photoName {
    width: 100%; position: absolute;
}
#photo_contents div#photo_view .tagName {
    text-align: left;
    margin-left: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #4a4a4a;
}
#photo_contents div#photo_view #tagImg {
    width: 100%;
    height: 420px;
    margin-left: 10px;
    margin-top: 10px;
}

#photo_contents div#photo_view #tagImg .photoSort {
    width: 33%;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    float: left;
    position: relative;
    border-radius: 6px;
}
#photo_contents div#photo_view .photoSort .imgCheck {
    position:absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
    width: 14px;
    height: 14px;
}

#photo_contents div#photo_view .photoSort img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}

#photo_contents div#photo_view .photoSort div.selBox {
    width: calc(100% - 20px);
    text-align: center;
    float: left;
    position: absolute;
    bottom: 10px; left: 10px;
    display: none;
}

#photo_contents div#photo_view .photoSort div.selBox div {
    width: 33%;
    height: 30px;
    background: rgba(255,255,255,0.55);
    border: 1px solid transparent;
    color: #39393a;
    font-size: 13px;
    font-weight: 900;
    position: absolute;
    line-height: 30px;
    cursor: pointer;
}

#photo_contents div#photo_view .photoSort div.selBox .cropImg {
    left: 0; bottom: 0;
}

#photo_contents div#photo_view .photoSort div.selBox .cropImg:hover {
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    border:1px solid rgba(255, 255, 255, 0.55);
    border-bottom-left-radius: 6px;
}

#photo_contents div#photo_view .photoSort div.selBox .stayImg {
    left: 0; right: 0; bottom: 0;
    margin-left: auto; margin-right: auto;
}

#photo_contents div#photo_view .photoSort div.selBox .stayImg:hover {
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.55);
}

#photo_contents div#photo_view .photoSort div.selBox .delImg {
    right: 0; bottom: 0;
}

#photo_contents div#photo_view .photoSort div.selBox .delImg:hover {
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-bottom-right-radius: 6px;
}

#photo_contents div#photo_view .photoSort:hover div.selBox {
    display: block;
}

#photo_contents div#photo_view #infoBtn {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    min-height: 200px;
    position: relative;
}

#photo_contents div#photo_view #infoBtn #imgInfo {
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    left: 45%;
}

/*******************************************

    프로젝트(공동구매)
        - 프로젝트 보기

********************************************/
span.rectangle_box {
    display: inline-block;
    width: 2px;
    height: 15px;
    border: solid 3px #006681;
}

/*******************************************

    프로젝트(공동구매)
        - 프로젝트 수정

********************************************/
#projectG_modify_contents {
    margin-left: 3%;
    color: #39393a;
}
#projectG_modify_contents select {
    width: 320px;
    font-size: 15px;
}
#projectG_modify_contents input {
    width: 320px;
    font-size: 15px;
}
#projectG_modify_contents input.cover {
    width: 220px;
}
#projectG_modify_contents div.button_line {
    margin: 20px 0;
    text-align: center;
}

/*******************************************

    프로젝트(공동구매)
        - 프로젝트 리소스 보기

********************************************/
#resource_contents span.rectangle_box {
    margin-bottom: 2px;
}

/*******************************************

    프로젝트(공동구매)
        - 프로젝트 리소스정보 보기

********************************************/
#resource_contents {
    margin-left: 5%;
    font-size: 26px;
    font-weight: bold;
    color: #39393a;
}
#resource_contents div {
    line-height: 51px;
}
#resource_modify div span.rectangle_box {
    margin-bottom: 2px;
}
#resource_contents .text {
    line-height: 51px;
    font-size: 20px;
    font-weight: normal;
    color: #39393a;
}
#projectG_resource_view_contents div:last-child {
    margin-top: 20px;
    text-align: center;
}
#projectG_resource_view_contents .popup .popup_box {
    width: 80%;
    max-width: 800px;
    height:80%;
    text-align: center; 
    padding:0;
    overflow-x: hidden;
}
#projectG_resource_view_contents .popup_box h3 {
    width:100%;
    background:#00c1f3;
    padding:10px;
    margin-bottom:20px;
}
#projectG_resource_view_contents .popup_box iframe {
    margin:0 auto;
    padding-left:20px;
    padding-right:95px;
    border:none;
    width:110%;
    height:100%;
    text-align: center;
    box-sizing: border-box;
}
#projectG_resource_view_contents .popup .popup_close {
    top:10px;
    right:10px;
}
#projectG_resource_view_contents .popup .popup_close:hover {
    background:#fff;
}

/*******************************************

    프로젝트(공동구매)
        - 프로젝트 리소스정보 수정 관리

********************************************/
#resource_modify {
    width: 90%;
    margin-left: 5%;
    font-size: 26px;
}
#resource_modify > div {
    margin-bottom: 10px;
}
#resource_modify select {
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    background-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 5px;
    font-size: 13px;
    text-align: center;
}
#resource_modify input,
#resource_modify select {
    height: 28px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    font-size: 15px;
}
#resource_modify input[type='file'] { display: none; }
#resource_modify input[name='theme'] {  width: 74%; }
#resource_modify input[name='translator'],
#resource_modify input[name='description'] { width: 83%; }
#resource_modify select,
#resource_modify input[name='price'] {
    width: 280px;
    margin-bottom: 3px;
    vertical-align: middle;
}
#resource_modify select[name='preview_permission'] {
    width: auto;
}
#resource_modify div.button_line {
    margin: 20px 0;
    text-align: center;
}
#file_modify label[for='upload_file'] {
    display: inline-block;
    width: 45px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
#file_modify span.delete_box {
    float: right;
    margin-top: 24px;
    margin-right: 6%;
    font-size: 11px;
    color: #39393a;
}
.delete_box input { display: none;}
#file_modify span.delete_box span {
    cursor: pointer;
}



.pretranslated{
    width: 100%;
    height: auto;
    position: relative;

}

.pretranslated button{
    width: auto;
    min-width: 93px;
    padding: 5px 10px;
}

.pretranslated .projectList{
    width: 100%;
    height: auto;
    position: relative;

}

.pretranslated .projectList .projectList-item{
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #2d3032;
    color: #fcfcfc;
    cursor: pointer;
    user-select: none;
    margin-bottom: 8px;
}

.pretranslated .projectList .projectList-item .projectList-item-background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    opacity: .5;
    filter: blur(2px);
    z-index: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.pretranslated .projectList .projectList-item:hover .projectList-item-background{
    transform: scale(1.02);
}

.pretranslated .projectList .projectList-item span{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.pretranslated .projectList .projectList-item h2{
    font-weight: 100;
}
.pretranslated .projectList .projectList-item h3{
    font-weight: 100;
}

.pretranslated .resourceList{
    width: 100%;
    height: auto;
    position: relative;
}


.pretranslated .resourceList .resourceList-item{
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-color: #2d3032; */
    /* color: #fcfcfc; */
    color: #2d3032;
    /* user-select: none; */
    margin-bottom: 8px;
}

.pretranslated .resourceList .resourceList-item .resourceList-item-background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    opacity: .5;
    filter: blur(2px);
    z-index: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.pretranslated .resourceList .resourceList-item:hover .resourceList-item-background{
    transform: scale(1.02);
}

.pretranslated .resourceList .resourceList-item span{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.pretranslated .resourceList .resourceList-item h2{
    font-weight: 100;
}
.pretranslated .resourceList .resourceList-item h3{
    font-weight: 100;
}

.pretranslated .projectInformation{
    width: 100%;
    height: auto;
    position: relative;

}

.pretranslated .projectInformation .projectInformation-cover{
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
    display: block;
    cursor: pointer;
}

.pretranslated .projectInformation span{
    width: 100%;
    height: auto;
    display: block;
    
}

.pretranslated .projectInformation .tagging{
    width: auto;
    height: auto;
    padding: .5em;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fcfcfc;
    display: inline-block;
    cursor: pointer;
}

.pretranslated .projectInformation .tagging::after{
    content: '×';
    padding-left: .3em;
}


.pretranslated .fileList{
    width: 100%;
    height: auto;
    position: relative;

}

.pretranslated .fileList .fileList-item{
    width: 100%;
    height: auto;
    /* max-height: 300px; */
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-color: #2d3032; */
    /* color: #fcfcfc; */
    color: #2d3032;
    /* user-select: none; */
    margin-bottom: 8px;
    cursor: pointer;
}

.pretranslated .fileList .fileList-item.selected{
    cursor: auto;
    max-height: none;
    background-color: transparent;
}

/* .pretranslated .fileList .fileList-item::before {
    content:'';
    width:100%;
    height:100px;    
    position:absolute;
    left:0;
    bottom:0;
    background:linear-gradient(transparent , white);
} */

/* .pretranslated .fileList .fileList-item.selected::before{
    display: none;
} */

.pretranslated .fileList .fileList-item textarea{
    width: 100%;
    height: 500px;

}

.pretranslated .fileList .fileList-item img{
    width: 100%;
}


/*******************************************

    DB관리
        - DB정보 submit페이지와 export페이지 공용 사용

********************************************/
#contents {
    width: 100%;
    height: auto;
    text-align: center;
}
.header-title {
    margin:30px 0 30px 20px;
    text-align: left;
}
.container .setting {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #39393a;
}
.setting-select2{
    margin-left:10px;
}
.major, .kind_D {
    width:20%;
    float:left;
}
.tone {
    width: 22%;
    float: left;
    margin-left: 15px;
}
.customer {
    width:28%;
    float:left;
}
.Doc_Maj {
    margin: 10px auto;
    width:100%;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}
.Doc_Maj .kind_box  {
    /*float:left;*/
    padding-top: 15px;
}
.Doc_Maj .kind_box>span {
    color: #39393a;
    font-size: 20px;
    font-weight: 700;
}
.container .setting .kind_D > span, .major > span, .tone > span, .customer > span, .setting-select1 > span, .setting-select2 > span {
    position: relative;
    top: 5px;
    font-size: 26px;
    font-weight: bold;
}
.container .setting .kind_D > span::before, .major > span::before, .tone > span::before, .customer > span::before, .setting-select1 > span::before, .setting-select2 > span::before {
    content: '';
    position: absolute;
    left: -10px; top: 12px;
    width: 0; height: 14px;
    border-left: 3px solid #006681;
}

/*******************************************

    DB관리
        - DB입력 관리

********************************************/
#language_submit_contents .customer {
    margin-left:20px;
}
#language_submit_contents .setting-select1,
#language_submit_contents .setting-select2 {
    width: 49%;
    float:left;
    /*margin: 2%;*/
    box-sizing: border-box;
}
#userTxt1, #userTxt2 {
    resize: none;
    width: 100%; min-height:131px;
    padding:18px 0 0 20px;
    border:1px solid #e5e5e5;
    background:#fff;
}

#language_submit_contents #setting-lang {
    clear:both;
    text-align: center;
}
#language_submit_contents .setting select {
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    height: 28px;
}
#language_submit_contents .setting input {
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    height: 28px;
}
#language_submit_contents #result {
    clear:both;
    background: #f4f4f4;
}
#btnParse {
    margin:20px 0;
}
#lang_title {
    width:100%;
    clear:both;
}
#lang_title .lang_box {
    width:49%;
    padding:10px 0 10px 20px;
    /*box-sizing:border-box;*/
    display: inline-block;
    margin-top: 20px;
    color: #39393a;
    font-size: 22px;
    font-weight: 700;
}
.pairing_box {
    width:100%;
    /*background: #F0F3F4;*/
}
.pairing_box .text_box {
    width:47%;
    min-height:100px;
    padding:10px;
    margin:10px;
    box-sizing:border-box;
    display: inline-block;
    text-align:justify;
    /*border-radius:7px;*/
    vertical-align: top;
}

.pairing_box .spanText {
    border:0.3px solid #f4f4f4;
    background:linear-gradient(to bottom right, #ffffff, #f4f4f4);
}

.pairing_box .hoverText {
    border:0.3px solid rgba(242, 242, 242,0.7);
    background: #eeeeee;
}
.text_box span {
    border:solid 1.3px #4a4a4a;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    border-radius:4px;
    background: #fff;
}
.text_box:hover span{
    background:rgba(0,0,0,0.1);
}
.blank1 {
    width:100%; height:5px;
    /*background: #F0F3F4;*/
    position: relative;
    transition: all .2s ease;
}
.blank1, .blank2 {
    cursor: pointer;
}
.blank1 p {
    background: #333; color: #fff; text-align: center; font-size: 14px; width: 300px;
    padding: 10px 0; border-radius: 20px; position: relative; opacity: 0;
    z-index: 100; margin: 0 0 0 auto;
}

.blank1 p::before {position: absolute; content: ''; display: block;

/*화살표*/
width: 0; height: 0; border: 10px solid transparent;
border-bottom-color: #333;
top: -20px; left: 20px; margin: 0 auto;

}

.blank1 p.section { top:10px; opacity: 1;}


.blank1:hover, .blank1:focus {
    background:#bbb;
}
.blank2 {
    width:100%; height:30px;
    background: #fff;
    box-shadow: inset 0px 11px 8px -10px #ddd;
}
.blank2:hover, .blank2:focus {
    background:#bbb;
}
.blank2 p.section { top: 20px;}

#btnSubmit {
    margin:30px 0;
}

/*******************************************

    DB관리
        - DB가져오기 관리

********************************************/
export_contents .setting {
    width: 90%;
    margin: 10px 5%;
}
#export_contents .setting form {
    font-size: 26px;
    font-weight: bold;
    color: #39393a;
    width: 100%;
    margin: 10px auto;
}
#export_contents .setting form .setting-title {
    position: relative;
    top: 4px;
}
#export_contents .setting form .setting-title::before {
    content: '';
    position: absolute;
    left: -10px; top: 12px;
    width: 0; height: 14px;
    border-left: 3px solid #006681;
}
#export_contents .setting-select1,
#export_contents .setting-select2 {
    width:45%;
    float:left;
    text-align: left;
}
#export_contents .setting-select1 {
    margin-left: 10px;
}
#export_contents #setting-lang {
    clear:both;
    width: 100%;
}
#export_contents #setting-lang span {
    position: relative;
    top: 4px;
}
#export_contents #setting-lang span::before {
    content: '';
    position: absolute;
    left: -10px; top: 12px;
    width: 0; height: 14px;
    border-left: 3px solid #006681;
}

#export_contents .setting select {
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    height: 28px;
}
#export_contents .setting input {
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    height: 28px;
    width: 140px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
#export_contents .setting #btnSelect {
    width: 45px; height: 28px;
    border-radius: 4px;
    border: 1px solid #4a4a4a;
    background: #fff;
    color: #39393a;
    font-size: 13px;
    margin-left: 0px;
}
#export_contents  #result {
    clear:both;
    margin: 50px 0;
    min-height: 50px;
    font-size: 1.5rem;
    text-align: center;
}
#export_contents  #result #data_rst {
    width: 90%;
    height: 62px;
    background-color: rgba(216, 216, 216, 0.5);
    line-height: 62px;
    margin: 0 auto;
    color: #006681;
    font-size: 26px;
    font-weight: bold;
}
#export_contents  #result #data_rst span {
    font-family: "DS_DIGIT";
    font-size: 47px;
    font-weight: bold;
}
#btnExport {
    display: block;
    margin: 20px auto;
}

/*******************************************

    테이블
        - 모든 테이블 공용 셋팅

********************************************/
.table_board {
    width: 90%;
    margin: 20px 5%;
    text-align: left;
    table-layout: auto;
}
.table_board,
.table_board thead tr th,
.table_board tbody tr td {
    border-collapse: collapse;
}
.table_board thead tr th,
.table_board tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table_board thead th {
    height: 55px;
    letter-spacing: -1.2px;
    background: rgba(38,163,212,0.99);
    font-size: 18px;
    color: #ffffff;
} 
.table_board thead th.text_center:first-child {
    width:25%;
}
.table_board tbody tr td {
    max-width: 140px;
    height: 50px;
    border-bottom: 1px solid #979797;
    color: #39393a;
}
.table_board tbody tr td:nth-child(1) > span {
    display: inline-block;
    width: 33px;
    height: 31px;
    line-height: 31px;
    border-radius: 7px;
    border: 1px solid #979797;
    /*font-size: 22px;*/
    color: #4a4a4a;
}
.table_board tbody:not(:first-child) td:nth-child(2):hover  {
    cursor: pointer;
}
.table_board tr td label {
    display: inline-block;;
    width: 50px;
    cursor: pointer;
}
.table_board tr td select {
    width: 68px;
    height: 20px;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    background-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 0 2px 0 #979797;
    border: 0;
    border-radius: 0px;
    text-indent: 5px;
    font-size: 13px;
    text-align: center;
}
.table_board tr td select::-ms-expand {
  /* for IE 11 */
  display: none;
}

/*******************************************

    테이블
        - 메인

********************************************/
.table_board thead tr th[colspan="5"] {
    height: 55px;
    background: #f6a623;
    font-size: 25px;
    color: #ffffff;
}
.table_board thead tr:nth-child(2) th {
    height: 50px;
    background: #e9e9e9;
    font-size: 22px;
    color: #4a4a4a;
}
/*******************************************

    테이블
        - 권한관리(임시로 체크박스로 만듬)

********************************************/
/*.userDiv_table tbody tr td.classBox {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    font-size: 13px;
    font-weight: bold;
}
.userDiv_table tbody tr td div.classDiv {
    position: relative;
}
.userDiv_table tbody tr td div.classDiv div.class_box {
    width: 100%;
    height: 20px;
    box-shadow: 0 0 2px 0 #979797;
    cursor: pointer;
    text-indent: 4px;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    background-size: 20px;
}
.userDiv_table tbody tr td div.classDiv div.classDiv_box {
    width: 100%;
    display: none;
    position: absolute;
    top: 20px; left: 0;
    z-index: 99999;
    box-shadow: 0 2px 2px 0 #979797;
    background: #ffffff;
}
.userDiv_table tbody tr td div.classDiv div.classDiv_box label {
    background: #ffffff;
}
.userDiv_table tbody tr td div.classDiv div.classDiv_box input {
    margin-top: 4px;
    margin-left: 4px;
    background: #ffffff;
}*/

/*******************************************

    테이블
        - 유저정보 상세보기

********************************************/
tr.details td {
    height: 210.5px;
    box-shadow: 0px 2px 2px 0.5px gray inset, 0px 6px 6px 0px #C7C7C7;
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    position: relative;
}
tr.details td > div { float: left;}
tr.details td div#userImg {
    width: 118px;
    height: 118px;
    border-radius: 8px;
    margin-top: 43px;
    margin-left: 54px;
    margin-right: 53px;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px rgba(191,191,191,0.5);
}
tr.details td div#userImg img {
    width: 100%;
    height: 100%;
}
.table_board tr.details td div#userData {
    margin-top: 35px;
    font-size: 18px;
}
tr.details td div#userData { width: 60%;}
tr.details td div#userData div { margin-top: 2px;}
tr.details td div#userData span.bold {
    display: inline-block;
    font-weight: bold;
}
tr.details td button.popup_btn {
    position: absolute;
    bottom: 27px; right: 31px;
}

/*******************************************

    테이블
        - 관리자

********************************************/
.table_admin tbody tr td {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}
.table_admin tbody tr td .power_contents {
    width: 100%;
    position: relative;
}
.table_admin tbody tr td .admin,
.table_admin tbody tr td .admin_box {
    width: 90%;
    padding: 5px 10px;
    box-shadow: 0 0 1px 0 #bbb;
    margin-left: 5%;
    text-align: left;
}
.table_admin tbody tr td .admin {
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    background-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 5px;
    cursor: pointer;
}
.table_admin tbody tr td .admin_box {
    position: absolute;
    top: 100%; left: 0;
    display: none;
    border-top: 0;
    box-shadow: 0 1px 1px 0 #bbb;
    background: white;
    z-index: 99999999;
}
.table_admin tbody tr td .admin_box label {
    width: 90px;
}

/*******************************************

    프로젝트
        - 파일관리

********************************************/
.projectG tr th:nth-child(2),
.projectG tr td:nth-child(2) {
    min-width: 140px;
    width:25%;
}
table.fileTable {
    width: 90%;
    height: 100%;
    border: 1px solid #4a4a4a;
    margin-top: 5px;
    /* margin-left: 5%; */
    margin-left: 15px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-size: 15px;
}
table.fileTable,
table.fileTable thead th,
table.fileTable tbody td {
    border-collapse: collapse;
    text-indent: 10px;
    padding: 5px 0;
}
table.fileTable tr th {
    background: #ebebeb;
    color: #39393a;
}
table.fileTable label,
table.fileTable input[type='checkbox'],
table.fileTable select {
    height: auto !important;
    cursor: pointer;
}
table.fileTable select {
    width: auto !important;
    font-size: 13px !important;
    background: #ffffff !important;
    text-indent: 0px !important;
    padding: 1px 3px;
}
/*********************paging plugin x **********************/

table + .pager {
    padding-right: 5%;
}
/* paging bar */
.pager {
    display: inline-block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: right;
}

/* number */
.pager span { 
    width: 26px; height: 26px;
    display: inline-block;
    user-select:none;
    box-sizing: border-box;
    border: solid 0.5px #4a4a4a;
    color: #4a4a4a;
    font-size: 12px;
    cursor: pointer; 
    text-align: center;
}
.pager span:hover {
    color: #00709b;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.pager .page-number {
    cursor: default;
}
.pager .page-number:hover { 
    color: #4a4a4a;
    box-shadow: none;
    cursor: default;
}
.pager .pageSum {
    font-size: 12px;
    color: #4a4a4a;
    border: none;
    cursor: default;
    width: auto;
    margin-left: 5px;
    margin-top: 2px;
}
.pager .pageSum:hover {
    color: #4a4a4a;
    box-shadow: none;
}
/* arrow */
.pager .prev {  
    border-right: none;
    width: 22px;
    /* margin-right: -4px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pager .next { 
    border-left: none;
    width: 22px;
    /* margin-left: -4px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#photo_contents div#photo_view .pager .prev {
    margin-right: -6px;
}

#photo_contents div#photo_view .pager .next {
    margin-left: -6px;
}

/* arrow 비활성화 */
.prev.disabled, .next.disabled { 
    color: #bbb;
}
.prev.disabled:hover, .next.disabled:hover { 
    cursor: default; 
    background: none; 
    color: #bbb;
    box-shadow: none;
}

/*******************************************

    팝업창
        - 모든 팝업창 공용 셋팅

********************************************/

.popup.visible {
    display:block;
}
.popup {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0; left: 0;
    display: none;
    z-index: 1000;
    text-align: left;
}
.popup .popup_box {
    width: 70%;
    height: auto;
    max-height: 80%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    overflow-y: auto;
    padding:10px;
}
.popup_close {
    position: absolute;
    top: 5px; right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color: #221f20;
    text-align: center;
    border: 1px solid #767676;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************************

    팝업창
        - 유저관리

********************************************/
.popup #user_modify {
    width:60%;
    max-width:700px;
}
#popup #user_modify > div { float: left; }
#popup #user_modify #modify_pic {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin: 60px 6%;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px rgba(191,191,191,0.5);
}
#popup #user_modify #modify_pic img {
    width: 100%; height: 100%;
}
#popup #user_modify #modify_info {
    float: left;
    width: 64%;
    /* margin-top: 40px; */
    font-size: 15px
}

#popup #user_modify #modify_info span#user_mail {
    font-size: 20px;
    font-weight: bold;
}
#popup #user_modify #modify_info div {
    margin-bottom: 5px;
}
#popup #user_modify #modify_info #language_box ul li {
    float: left;
    width: 22.5%;
    margin:5px;
    /* margin-left: 5px; */
}
#popup #user_modify #modify_info #language_box ul li label {
    font-size: 14px;
}
#popup #user_modify #modify_info div select.activity {
    width: 54px;
    height: 20px;
    border: 0px;
    box-shadow: 0 0 1px 0 #979797;
}
#popup #user_modify #modify_info ul {
    overflow: hidden;
    box-shadow: 0 0 1px 0 #979797;
    padding:5px 0;
}

/*******************************************

    팝업창
        - 크롭기능 창

********************************************/
/*#pop_crop {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0; left: 0;
    display: none;
    z-index: 1000;
    text-align: center;
}
#pop_crop #crop1 {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}*/
#pop_crop #crop1 #close {
    position: absolute;
    top: 10px; right: 10px;
    font-size: 20px;
    background: #fff;
    width: 24px; height: 24px;
    border-radius: 100%;
    z-index: 10000;
    color:#b3b3b3;
    text-align: center;
}
#pop_crop #crop1 #close:hover {
    color:#333;
}
#pop_crop #crop1 #crop_pic {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
#pop_crop #crop1 #crop_pic img{
    width: 100%;
    display: block;
}


#pop_crop #crop1 #cropBtn {
    padding: 20px 10px;
    text-align: center;
}

#pop_crop #crop1 #cropBtn button {
    padding: 5px 10px;
    width: 56px; height: 28px;
    background: rgba(255,255,255,0.6);
    font-size: 13px;
    font-weight: 900;
    color: #39393a;
    border: 1px solid rgba(0,0,0,0.4);
}
#pop_crop #crop1 #cropBtn button:hover {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

/*******************************************

    팝업창
        - 프로젝트 팝업 창

********************************************/
.project_create_contents {
    margin-top: 10px;
    font-size: 20px;
    color: #39393a;
}
.project_create_contents:first-of-type {
    margin-top: 50px;
}
.project_create_contents:last-of-type {
    margin-bottom: 50px;
}
.project_create_contents select {
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    background-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 5px;
    font-size: 13px;
    text-align: center;
}
.project_create_contents select,
.project_create_contents input {
    width: 90px;
    height: 28px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    margin-bottom: 3px;
    vertical-align: middle;
}
.project_create_contents input[name='cover_name'] {
    display: inline-block;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project_create_contents label[for='cover'],
.project_create_contents .project_push {
    float: right;
    width: 50px;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    margin-right: 15px;
    border-radius: 100px;
    background-color: rgba(0,102,129,0.8);
    background-size: 5%;
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
#projectG_modify_contents label[for='cover'] {
    float: none;
    display: inline-block;
    width: 90px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    background: gray;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.project_create_contents .project_push {
    background-image: url(../img/iconPlusSign.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 1px 1px;
    text-indent: 17px;
}
.project_create_contents input[type='file'] { display: none;}
.project_create_contents { margin: 10px 20px 0; }
.project_create_contents span.project_contents { display: inline-block;}

/*******************************************

    팝업창
        - 프로젝트 리소스 팝업 창

********************************************/
#resource_title {
    display: block;
    width: 380px;
	height: 34px;
    line-height: 34px;
	border: solid 1px #9b9b9b;
    margin-top: 40px;
    margin-left: 24px;
    font-size: 15px;
    color: #39393a;
}
#resource_title input {
    font-size: 15px;
    width: 60%;
    border: 0px;
}
.resource_create_contents {
    margin-top: 10px;
    margin-left: 24px;
    font-size: 20px;
}
.resource_create_contents input,
.resource_create_contents select {
    width: 90px;
    height: 28px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    margin-bottom: 3px;
    vertical-align: middle;
}
.resource_create_contents input[type="checkbox"] {
    width: auto;
    height: auto;
}

/*******************************************

    푸터
        - 씨세론 정보

********************************************/
footer {
    margin-top: 34px;
    width: 960px;
    height: 80px;
    font-size: 14px;
    color: #4a4a4a;
    text-align: left;
    margin: 0 auto;
}
address {
    font-style: normal;
    width: 90%;
    margin: 0 auto;
    padding-top: 34px;
}
address span:first-child {
    display: inline-block;
    height: 60px;
}
address span:last-child{
    display: inline-block;
    margin-top: 8px;
}

/*******************************************

    반응형
        - width:960px 이상

********************************************/
@media screen and (min-width: 961px) {
    #wrap {
        width: 960px;
        position: relative;
    }

    .popup #project_popup {
       width: 428px;
    }
    .popup #user_modify {
        /* width: 630px; */
    }
    #pop_up #user_modify {
        width: 600px;
        height: 300px;
    }
    #pop_crop #crop1 {
        width: 450px;
   }
}

/*******************************************

    반응형
        - width:680px 이상 width:960px 이하

********************************************/
@media screen and (min-width: 680px) and (max-width: 960px) {


}

/*******************************************

    반응형
        - width:481px 이상 width:679px 이하

********************************************/
@media screen and (min-width: 481x) and (max-width: 679px) {
    #main_contents #translation_countM div.count_box {
        float: none;
        width: 100%;
        height: 200px;
    }

}

/*******************************************

    반응형
        - width:480px 이하

********************************************/
@media screen and (max-width: 480px) {


}