@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'KBIZ', sans-serif;
        overflow-x: hidden; 
        
    }

    .header{
        width: 100%;
        height: 100px;
        padding: 30px 0px 10px 0px;
        position: absolute;
        left: 0px;
        top: 0px;

        z-index: 300;
        
        background-color: rgba(255, 255, 255, 1);
        /*opacity: 0.8;
        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 );*/
    }

    .header .header-left{
        width: auto;
        height: 100%;
        float: left;
    }

    .header .header-left-logo{
        width: auto;
        height: 100%;
    }

    .header .header-right{
        width: auto;
        height: 100%;
        float: right;
    }


    .header .header-right-a{
        width: auto;
        height: 100%;
        line-height: 60px;
        display: inline-block;
        color: #231f20;
        /*color: #FFFFFF;*/
        text-decoration: none;
        /*padding: 0px 20px;*/
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .header .header-right-a.selected, .header .header-right-a:hover{
        /*color: #91c73d;*/
        opacity: 0.6;
    }

    .header .header-right-a::after{
        content: "•";
        font-size: 14px;
        padding: 0px 15px;
        margin-top: -53px;
        display: inline-block;
        color: #d3d3d3;
        font-family: sans-serif;
    }

    .header .header-right-a:last-child::after{
        content: "";
    }


    .contents{
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 120px;
    }

    .main{
        width: 100%;
        height: auto;
        /*height: 70%;*/
        position: relative;

    }

    .main .main-title{
        width: auto;
        height: auto;
        display: block;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main .main-request{
        width: 100%;
        height: auto;
        position: relative;
        padding: 100px 0px;

    }

    .main .main-request .main-request-left{
        width: 70%;
        height: auto;
        position: relative;
        float: left;
    }


    .main .main-request .main-request-type-input{
        display: none;

    }

    .main .main-request .main-request-type-label{
        width: auto;
        height: auto;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #00b3e6;
        background-color: transparent;
        /*border-radius: 5px;*/
        margin: 0px;
        cursor: pointer;
    }

    .main .main-request .main-request-type-input:checked + .main-request-type-label{
        background-color: #00b3e6;
        color: #FFFFFF;
    }

    .main .main-request .main-request-type-div{
        width: 100%;
        height: auto;
        position: relative;
        /*display: none;*/
        opacity: 0;
        height: 0px;
        /*border: 1px solid #7b7c80;*/
        padding: 0px;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
    }

    .main .main-request #main-request-type-input1:checked ~ #main-request-type-div1, .main .main-request #main-request-type-input2:checked ~ #main-request-type-div2, .main .main-request #main-request-type-input3:checked ~ #main-request-type-div3{
        opacity: 1;
        /*height: 70px;*/
        height: auto;
        padding: 20px;
        margin: 20px 0;
        /*min-height: 200px;*/
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        border: 3px solid #d3d3d3;
        border-radius: 10px;
    }

    .main .main-request .main-request-type-div .main-request-textarea{
        width: 100%;
        border: none;
        /*padding: 20px;*/
        /*min-height: 100%;*/
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .main .main-request .main-request-type-div .main-request-textarea:valid, .main .main-request .main-request-type-div .main-request-textarea:focus{
        font-size: 16px;
        height: 300px;
    }

        /* Let's get this party started */
    .main *::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    .main *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    .main *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent; 
        /*background: #d3d3d3;*/
        
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .main *:hover::-webkit-scrollbar-thumb{
        background: #d3d3d3; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    .main *::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
        /*background: #d3d3d3;*/
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }


    .main .main-request .main-request-next{
        margin-top: 10px;
        width: auto;
        height: auto;
        padding: 10px 40px;
        border: none;
        background-color: #00b3e6;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 20px;
        /*float: center;*/
        /*margin: 10px auto;*/
        margin-left: 50%;
        cursor: pointer;
        
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .main .main-request .main-request-right{
        
        width: 30%;
        height: auto;
        position: relative;
        float: left;
        padding: 10px;
        padding-top: 60px;
    }

    .main .main-request .main-request-right .main-request-title{

        width: auto;
        height: auto;
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main .main-request .main-request-right .main-request-summery-title{
        width: auto;
        height: left;
        float: left;
        padding: 5px;
    }

    .main .main-request .main-request-right .main-request-summery-content{
        width: auto;
        height: left;
        float: right;
        padding: 5px;
        font-weight: 700;
    }

    .main .main-sample{
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 120px;
    }
    
    .main .main-sample .main-sample-list{
        width: 100%;
        height: auto;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .main .main-sample .main-sample-list .container{
        overflow: visible;
    }

    .main .main-sample .main-sample-list .main-sample-list-item{
        width: 40%;
        height: auto;
        margin-right: 10px;
        max-width: 150px;
        position: relative;
        display: inline-block;
    }

    .main .main-sample .main-sample-list .main-sample-list-item .main-sample-list-item-background{
        width: 100%;
        background-image: url('/img/1_9.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

    }

    .main .main-sample .main-sample-list .main-sample-list-item .main-sample-list-item-title{
        font-weight: 700;
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        /*position: absolute;
        left: 0px;
        top: 30%;*/
        /*text-align: center;*/
    }

    .main .main-sample .main-sample-list .main-sample-list-item .main-sample-list-item-content{
        font-weight: 100;
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden !important;
        /*position: absolute;
        left: 0px;
        bottom: 30%;
        text-align: center;*/
    }



    .main.selected{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 500;
        background-color: #FFFFFF;
        padding-top: 120px;
    }

    

    .main.selected .main-request{
        height: 100%;
    }
    .main.selected .main-request .main-request-left{
        height: 100%;
    }
    .main.selected .main-request .main-request-type-div{
        height: 80% !important;
    }

    .footer{
        width: 100%;
        height: auto;
        min-height: 300px;
        background-color: #FFFFFF;
        padding: 10px 0px;
    }

    .footer .div4{
        padding: 10px;
        padding-left: 0px;
    }

    .footer .footer-logo{
        width: auto;
        max-height: 60px;
        max-width: 100%;
    }

    .footer .footer-menu .footer-menu-title{
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        color: #231f20;
        
        margin-bottom: 15px;
        display: block;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        text-decoration: none;
        color: #7b7c80;

        margin-bottom: 10px;
        display: block;
    }

    input[type="text"]{
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 6px 11px;
        color: #231f20;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        /*margin-top: 1px;
        margin-bottom: 1px;*/
    }

    .buttons-full{
        width: auto;
        height: auto;
        border: none;
        background-color: #00b3e6;
        padding: 6px 11px;
        margin: 0px 3px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons-full:hover{
        opacity: 0.8;

    }

    .buttons-full:active{
        opacity: 0.6;
    }

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: 100%;
        overflow: hidden;
        position:  relative;
    }

    pre,button,textarea{
        font-family: 'KBIZ', sans-serif;
        
    }

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
    }
    
}

@media screen and (max-width: 1024px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }
}

@media screen and (max-width: 640px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 50%;

    }
}

@media screen and (max-width: 480px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 50%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}
