@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        /*font-family: 'KBIZ', sans-serif;*/
        overflow-x: hidden; 
        /*background-color: #f9f9f9;*/
        background-color: #FFFFFF;
    }

	.header{
		width: 100%;
		height: 56px;
		padding: 10px;
		position: relative;
		/*border: 1px solid #d3d3d3;*/
		background-color: #000;
        opacity: 0.7;
        box-shadow: 3px 3px 10px #7b7c80;
	}

	.header .header-title{
		/*line-height: 50px;*/
		font-size: 1em;
		margin: 1em;
		margin-left: 50px;
        color:#fff;
        font-weight: 600;
        line-height: 35px;
	}

	.header .header-title img{
		width: auto;
		height: 100%;
		vertical-align: middle;
		margin-right: 10px;
	}
	.setting{
		width: 100%;
		/*height: 50px;*/
		/*border: 1px solid #d3d3d3;*/
		position: relative;
		padding: 20px;
	}

	.setting .setting-select{
		margin: 20px 0px 40px 0px;
		padding: 30px;
        /*box-shadow: 0px 1px 3px #7b7c80;*/
		display: inline-block;
	}

	.setting .setting-title{
		display: block;
		font-size: 1.2em;
		font-weight: 100;
	}
	.content{
		width: 100%;
		/*height: 50px;*/
		/*border: 1px solid #d3d3d3;*/
		position: relative;
	}

    table{
        width: 100%;
        height: auto;

    }

    table td, table th{
        padding: 5px 10px;
        border: 1px solid #d3d3d3;
        text-align: center;
    }

    table td a{
        color: #7b7c80;
    }

	input[type="radio"]{
		display: none;
	}

	input[type="radio"] + label{
		width: auto;
		height: auto;
		padding: 10px 20px;
		/*border: 1px solid #a3a3a3;*/
        box-shadow: 0px 5px 10px #7b7c80;
		background-color: #FFFFFF;
		cursor: pointer;
		margin: 5px 5px 5px 5px;
		white-space: nowrap;
		display: inline-block;
	}

	select{
		width: auto;
		height: auto;
		padding: 6px 11px;
		background-color: #FFFFFF;
		border: 1px solid #d3d3d3;
	}

	input[type="radio"]:checked + label{
        box-shadow: 0px 2px 5px #7b7c80;
		background: #f2f2f2;
	}

    input[type="text"], input[type="email"]{
        /*width: auto;
        height: auto;*/
        border-radius: 5px;
        padding: 6px 11px;
        color: #231f20;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        /*margin-top: 1px;
        margin-bottom: 1px;*/
    }

    .buttons-full{
        /*width: auto;
        height: auto;*/
        border: none;
        background-color: #00b3e6;
        padding: 6px 11px;
        margin: 0px 3px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons-full:hover{
        opacity: 0.8;

    }

    .buttons-full:active{
        opacity: 0.6;
    }

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        /*overflow: hidden;*/
        /*position:  relative;*/
    }

    pre,button,textarea{
        /*font-family: 'KBIZ', sans-serif;*/
        
    }

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
    }
    
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Firefox < 16 */
    @-moz-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Internet Explorer */
    @-ms-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Opera < 12.1 */
    @-o-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    
    @keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Firefox < 16 */
    @-moz-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
    /* Internet Explorer */
    @-ms-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Opera < 12.1 */
    @-o-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
}

@media screen and (max-width: 1024px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }
}

@media screen and (max-width: 640px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
        
    }    

    .div4{
        width: 50%;

    }
}

@media screen and (max-width: 480px){
	
    .container{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
    }    


    .div4{
        width: 50%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}
