@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        /*font-family: 'KBIZ', sans-serif;*/
        overflow-x: hidden; 
        
    }

    .step-left{
        opacity: 0;
        position: absolute;
        left: 50%;

        /*-moz-transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        transform: translateX(-75%);*/

        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        
    }

    .step-right{
        opacity: 0;
        position: absolute;
        left: 50%;

        /*-moz-transform: translateX(75%);
        -webkit-transform: translateX(75%);
        -o-transform: translateX(75%);
        -ms-transform: translateX(75%);
        transform: translateX(75%);*/

        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .step-now{
        position: relative;

        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .popup{
        width: 100%;
        height: 100%;
        position: fixed;
        display: block;
        z-index: 700;
        /*-webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;*/
        
        -webkit-animation: fadein 0.25s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.25s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadein 0.25s ease-in-out; /* Internet Explorer */
        -o-animation: fadein 0.25s ease-in-out; /* Opera < 12.1 */
        animation: fadein 0.25s ease-in-out;
        background-color: rgba(0, 0, 0, 0.3);
        
    }

    .popup + .popup{

        /*background-color: rgba(0, 0, 0, 0.3);*/
        background-color: transparent;
    }

    .popup>div{
        z-index: 701;
        background-color: #FFFFFF;
        border: 2px solid #7b7c80;
        border-radius: 10px;
        box-shadow: 1px 1px 5px #7b7c80;
        margin-top: 120px;
        /*width: auto;*/
        height: auto;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;

        /*position: absolute;
        left: 0;
        top: 120px;*/

        -webkit-animation: toptobottom 0.5s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: toptobottom 0.5s ease-in-out; /* Firefox < 16 */
        -ms-animation: toptobottom 0.5s ease-in-out; /* Internet Explorer */
        -o-animation: toptobottom 0.5s ease-in-out; /* Opera < 12.1 */
        animation: toptobottom 0.5s ease-in-out;
    }

    .popup > div.selected{
        display: block;
        
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .popup > div.before{
        display: block;
        
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    
    .popup > div.after{
        display: block;
        
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }


    .header{
        width: 100%;
        height: 100px;
        padding: 30px 0px 10px 0px;
        position: absolute;
        left: 0px;
        top: 0px;

        z-index: 300;
        
        background-color: rgba(255, 255, 255, 1);
        /*opacity: 0.8;
        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 );*/
    }

    .header .header-left{
        width: auto;
        height: 100%;
        float: left;
    }

    .header .header-left-logo{
        width: auto;
        height: 60px;
    }

    .header .header-right{
        width: auto;
        height: 100%;
        float: right;
    }


    .header .header-right-a{
        width: auto;
        height: 100%;
        line-height: 60px;
        display: inline-block;
        color: #231f20;
        
        /*color: #FFFFFF;*/
        text-decoration: none;
        /*padding: 0px 20px;*/
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .header .header-right-a.selected, .header .header-right-a:hover{
        /*color: #91c73d;*/
        opacity: 0.6;
    }

    .header .header-right-a::after{
        content: "•";
        font-size: 14px;
        padding: 0px 15px;
        margin-top: -53px;
        display: inline-block;
        color: #d3d3d3;
        font-family: sans-serif;
    }

    .header .header-right-a:last-child::after{
        content: "";
    }


    .contents{
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 80px;
        padding-bottom: 120px;
        min-height: 60%;
    }

    .main{
        width: 100%;
        height: auto;
        /*height: 70%;*/
        position: relative;

    }

    .main .main-title{
        width: auto;
        height: auto;
        display: inline-block;
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .main .main-title-right{
        width: auto;
        height: auto;
        /*display: inline-block;*/
        font-size: 18px;
        color: #7b7c80;
        font-weight: 400;
        float: right;
        cursor: pointer;
        margin-top: 4px
        letter-spacing: -1px;
    }

    .main-request-temp{
        width: 100%;
        height: 100%;
        background-color: #91c73d;
        font-weight: 400;
        text-align: center;
        padding: 20px 0px;
        font-size: 24px;
        color: #231f20;
    }

    .main-request-temp > a{
        font-size: 14px;
        color: #7b7c80;
    }

    .main .main-request2{
        width: 100%;
        height: auto;
        position: relative;
        padding: 40px 0px;
        text-align: center;
    }

    .main .main-request2 .main-request-title{
        width: 100%;
        height: auto;
        font-size: 36px;
        display: block;
        font-weight: 100;
        text-align: center;  
        -ms-word-break: break-all;
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .main .main-request2 .main-request-logo{
        /*display: block;*/
        height: 48px;
    }

    .main .main-request2 .main-request-button{
        width: auto;
        height: auto;
        padding: 12px 0px;
        border: 1px solid #d3d3d3;
        background-color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        display: inline-block;
        margin: 4px;
        width: 200px;
        
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    }


    .main .main-request2 .main-request-button:hover{
        background-color: #f3f3f3;
        transform: scale(0.98);
    }
    .main .main-request2 .main-request-button:active{
        transform: scale(0.96);
    }

    .main .main-request2 .main-request-button:active{
        background-color: #f3f3f3;


    }

    .main .main-request{
        width: 100%;
        height: auto;
        position: relative;
        padding: 100px 0px;

    }

    .main .main-request .main-request-left{
        width: 70%;
        height: auto;
        position: relative;
        float: left;
    }


    .main .main-request .main-request-type-input{
        display: none;

    }

    .main .main-request .main-request-type-label{
        width: auto;
        height: auto;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #00b3e6;
        background-color: transparent;
        /*border-radius: 5px;*/
        margin: 0px;
        cursor: pointer;
    }

    .main .main-request .main-request-type-input:checked + .main-request-type-label{
        background-color: #00b3e6;
        color: #FFFFFF;
    }

    .main .main-request .main-request-type-div{
        width: 100%;
        height: auto;
        position: relative;
        /*display: none;*/
        opacity: 0;
        height: 0px;
        /*border: 1px solid #7b7c80;*/
        padding: 0px;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
    }

    .main .main-request #main-request-type-input1:checked ~ #main-request-type-div1, .main .main-request #main-request-type-input2:checked ~ #main-request-type-div2, .main .main-request #main-request-type-input3:checked ~ #main-request-type-div3{
        opacity: 1;
        /*height: 70px;*/
        height: auto;
        padding: 20px;
        margin: 20px 0;
        /*min-height: 200px;*/
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        border: 3px solid #d3d3d3;
        border-radius: 10px;
    }

    .main .main-request .main-request-type-div .main-request-textarea{
        width: 100%;
        border: none;
        /*padding: 20px;*/
        /*min-height: 100%;*/
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .main .main-request .main-request-type-div .main-request-textarea:valid, .main .main-request .main-request-type-div .main-request-textarea:focus{
        font-size: 16px;
        height: 300px;
    }


        /* Let's get this party started */
    .main *::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    .main *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    .main *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent; 
        /*background: #d3d3d3;*/
        
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .main *:hover::-webkit-scrollbar-thumb{
        background: #d3d3d3; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    .main *::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
        /*background: #d3d3d3;*/
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }


    .main .main-request .main-request-next{
        margin-top: 10px;
        width: auto;
        height: auto;
        padding: 10px 40px;
        border: none;
        background-color: #00b3e6;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 20px;
        /*float: center;*/
        /*margin: 10px auto;*/
        margin-left: 50%;
        cursor: pointer;
        
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .main .main-request .main-request-right{
        
        width: 30%;
        height: auto;
        position: relative;
        float: left;
        padding: 10px;
        padding-top: 60px;
    }

    .main .main-request .main-request-right .main-request-title{

        width: auto;
        height: auto;
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .main .main-request .main-request-right .main-request-summery-title{
        width: auto;
        height: left;
        float: left;
        padding: 5px;
    }

    .main .main-request .main-request-right .main-request-summery-content{
        width: auto;
        height: left;
        float: right;
        padding: 5px;
        font-weight: 700;
    }

    .main .main-sample{
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 120px;
    }
    
    .main .main-sample .main-sample-list{
        width: 100%;
        height: auto;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .main .main-sample .main-sample-list .container{
        overflow: visible;
    }

    .main .main-sample .main-sample-list .main-sample-list-item{
        width: 40%;
        height: auto;
        margin-right: 10px;
        max-width: 200px;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .main .main-sample .main-sample-list .main-sample-list-item .main-sample-list-item-background{
        width: 100%;
        background-image: url('/img/1_9.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

    }

    .main .main-sample .main-sample-list .main-sample-list-item .main-sample-list-item-title{
        font-weight: 700;
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        /*position: absolute;
        left: 0px;
        top: 30%;*/
        /*text-align: center;*/
    }

    .main .main-sample .main-sample-list .main-sample-list-item .main-sample-list-item-content{
        font-weight: 100;
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden !important;
        /*position: absolute;
        left: 0px;
        bottom: 30%;
        text-align: center;*/
    }



    .main.selected{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 500;
        background-color: #FFFFFF;
        padding-top: 120px;
    }

    

    .main.selected .main-request{
        height: 100%;
    }
    .main.selected .main-request .main-request-left{
        height: 100%;
    }
    .main.selected .main-request .main-request-type-div{
        height: 80% !important;
    }

    .request{
        width: 100%;
        height: auto;
        /*max-width: 700px;*/
        /*position: relative;*/
    }

    .request .request-title{
        width: auto;
        height: auto;
        display: block;
        font-weight: 100;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .request .request-subject{
        width: auto;
        height: auto;
        display: block;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 16px;
    }

    .request .request-textarea{
        width: 100%;
        height: auto;
        border: 1px solid #d3d3d3;
        padding: 20px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .request .request-language-list{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin-bottom: 20px;
    }

    .request .request-language-list .request-language-item{
        /*width: 22%;*/
        height: auto;
        display: inline-block;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        margin: 2px;
        padding: 5px;
        cursor: pointer;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

    }

    .request .request-language-list .request-language-item:hover{
        background-color: #d3d3d3;
        color: #FFFFFF;
    }

    .request .request-language-list .request-language-item:active, .request .request-language-list .request-language-item.selected{
        background-color: #91c73d;
        border: 1px solid #91c73d;
        color: #FFFFFF;
        
    }

    .request-input-text, .request-login{
        padding: 20px 10px;
        font-size: 18px;
        font-weight: 100;
        width: 50%; 
        min-width: 200px; 
        max-width: 350px;
        margin: 2px;
    }

    .request .request-next, .request .request-previous{
        width: auto;
        height: auto;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 100;
        background-color: transparent;
        border: 1px solid #7b7c80;
        border-radius: 20px;
        float: right;
        cursor: pointer;
    }

    .request .request-previous{
        float: left;
    }


    .request .request-next:hover, .request .request-previous:hover{
        border-color: #00b3e6;
        color: #00b3e6;

    }

    .footer{
        width: 100%;
        height: auto;
        min-height: 300px;
        background-color: #FFFFFF;
        padding: 10px 0px;
    }

    .footer .div4{
        padding: 10px;
        padding-left: 0px;
    }

    .footer .footer-logo{
        width: auto;
        max-height: 60px;
        max-width: 100%;
    }

    .footer .footer-menu .footer-menu-title{
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        color: #231f20;
        
        margin-bottom: 15px;
        display: block;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        text-decoration: none;
        color: #7b7c80;

        margin-bottom: 10px;
        display: block;
    }

    input[type="text"], input[type="email"]{
        /*width: auto;
        height: auto;*/
        border-radius: 5px;
        padding: 6px 11px;
        color: #231f20;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        /*margin-top: 1px;
        margin-bottom: 1px;*/
    }

    .buttons-full{
        /*width: auto;
        height: auto;*/
        border: none;
        background-color: #00b3e6;
        padding: 6px 11px;
        margin: 0px 3px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons-full:hover{
        opacity: 0.8;

    }

    .buttons-full:active{
        opacity: 0.6;
    }

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        /*overflow: hidden;*/
        /*position:  relative;*/
    }

    pre,button,textarea{
        /*font-family: 'KBIZ', sans-serif;*/
        
    }

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
    }
    
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Firefox < 16 */
    @-moz-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Internet Explorer */
    @-ms-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Opera < 12.1 */
    @-o-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    
    @keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Firefox < 16 */
    @-moz-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
    /* Internet Explorer */
    @-ms-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Opera < 12.1 */
    @-o-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
}

@media screen and (max-width: 1024px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }
}

@media screen and (max-width: 640px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
        
    }    

    .div4{
        width: 50%;

    }
}

@media screen and (max-width: 480px){
	
    .container{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
    }    


    .div4{
        width: 50%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}
