/*@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}*/
 /* #f9fefb; */
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

	.ui-autocomplete {
		max-height: 220px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
	}

	.ui-datepicker, .ui-datepicker *{
		
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
	}

	.ui-autocomplete .ui-menu-item{
		padding: 8px 0px 8px 10px;
		border: 1px solid transparent;
	}

    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/

    
    body{
        margin: 0px;
        padding: 0px;
        height: 0;
        width: 100%;
		font-family: 'Noto Sans SC', sans-serif;
        /*font-family: sans-serif;*/
        overflow-x: hidden; 
        color: #231f20;
		/* background-color: #fcfcfc; */
    }

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	::-moz-selection { 
        background: #00b3e6 ;
        color: #fcfcfc ;
    }
    ::selection {
        background: #00b3e6 ;
        color: #fcfcfc ;
    }

	.fixed_header{
		width: 100%;
		height: auto;
		padding: 8px 0px;
		position: fixed;
		z-index: 500;
		background-color: rgba(0,0,0,0.7);
		display: block;
		transform: translateY(0);
		border-top: 1px solid #00b3e6;
	}

	.fixed_header.invisible{
		/*display: none;*/
		transform: translateY(-100%);
	}

	.fixed_header .fixed_header-logo{
		width: auto;
		height: 60px;
		vertical-align: middle;
		cursor: pointer;
	}

	.fixed_header .nav-wrapper {
		margin-top: 7px;		
	}
	.nav-wrapper {
		-webkit-transform: translateY(0);
       	-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	.text_counter_container.invisible {
		display: none;
	}
	.text_counter_container {
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		position: fixed;
		z-index: 100;
		text-align: center;
		/*display: none;*/
	}
	.text_counter_container .text_counter_popup {
		width: 60%;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #d3d3d3;
		background: #fff;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	}
	.text_counter_container .text_counter_popup .close::after {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		content: "\00d7";
		cursor: pointer;
	}

	.text_counter_container .text_counter_popup h1 {
		margin-top: 20px;
	}
	.text_counter_container .text_counter_popup textarea {
		width: 80%;
		height: 60%;
		min-height: 300px;
		margin-top: 20px;
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #dfdfdf;
	}
	.text_counter_container .text_counter_popup .text_counter_span {
		color: #7b7c80;
		margin-bottom: 20px;
	}
	.text_counter_container .text_counter_popup .text_counter_span span {
		color: #231f20;
		font-size: 1.5em;
	}
	.text_counter_container .text_counter_popup .buttons {
		margin-bottom: 20px;
	}
	.text_counter_container .text_counter_popup .buttons button {
		width: 20%;
		height: auto;
		background-color: rgba(7, 179, 231,1);
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 10px 20px;
		margin: 0 20px;
		margin-bottom: 10px;
	}
	.text_counter_container .text_counter_popup .buttons button:hover {
		background-color: rgba(7, 179, 231,0.8);
	}

	.request_popup_wrap {
		width:100%;
		height:100%;
		background: #fff;
		z-index: 500;
		position: fixed;
		left: 0; top:0;
		text-align: center;
	}

	.request_popup_wrap.invisible {
		display:none;
	}
	.request_popup_wrap .request_popup {
		width:60%;
		border:1px solid rgba(0,0,0,0.1);
		border-radius: 10px;
		overflow: hidden;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.request_popup_wrap .request_popup .popup_content * {
		display: inline-block;
		width:100%;
	}
	.request_popup_wrap .request_popup .under {
		width:100%;
		height: 100%;
		background:#00b3e6;
		padding: 20px;
	}
	.request_popup_wrap .request_popup .under button {
		width:30%;
		border:1px solid #fff;
		border-radius:5px;
		background:#fff;
		color:#00b3e6;
		cursor: pointer;
		padding:10px;
		font-size: 1.1em;
	}
	.request_popup_wrap .request_popup .under button:hover {
		/* opacity: 0.8; */
		background:rgba(255, 255, 255, 0.8);
		color:rgba(0, 180, 230, 0.8);
	}
	.request_popup_wrap .request_popup .popup_content {
		padding:50px 100px;
	}
	.request_popup_wrap .request_popup .popup_content img {
		width:30%;
		margin-bottom: 30px;
	}
	.request_popup_wrap .request_popup .popup_content h1 {
		margin-bottom:20px;
	}
	.request_popup_wrap .request_popup .popup_content span {
		font-size:1.2em;
	}


	.form-header{
		width: 100%;
		height: auto;
		position: relative;
		border-top: 1px solid #872434;
	}

	.form-header .container {
		/*background-color: #ee008c;*/
		/* padding: 15px 0px 35px 0px; */
		padding: 15px 0px;

		/*background-color: #FFFFFF;*/
		
	}

	.form-header .container .form-header-top{
		background-size: cover;
		background-position: center;
		/*color: #FFF;*/
	}
	
    .form-header .form-header-back{
        width: 1.6em;
        height: 1.6em;
        float: left;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.6em;
        cursor: pointer;
		font-weight: 700;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
    }

    .form-header .form-header-back:hover{
        background-color: #d3d3d3;
        color: #FFFFFF;
        border-radius: 50%;
    }

	.form-header .form-header-logo{
		width: auto;
		height: auto;
		display: block;
		/*display: block;*/
		/*text-align: center;*/
		font-weight: 700;
		font-size: 1.4em;
		/*color: #7b7c80;*/
		letter-spacing: -1px;
		margin-bottom: 10px;
		margin-left: 12px;
	}

	.form-header .form-header-logo img{
		cursor: pointer;
		vertical-align: middle !important;
	}
	.form-header .form-header-logo nav, .fixed_header nav {
		float: right;
		text-transform: uppercase;
	}
	.form-header .form-header-logo nav button, .fixed_header nav button {
		display: inline-block;
		padding: 10px 15px;
		background: #00b3e6;
		color: #fff;
		border: none;
		cursor: pointer;
		font-size: 0.8em;
	}	
	.fixed_header nav button {
		font-size: 1.1em;
	}
	.fixed_header nav #menu li a {
		font-size: 1em;
		color: #fff;
		font-weight: 500;
	}
	nav #menu li {
		float: left;
	}
	nav #menu li a {
		display: inline-block;
		color: inherit;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 0.8em;
		font-weight: 500;
	}
	nav #menu li:hover button, nav #menu li:hover a {
		/*color: #20a95e;*/
		opacity: 0.8;
	}
	
	nav #menu li a.active {
		color: #00b3e6;
		font-weight: bold;
	}

	.form-header .form-header-title{
		width: auto;
		height: auto;
		display: block;
		font-weight: 500;
		font-size: 3em;
		margin-left: 50px;
	}

	.form-header .form-header-content{
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		font-size: 2.4em;
		margin-left: 50px;
		padding-right: 470px;		
	}

	.form-request{
		width: 100%;
		/*height: 500px;*/
		position: relative;
		/*top: 0px;*/
		/*transform: rotate(-0.5deg);*/
		z-index: -1;
		/*padding-top: 40px;*/
	}
	
	.form-request .form-header-title, .form-request .form-header-content {
		display: none;
	}

	.form-request .container{
		/*background-image: url('/img/IMG_0770.JPG');
		background-size: cover;
		background-position: center 25%;*/
		/*background-image: url('/img/back22.png');
		background-size: 22%;
		background-position: right;*/
		/*background-repeat: no-repeat;*/
		background-color: #000;
		height: 100%;
		position: relative;
		overflow: hidden;
	}

	/*slide start*/

	.form-request .container {
		width: 100%;
		max-width: 1280px;
		overflow: hidden;
		/* cursor: pointer; */
	}
	.form-request .slides {
		padding: 0;
		width: 100%;
		height: 495px;
		display: block;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}

	.form-request .slides * {
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}

	.form-request .slides input { display: none; }

	.form-request .slide-container { display: block; }

	.form-request .slide {
		top: 0;
		opacity: 1;
		width: 100%;
		height: auto;
		display: block;
		position: absolute;

		transition: all .5s ease-in-out;
	}

	.form-request .slide img {
		width: 100%;
		height: 100%;
		margin-top: -140px;
	}
	.form-request .slide-container:nth-child(3) .slide img {
		margin-top: -250px;
	}
	.form-request .slide div.mobile_img {
		display:none;
	}
	.form-request .slide div.web_img {
		width: 100%;
		height: 505px;
		background-size: cover;
		background-position: center;
		background-color:#fff;
		/* background-image: url("/img/IMG_0701.JPG"); */
	}
	/* .form-request .slide1 div {
		background-image: url("/img/IMG_0701.JPG");
	}
	.form-request .slide2 div {
		background-image: url("/img/IMG_0702.JPG");
	}
	.form-request .slide3 div {
		background-image: url("/img/IMG_0703.JPG");
	}
	.form-request .slide4 div {
		background-image: url("/img/IMG_0704.JPG");
	}
	.form-request .slide5 div {
		background-image: url("/img/IMG_0705.JPG");
	}
	.form-request .slide6 div {
		background-image: url("/img/IMG_0706.JPG");
	}  */


	.form-request .nav label {
		width: 80px;
		height: 50%;
		display: none;
		position: absolute;
		top: 36%;
		opacity: 0;
		z-index: 9;
		cursor: pointer;

		transition: opacity .2s;

		color: #FFF;
		font-size: 5em;
		text-align: center;
		/*line-height: 380px;*/
		font-family: "Varela Round", sans-serif;
		text-shadow: 0px 0px 15px rgb(119, 119, 119);
	}

	.form-request .slide:hover + .nav label { opacity: 0.5; }

	.form-request:hover .nav label { opacity: 0.5;}

	.form-request .nav label:hover { opacity: 1; }

	.form-request .nav .next { right: 0; }

	.form-request input:checked + .slide-container  .slide {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}

	.form-request input:checked + .slide-container .nav label { display: block; }

	.form-request .nav-dots {
		width: 100%;
		bottom: 9px;
		height: 11px;
		display: block;
		position: absolute;
		text-align: center;
	}

	.form-request .nav-dots .nav-dot {
		top: -5px;
		width: 11px;
		height: 11px;
		margin: 0 4px;
		position: relative;
		border-radius: 100%;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.form-request .nav-dots .nav-dot:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.8);
	}

	input#img-1:checked ~ .nav-dots label#img-dot-1,
	input#img-2:checked ~ .nav-dots label#img-dot-2,
	input#img-3:checked ~ .nav-dots label#img-dot-3,
	input#img-4:checked ~ .nav-dots label#img-dot-4,
	input#img-5:checked ~ .nav-dots label#img-dot-5,
	input#img-6:checked ~ .nav-dots label#img-dot-6 {
		background: rgba(255, 255, 255, 0.5);
	}
	/* .form-request .container .gallery {
		width: 100%;
		height: 500px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: left;
	}
	.form-request .container .gallery li {
		float: left;
		width: 33.3%;
	}
	.form-request .container .gallery li span {
		width: 100%;
    	height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		color: transparent;
		background-size: cover;
		background-position: 50% 30%;
		background-repeat: none;
		opacity: 0;
		z-index: 0;
		-webkit-backface-visibility: hidden;
		-webkit-animation: imageAnimation 12s linear infinite 0s;
		-moz-animation: imageAnimation 12s linear infinite 0s;
		-o-animation: imageAnimation 12s linear infinite 0s;
		-ms-animation: imageAnimation 12s linear infinite 0s;
		animation: imageAnimation 12s linear infinite 0s;
	}
	.form-request .container .gallery li:nth-child(1) span {
		background-image: url("/img/IMG_0766.JPG");
	}
	.form-request .container .gallery li:nth-child(2) span {
		background-image: url("/img/IMG_0770.JPG");
		-webkit-animation-delay: 4s;
		-o-animation-delay: 4s;
		-ms-animation-delay: 4s;
		animation-delay: 4s; 
	}
	.form-request .container .gallery li:nth-child(3) span {
		background-image: url("/img/IMG_0772.JPG");
		-webkit-animation-delay: 8s;
		-moz-animation-delay: 8s;
		-o-animation-delay: 8s;
		-ms-animation-delay: 8s;
		animation-delay: 8s; 		
		background-position: 50% 40%;
	}
	.form-request .container .gallery:hover li span {
		-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;
	}

	.form-request .container .gallery .control-nav {
		width: 100%;
		position: relative;
		bottom: -470px;
		text-align: center;
	}
	.form-request .container .gallery .control-nav li {
		margin: 0 10px;
		display: inline-block;
	}
	.form-request .container .gallery .control-paging li a {
		width: 11px;
		height: 11px;
		display: block;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		cursor: pointer;
		text-indent: -9999px;
		box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
		color: #fff;
	}
	.form-request .container .gallery .control-paging li a.active {
		background: rgba(255, 255, 255, 0.5);
		cursor: default;
	}

	.form-request .gallery .prev, .form-request .gallery .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.form-request .gallery .prev {
		left: -30px;
	}
	.form-request .container:hover .prev {
		left: 0;
	}
	.form-request .gallery .next {
		right: -30px;
	} */
	.form-request .container:hover .next {
		right: 0;
	}

	.form-request .form-request-shape{
		/*content: "";*/
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0px;
		right: -0px;
		z-index: -10;
				
		background-image: url('/img/logo-icon.png');
		background-size: 2%;
		background-position: right;
		background-color: #f0f0f0;

	}

	.form-request-inside{
		width: 100%;
		padding: 40px 5px 0px;
		z-index: 30;
		text-align: center;
	}
    .form-request-inside h2 {
		padding-bottom: 13px;
		font-size:2em;
    }
	.form-request-inside h2 strong {
		color: #00b3e6;
	}
	.form-request-inside h3 {
		color: #767779;
		height: 34px;
		display: block;
		font-weight: normal;
		margin-bottom: 20px;
		text-align: center;
		font-size: 1em;
	}
	/*_/_/_/_/_/_/_/_/_/_/이전 폼_/_/_/_/_/_/_/_/_/_/*/

	/* .form-request-inside #form-request {
		border: 1px solid #e8eaeb;
		padding: 30px 30px 15px;
	}

	.form-request-inside .input-help{
		font-size: 0.9em;
		text-align: right;
		display: block;
		color: #7b7c80;
	}

	.form-request-inside .input-line{
		width: 80%;
		height: auto;
		position: relative;
		padding: 5px 0px;
        margin: 0 auto;
	}

	.form-request-inside .input-line .input-title{
		width: auto;
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		font-size: 0.9em;
	}

	.form-request-inside .input-line .input-content{
		width: 100%;
		display: inline-block;
		vertical-align: top;
		font-size: 0.9em;
	}

	.form-request-inside button{
		width: 40%;
		height: auto;
		background-color: #00b3e6;
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 15px 30px;
        margin: 0 auto;
        display: block;
		
	}
	.form-request-inside .text_counter {
		width: 50%;
		padding: 14px 30px;
		margin-left: 11px;
		margin-top: 0;
		float: right;
	}
	.form-request-inside button:hover {
		opacity: 0.8;
	}

	.form-request-inside .input-line .input-content select {
		width: 45%;
		padding: 15px;
		background: none;
		border: none;
		border: 1px solid #dfdfdf;
		color: #7b7c80;
	}
	.form-request-inside .input-line .input-content input, 
	.form-request-inside .input-line .input-content textarea{
		width: 100%;
		height: auto;
		background: none;
		border: none;
		padding: 15px;
		border: 1px solid #dfdfdf;
	}
	
	.form-request-inside .input-line .input-content input:focus + .input-help, 
	.form-request-inside .input-line .input-content textarea:focus + .input-help {
		visibility: visible;
		color: #ff0000;
	}
    .form-request-inside .submit_check {
        font-size: 0.9em;
        text-align: center;
        word-break: keep-all;
        margin-top: 20px;
		margin-bottom: 30px;
	} */
	
	/*_/_/_/_/_/_/_/_/_/_/이전 폼 끝_/_/_/_/_/_/_/_/_/_/*/
	
	/*_/_/_/_/_/_/_/_/_/_/리뉴얼 폼_/_/_/_/_/_/_/_/_/_/*/

	#form-request {
		border: none;
	}
	#form-request * {
		box-sizing:border-box;
	}
	#form-request button {
		border:1px solid #00b3e6;
		border-radius:5px;
		background:#00b3e6;
		color:#fff;
		cursor: pointer;
		display:inline-block;
		padding:10px;
		margin:0 0 10px 0;
	}
	#form-request .inside_left {
		display:inline-block;
		width:20%;
		text-align:left;
		vertical-align: top;
		margin-bottom:10px;
	}
	#form-request .inside_right {
		display:inline-block;
		width:79%;
		text-align: left;
		vertical-align: top;
		margin-bottom:10px;
	}

	#form-request .inside_right .language_content {
		display:inline-block;
		width:100%;
	}

	#form-request .etc_lang.invisible {
		display:none;
	}

	#form-request .div30_inside.invisible {
		display: none;
	}
	
	#form-request .div30_inside .language_content {
		width:73%;
		display: inline-block;
		/* font-size:0.9em; */
	}

	#form-request .div30_inside .language_content>span {
		width: auto;
		max-width: 150px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
	}
	
	#form-request .inside_header {
		margin-bottom:30px;
	}
	#form-request .inside_header span {
		font-size:1.1em;
		display:inline-block;
		width:100%;
	}
	#form-request .inside_header span:first-child {
		font-size:1.5em;
		font-weight:600;
	}
	#form-request .inside_header span.now_date {
		font-size:0.9em;
	}
	#form-request .div70 {
		width:69%;
		padding:20px;
		display:inline-block;
		background:rgba(0, 0, 0, 0.05);
		text-align:center;
		/* height:570px; */
		/* position: relative; */
	}
	#form-request .div70 label {
		width:100%;
		text-align:left;
		margin-right:15px;
		padding-top:5px;
		font-size:1em;
	}
	#form-request .div70 input[type='radio'] {
		display:none;
	}
	#form-request .div70 input[type='radio'] + label {
		display:inline-block;
		width:auto;
		background:#fff;
		padding:10px;
		border:1px solid rgba(0,0,0,0.1);
		border-radius:5px;
		/* cursor: pointer; */
		margin-right:5px;
	}
	#form-request .div70 input[type='radio']:checked + label {
		border-color:#fff;
		background:#00b3e6;
		color:#fff;

	}
	#form-request .div70 input, #form-request .div70 textarea, #form-request .div70 select {
		background:#fff;
		width:100%;
		padding:10px;
		font-size:1em;
		margin:0 0 10px 0;
		border:1px solid rgba(0,0,0,0.1);
		border-radius:5px;
	}
	#form-request input:focus, #form-request textarea:focus, #form-request select:focus {
		border-color:#00b3e6;
		outline: none;
	}
	#form-request .div70 .request_text {
		width:100%;
		position: relative;
	}
	#form-request .div70 textarea {
		height: 200px;
		font-family: inherit;
		padding:10px;
	}
	
	#form-request .div70 .file_wrap {
		position:absolute;
		left:1px; top:1px;
		width:100%;
		color:#484848;
		padding-left:15px;
	}
	#form-request .div70 .file_wrap input[type='file'] {
		width:auto;
		color:#484848;
		border:none;
	}
	#form-request .div70 .file_wrap button.file_delete_btn {
		width:15px;
		height:15px;
		border:none;
		display:none;
		text-align: center;
		vertical-align: middle;
		background-color: transparent;
		background-image: url("/img/cancel-button.png");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 0;
	}
	#form-request .div70 .file_wrap i {
		color:#fff;
		cursor: pointer;
	}
	#form-request .div70 .file_wrap.invisible, #form-request .div70 select .lang_check.hide_option {
		display:none;
	}
	#form-request .div70 select.original_language, 
	#form-request .div70 select.target_language {
		width:47%;
		appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-webkit-appearance: none;
		color:#231f20;
	} 
	#form-request .div70 select.original_language+i {
		margin: 5px;
	}
	#form-request .div70 select.target_language {
		float:right;
	}
	#form-request .div70 ul {
		width:100%;
		display:inline-block;
		padding:0;
	}
	#form-request .div70 .step2_btn li {
		width:32%;
		border:1px solid rgba(0,0,0,0.1);
		box-sizing:border-box;
		background:#fff;
		float: left;
		padding:30px 20px;	
		cursor: pointer;	
		margin-right:15px;
		line-height:2em;
	}
	#form-request .div70 .step2_btn li.select {
		border:1px solid #00b3e6;	
		background:rgba(7, 179, 231, 0.90);
		color:#fff;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.40);
		transform: translateY(-5px);
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	#form-request .div70 .step2_btn li.select * {
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	#form-request .div70 .step2_btn li.select span:first-child {
		border-bottom:1px solid #fff;
	}
	#form-request .div70 .step2_btn li:hover {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.40);
		transform: translateY(-5px);
	}
	#form-request .div70 .step2_btn li:last-child {
		margin-right:0;
	}
	#form-request .div70 .step2_btn li span {
		display:inline-block;
	}
	#form-request .div70 .step2_btn li span:first-child {
		font-size:1.2em;
		font-weight:600;
		border-bottom:1px solid #00b3e6;
		margin-bottom:20px;
	}
	#form-request .div70 .step2_btn li sub {
		vertical-align: middle;
	}
	#form-request .div70 .coupon_wrap {
		width:100%;
		text-align:left;
	}
	#form-request .div70 #coupon {
		width: 55%;
		margin-right:10px;
	}
	#form-request .div70 button.coupon_btn {
		width: 37%;
	}
	#form-request .div70 .request_btn {
		width:100%;
		text-align: center;
		/* position: absolute;
		bottom:20px; */
		
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}

	#form-request .div70 .request_btn * {

		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}

	#form-request .div70 .request_btn button {
		width:30%;
		margin:0 5px;
		margin-top:10px;
		/* display:inline-block; */
		visibility: visible;
		
	}
	#form-request .request_btn button.invisible {
		background:#B8B8B8;
		border-color:#D3D3D3;
		cursor:default;
		/* display: none; */
		visibility: hidden;
	}
	#form-request .request_btn button.invisible:hover {
		opacity: 1;
	}
	#form-request .div70 sup {
		display:inline-block;
		width:100%;
		text-align: right;
	}
	#form-request .div70>div.invisible {
		display:none;
	}

	#form-request .help_text {
		width:100%;
		text-align: left;
		margin-top: 20px;
		/* margin-top:-50px; */
	}
	#form-request .help_text a {
		font-family: bold;
		font-size: 1.1em;
		color:#0081c2;
	}
	#form-request .help_text a:hover {
		text-shadow: 1px 1px 1px rgba(83, 83, 83, 0.3);
	}
	#form-request .div30 {
		width:30%;
		/* padding:20px; */
		padding:8px;
		display: inline-block;
		vertical-align:top;
	}	
	#form-request .div30 .div30_inside {
		width:100%;
		text-align: left;
		font-size:1.1em;
	}
	#form-request .div30_inside.privacy_table {
		display:table;
		border:1px solid rgba(0,0,0,0.1);
		border-collapse: collapse;
	}
	#form-request .privacy_table .privacy_table_row {
		display:table-row;		
		font-size: 0.9em;	
	}
	#form-request .privacy_table .privacy_table_row:first-child {
		font-weight: bold;
		text-align: center;		
		/* font-size: 0.75em; */
	}
	#form-request .privacy_table .privacy_table_cell {
		display:table-cell;
		border:1px solid rgba(0,0,0,0.1);	
		vertical-align: top;
		word-break: keep-all;
		padding:5px;
		padding-left:10px;
	}
	#form-request .privacy_table .privacy_table_cell:first-child {
		width: 35%;
	}
	#form-request .div30 .total_price {
		border-top:2px inset rgba(0,0,0,0.1); 
		margin-top: 10px; 
		padding-top: 10px; 
	}
	#form-request .div30 span {
		display:inline-block;
		padding:5px;
	}
	#form-request .div30 .div30_inside>span:first-child {
		width:25%;
		font-weight:600;
	}
	#form-request .div30 .total_price>span:first-child {
		width:40%;
	}
	#form-request .div30 .total_price>span:last-child {
		width:50%;
		font-weight:600;
		text-align:right;
		font-size:1.3em;
	}
	#form-request .div30 .total_price>span:last-child sub {
		font-weight: normal;
		font-size:0.7em;
		vertical-align: middle;
		text-decoration: line-through;
		text-decoration-color: red;    
		margin-right: 10px;
	}
	/* #form-request .div30 .urgency_rate+sub {
		vertical-align:text-bottom;
	} */
	#form-request .div30 .urgency_rate sub {
		display:none;
	}
	#form-request input[type='checkbox'] {
		display:inline-block;
		width:16px;
		height:16px;
		margin-right:10px;
		position: relative;
		top:3px;
	}
	#form-request .submit_check {
		display:inline-block;
		width:100%;
		text-align: left;
		/* word-break: keep-all; */
		/* padding:5px; */
		margin-top: 10px;
		margin-bottom:10px;
	}
	#form-request .submit_check input {
		cursor: pointer;
	}
	#form-request .request_btn button {
		display:inline-block;
		width:100%;
	}
	/*#form-request .request_btn button.prev_btn {
		border: 1px solid #00b3e6;
		background:#fff;
		color:#00b3e6;
	}*/
	#form-request .request_btn button:hover {
		opacity:0.8;
	}	
	

	/*_/_/_/_/_/_/_/_/_/_/리뉴얼 폼 끝_/_/_/_/_/_/_/_/_/_/*/
	

	#about-us {
		width: 100%;
		height: auto;
		position: relative;
		margin-bottom: 20px;
		text-align: center;
		margin-top: 30px;
		display: none;
	}

	#about-us .container{
		/*background-color: #FFFFFF;*/
	}
	#about-us .container .about-explanation {
		margin-bottom: 20px;
	}
	#about-us .container img {
		width: 10%;
		float: left;
		margin: 0 5em;
	}
	#about-us .container .explanation-content {
		width: 75%;
		max-width: 900px;
		min-height:120px; 
		float: left;
		text-align: left;
		line-height: 2em;
		padding-left: 50px;
	}
	#about-us .container .div3 {
		width: 100%;
	}
	#about-us .container .explanation-content .explanation-subject {
		border: none;
	}
	#about-us .container .explanation-content .explanation-subject::before {
		content: "";
		display: block;
		float: left;
		margin-top: 2px;
		margin-right: 20px;
		width: 3px;
		height: 30px;
		background: #00b3e6;
	}
	#price-table, #about-us, #company-map, #main_step, #main_party {
		/* margin-top: 35px; 
		padding-top: 70px;*/
		text-align: center;
		/* border:1px solid red; */
	}
	#main_step img, #main_party>img {
		width:100%;
		max-width: 1280px;
		padding:30px;
		box-sizing:border-box;
	}
	#main_step .mobile_step {
		display:none;
	}
	#main_party .party_mobile {
		display:none;
	}
	#main_party .wrapper {
		width: 100%;
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
		max-width:1280px;
		padding:30px;
		/* height:800px; */
		/* height: 150vh; */
		position: relative;

		background-image: url("/img/why_ciceron4.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}	
	  
	.flex-center {
		/* display: -webkit-box;
		display: -ms-flexbox; */
		display: inline-block;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}

	#main_party .wrapper>img {
		width:100%;
		max-width:1280px;
	}

	#main_party .main_party_people {
		/* width: 35%;
		height: 35%; */
		display: none;
		position: absolute;
		top:27%;
		left:4%;

		/* -webkit-animation: rotate linear 20s infinite;
		animation: rotate linear 20s infinite; */
	}
	#main_party .container .dot {
		margin-top: -0.5em;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		max-width:70px;
		-webkit-animation: swing 2s linear infinite;
			animation: swing 2s linear infinite;			
		-webkit-transform-origin: center;
		transform-origin: center;
		/* -webkit-transition-timing-function: cubic-bezier(0, 0.99, 0, 0.1);
				transition-timing-function: cubic-bezier(0, 0.99, 0, 0.1); */
	}
	  
	#main_party .container-dot {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	  
	#main_party .dot-a {
		/* -webkit-transform: rotate(300deg);
				transform: rotate(300deg); */
		-webkit-transform: translate(-14%, 18%);
		transform: translate(-14%, 18%);
	}
	#main_party .dot-a .dot {
		-webkit-animation-delay: 0ms;
				animation-delay: 0ms;
	}
	  
	#main_party .dot-b {
		/* -webkit-transform: rotate(240deg);
				transform: rotate(240deg); */
		-webkit-transform: translate(14%, 20%);
		transform: translate(14%, 20%);
	}
	#main_party .dot-b .dot {
		-webkit-animation-delay: -187.5ms;
				animation-delay: -187.5ms;
	}
	  
	#main_party .dot-c {
		/* -webkit-transform: rotate(180deg);
				transform: rotate(180deg); */
		-webkit-transform: translate(13%, 53%);
		transform: translate(13%, 53%);
	}
	#main_party .dot-c .dot {
		-webkit-animation-delay: -375ms;
				animation-delay: -375ms;
	}
	  
	#main_party .dot-d {
		/* -webkit-transform: rotate(120deg);
				transform: rotate(120deg); */
		-webkit-transform: translate(-13%, 51%);
				transform: translate(-13%, 51%);
	}
	#main_party .dot-d .dot {
		-webkit-animation-delay: -562.5ms;
				animation-delay: -562.5ms;
	}
	  
	#main_party .dot-e {
		/* -webkit-transform: rotate(60deg);
				transform: rotate(60deg); */
		-webkit-transform: translate(0%, 69%);
		transform: translate(0%, 69%);
	}
	#main_party .dot-e .dot {
		-webkit-animation-delay: -750ms;
				animation-delay: -750ms;
	}
	  
	#main_party .dot-f {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	#main_party .dot-f .dot {
		-webkit-animation-delay: -937.5ms;
				animation-delay: -937.5ms;
	}
	#main_party .dot-g {
		/* -webkit-transform: rotate(360deg);
				transform: rotate(360deg); */
		-webkit-transform: translate(0%,34%);
		transform: translate(0%,34%);

	}
	#main_party .dot-g .dot {
		-webkit-animation-play-state: paused; 
			animation-play-state: paused;
		-webkit-animation-delay: -1125ms;
				animation-delay: -1125ms;
	}

	@-webkit-keyframes swing {
		20% {
		transform: rotate3d(0, 0, 1, 15deg) scale(1.2) translateY(3px);
		}
	
		40% {
		transform: rotate3d(0, 0, 1, -10deg);
		}
	
		60% {
		transform: rotate3d(0, 0, 1, 5deg);
		}
	
		80% {
		transform: rotate3d(0, 0, 1, -5deg);
		}
	
		to {
		transform: rotate3d(0, 0, 1, 0deg);
		}
	}

	@keyframes swing {
		20% {
		transform: rotate3d(0, 0, 1, 15deg) scale(1.1) translateY(3px);
		}
	
		40% {
		transform: rotate3d(0, 0, 1, -10deg);
		}
	
		60% {
		transform: rotate3d(0, 0, 1, 5deg);
		}
	
		80% {
		transform: rotate3d(0, 0, 1, -5deg);
		}
	
		to {
		transform: rotate3d(0, 0, 1, 0deg);
		}
	}

	@-webkit-keyframes left_right {
		0% {
		  	-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
		25% {
		  	-webkit-transform: rotate(-20deg);
					transform: rotate(-20deg);
		}
		50% {
			-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
		75% {
			-webkit-transform: rotate(20deg);
					transform: rotate(20deg);
		}
		100% {
			-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
	}
	  
	@keyframes left_right {
		0% {
		  	-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
		25% {
		  	-webkit-transform: rotate(-20deg);
					transform: rotate(-20deg);
		}
		50% {
			-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
		75% {
			-webkit-transform: rotate(20deg);
					transform: rotate(20deg);
		}
		100% {
			-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
	}
	  
	@-webkit-keyframes bounce {
		0%, 100% {
		  -webkit-transform: translateY(0);
				  transform: translateY(0);
		}
		50% {
		  -webkit-transform: translateY(100%);
				  transform: translateY(100%);
		}
	}
	  
	@keyframes bounce {
		0%, 100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
  		}
  		50% {
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
  		}
	}

	/*#main_party .main_party_people span img {
		width:10%;
		max-width:80px;
		position: absolute;
		transform-origin:top;

		-webkit-animation: party_circle 5s linear infinite; 
		-moz-animation: party_circle 5s linear infinite; 
		-o-animation: party_circle 5s linear infinite; 
		animation: party_circle 5s linear infinite;
	}
	#main_party .main_party_people span::after img {
		content: '';
		position: absolute;
		background: #000;
		bottom:0;
		left: 50%;
		opacity: 0.7;
		filter: blur(1px);
		-webkit-animation: party_shadow 10s linear infinite; 
		-moz-animation: party_shadow 10s linear infinite; 
		-o-animation: party_shadow 10s linear infinite; 
		animation: party_shadow 10s linear infinite;
	}
		
	#main_party .main_party_people span:nth-child(1) img {
		left: 50%;
		top:35%;
	}
	#main_party .main_party_people span:nth-child(2) img {
		left: 43%;
		top:47%;
		animation-delay: -.3s;
	}
	#main_party .main_party_people span:nth-child(3) img {
		left: 42%;
		top:36%;
		animation-delay: -.6s;
	}
	#main_party .main_party_people span:nth-child(4) img {
		left: 56%;
		top:38%;
		animation-delay: -.4s;
	}
	#main_party .main_party_people span:nth-child(5) img {
		left: 48%;
		top: 52%;
		animation-delay: -.5s;
	}
	#main_party .main_party_people span:nth-child(6) img {
		left: 54%;
		top:50%;
		animation-delay: -.2s;
	} */
		
	#price-table {
		display:none;
	}
	#price-table .table-wrap {
		padding: 30px 30px 15px;
	}
	#price-table table {
		border: 1px solid #e8eaeb;
		border-collapse: separate;
		border-spacing: 0;
		background: #fff;
		width: 57%;
		text-align: center;
		border-radius: 5px;
    	-moz-border-radius:5px;
		-webkit-border-radius: 5px;
		overflow: hidden;
		float: left;
	}
	#price-table table * {
		padding: 15px 20px;
	}
	#price-table table thead {
		/*background: rgba(0,179,230,0.2);*/
		background: rgba(187,189,192,0.3);
	}
	#price-table table th {
		width: auto;
		color: #231f20;
		width: 30%;
	}
	#price-table table tr th:first-child {
		width:20%;
	}

	#price-table .help-text {
		text-align: left;
		font-size: 0.9em;
		float: right;
		/*margin-right: 20px;*/
		color: #7b7c80;
		margin: 30px auto;
	}
	#price-table .help-text li {
		padding-bottom: 5px;
	}
	#price-table .help-text button {
		float: right;
		width: auto;
		/*display: inline-block;*/
		background: #00b3e6;
		color: #fff;
		padding: 10px 15px;
		border: none;
		margin-top: 30px;
		margin-right: 7px;
		font-size: 1.2em;
		cursor: pointer;
	}

	#company-map {
		text-align: center;
		margin-top:30px;
	}
	#company-map .section_cont {
		width: 100%;
		float: left;
		padding-bottom: 65px;
		text-align: center;
	}
	#company-map .section_cont p {
		margin-top: 10px;
	}
	#company-map .section_cont ul {
		display: block;
		margin-top: 30px;
		overflow: hidden;
		padding: 0;
	}
	#company-map .section_cont li {
		color: #8e9294;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 27px;
		text-transform: uppercase;
		display: inline-block;
	}
	#company-map .section_cont li b {
		color: #272828;
		margin-right: 10px;
		margin-left: 10px;
	}
	#company-map .section_cont span {
		/*float: left;*/
    	margin: -3px 20px;
	}
	#company-map .section_cont a {
		color: inherit;
		text-decoration: none;
	}
	#company-map .section_cont iframe {
		display:none;
	}		
	#company-map .section_cont .company_contact, #company-map .section_cont .company_sns {
		width: 100%;
		/*position: relative;
		left: 50%;
		transform: translateX(-31%);*/
	}
	/* #company-map .section_cont .company_sns {		
		transform: translateX(-23%);
	} */
	#company-map .section_cont .company_contact li, #company-map .section_cont .company_sns li {
		/*float: left;*/
	}
	#company-map .section_cont .company_sns li {
		color: #231f20;
		padding: 20px 30px;
	}

	.div3{
		width: 33.3333%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation{
		margin: 0;
		padding: 0 20px;
		text-align: left;
		margin-bottom: 120px;
		vertical-align: top;
	}

	.explanation i{
		margin: 20px;
		display: block;
	}

	.explanation img {
		width: 20%;
		position: absolute;
		top: 55px;
		left: 5%;
		/*max-width: 105px;
		float: left;
		margin-top: 40px;
		margin-right: 20px;*/
	}
	
	.explanation .explanation-content{
		font-size: 1.2em;
		font-weight: 400;
		display: inline-block;
		padding: 15px 0px;
		text-align: justify;
		width: 65%;
		margin-left: 30%
		/*margin-top: 40px;*/
	}

	.explanation .explanation-subject, #price-table .explanation-subject, #about-us .explanation-subject, #company-map .explanation-subject {
		font-size: 1.2em;
		font-weight: 700;
		padding-top: 10px;
		padding-bottom: 5px;
        margin-bottom: 10px;
		display: inline-block;
		/*display: block;*/
		text-transform: uppercase;
		
		border-bottom: 1px solid #00b3e6;
	}
	.explanation .explanation-subject {
		margin-bottom: 20px;
		/*margin-left: 60px;*/
	}

	.explanation .explanation-content a {
		color: #231f20;
		width: 100%;
		display: inline-block;
		word-break: keep-all;
	}

	.explanation .explanation-content a>span {
		font-weight: 700; 
		font-size: 0.9em; 
		color: #00b3e6;		
		margin-left: 0;
        display: inline-block;
        padding-top: 10px;
	}

	.explanation .explanation-content img {
		width: 25%;
		vertical-align: top;
		margin-left: 1em;
	}
	.explanation:last-child .explanation-content img {
		margin-left: 2em;
	}

	.explanation .explanation-content a:hover .fa {
		padding-left: 15px;
	}	

	.form .logo{
		height: 48px;
	}

	.form .wrapper{
		position: relative;
		overflow: hidden;
		/*margin-bottom: 25px;*/
	}
	.form .title{
		width: 100%;
		height: auto;
		position: relative;
		text-align: center;
		font-weight: 100;
		margin: 30px 0px;
		font-size: 14px;
	}

	.form .title .title_img{
		height: 100px;
		margin-bottom: 25px;
	}

	.div3{
		width: 33%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation{
		margin: 0;
		padding: 0;
		text-align: left;
		margin-bottom: 30px;
	}

	.explanation i{
		margin: 20px;
		display: block;
	}

	.explanation .explanation_subject{
		font-size: 18px;
		font-weight: 400;
		display: block;
		
	}

	.explanation .explanation_content{
		font-size: 16px;
		font-weight: 100;
		display: block;
		padding: 15px 0px;
	}

	.form .application{
		background-image: url('/img/form.jpg');
		background-size: cover;
		position: relative;
		z-index: 10;
	}

        /* Let's get this party started */
    body *::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    body *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    body *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent; 
        /*background: #d3d3d3;*/
        
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    body *:hover::-webkit-scrollbar-thumb{
        background: #d3d3d3; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    body *::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
        /*background: #d3d3d3;*/
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }


	/* footer S */
	.footer {
		width: 100%;
		border-top: #f0f0f0 1px solid;
		float: left;
		/* padding: 40px 0; */		
		padding: 40px 0 120px;
		text-align: center;
	}
	.footer .footer_lnb {
		width: 100%;
		display: block;
		margin: 0 auto;
		overflow: hidden;
	}
	.footer .footer_lnb li {
		/*float: left;*/
		display: inline-block;
	}
	.footer .footer_lnb li a {
		color: #8e9294;
		font-size: 0.7em;
		display: block;
		margin: 3px 0;
	}
	.footer .footer_lnb span {
		/*float: left;*/
		margin: 0 20px;
		color: #8e9294;
    	font-size: 0.8em;
	}
	.footer .footer_info {
		width: 100%;
		display: block;
		margin: 14px auto;
		overflow: hidden;
	}
	.footer .footer_info li {
		color: #8e9294;
		/*float: left;*/
		font-size: 0.7em;
		padding: 3px 0;
		display: inline-block;
	}
	.footer .footer_info span {
		/*float: left;*/
    	margin: 0 20px;
    	font-size: 0.8em;
	}
	.footer p {
		color: #8e9294;
		font-size: 11px;
		letter-spacing: 1px;
	}

	/* footer E */

	.btn_top {
		position: fixed;
		bottom: 40px;
		right: 40px;
		-webkit-animation: fadein 0.25s ease-in-out; 
		/* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.25s ease-in-out; 
		 /*Firefox < 16 */
        -ms-animation: fadein 0.25s ease-in-out;  
		/*Internet Explorer */
        -o-animation: fadein 0.25s ease-in-out;  
		/*Opera < 12.1 */
        animation: fadein 0.25s ease-in-out;
	}
	.btn_top:hover {
		opacity: 0.8;
	}
	
	.btn_top.invisible {
		display: none;
		-webkit-animation: fadeout 0.25s ease-in-out; 
		/* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeout 0.25s ease-in-out; 
		 /*Firefox < 16 */
        -ms-animation: fadeout 0.25s ease-in-out;  
		/*Internet Explorer */
        -o-animation: fadeout 0.25s ease-in-out;  
		/*Opera < 12.1 */
        animation: fadeout 0.25s ease-in-out;
	}

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        /*overflow: hidden;*/
        /*position:  relative;*/
    }

    /* pre,button,textarea{
        font-family: 'KBIZ', sans-serif;
        
    } */

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
	}

	@-webkit-keyframes imageAnimation { 
		0% { opacity: 0;
		-webkit-animation-timing-function: ease-in; }
		8% { opacity: 1;
			-webkit-animation-timing-function: ease-out; }
		16.66% { opacity: 1;}
		33.32% { opacity: 1;}
		49.98% { opacity: 1;}
		66.64% { opacity: 1;}
		83.30% { opacity: 0;}
		100% { opacity: 0;}
	}
	@-moz-keyframes imageAnimation { 
		0% { opacity: 0;
		-webkit-animation-timing-function: ease-in; }
		8% { opacity: 1;
			-webkit-animation-timing-function: ease-out; }
		16.66% { opacity: 1; }
		33.32% { opacity: 1; }
		49.98% { opacity: 1; }
		66.64% { opacity: 1; }
		83.30% { opacity: 0; }
		100% { opacity: 0; }
	}
	@-o-keyframes imageAnimation { 
		0% { opacity: 0;
		-webkit-animation-timing-function: ease-in; }
		8% { opacity: 1;
			-webkit-animation-timing-function: ease-out; }
		16.66% { opacity: 1;  }
		33.32% { opacity: 1;  }
		49.98% { opacity: 1;  }
		66.64% { opacity: 1;  }
		83.30% { opacity: 0;  }
		100% { opacity: 0;  }
	}
	@-ms-keyframes imageAnimation { 
		0% { opacity: 0;
		-webkit-animation-timing-function: ease-in; }
		8% { opacity: 1;
			-webkit-animation-timing-function: ease-out; }
		16.66% { opacity: 1;  }
		33.32% { opacity: 1;  }
		49.98% { opacity: 1;  }
		66.64% { opacity: 1;  }
		83.30% { opacity: 0;  }
		100% { opacity: 0;  }
	}
	@keyframes imageAnimation { 
		0% { opacity: 0;
		-webkit-animation-timing-function: ease-in; }
		8% { opacity: 1;
			-webkit-animation-timing-function: ease-out; }
		16.66% { opacity: 1;  }
		33.32% { opacity: 1;  }
		49.98% { opacity: 1;  }
		66.64% { opacity: 1;  }
		83.30% { opacity: 0;  }
		100% { opacity: 0;  }
	}

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Firefox < 16 */
    @-moz-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Internet Explorer */
    @-ms-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Opera < 12.1 */
    @-o-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    
    @keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Firefox < 16 */
    @-moz-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
    /* Internet Explorer */
    @-ms-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Opera < 12.1 */
    @-o-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
	}
		/* ver.1  */
	@keyframes party_circle {
        from { 
			-webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); 
		}
		to   { -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
    }

    /* Firefox < 16 */
    @-moz-keyframes party_circle {
        from { -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); }
		to   { -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes party_circle {
        from { -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); }
		to   { -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
    }

    /* Internet Explorer */
    @-ms-keyframes party_circle {
        from { -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); }
		to   { -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
    }

    /* Opera < 12.1 */
    @-o-keyframes party_circle {
        from { -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); }
		to   { -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); }
	}

	@keyframes square-tl {
		0% {
			transform: translate(0, 0) rotate(45deg);
		}
		25% {
			transform: translate(0, 120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, 120px) rotate(45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(45deg);
			
		}
	}
	
	@-o-keyframes square-tl {
		0% {
			transform: translate(0, 0) rotate(45deg);
		}
		25% {
			transform: translate(0, 120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, 120px) rotate(45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(45deg);
			
		}
	}
	
	@-ms-keyframes square-tl {
		0% {
			transform: translate(0, 0) rotate(45deg);
		}
		25% {
			transform: translate(0, 120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, 120px) rotate(45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(45deg);
			
		}
	}
	
	@-webkit-keyframes square-tl {
		0% {
			transform: translate(0, 0) rotate(45deg);
		}
		25% {
			transform: translate(0, 120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, 120px) rotate(45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(45deg);
			
		}
	}
	
	@-moz-keyframes square-tl {
		0% {
			transform: translate(0, 0) rotate(45deg);
		}
		25% {
			transform: translate(0, 120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, 120px) rotate(45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(45deg);
			
		}
	}
	
	@keyframes square-bl {
		0% {
			transform: translate(0, 0) rotate(-45deg);
		}
		25% {
			transform: translate(0, -120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, -120px) rotate(-45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-45deg);
			
		}
	}
	
	@-o-keyframes square-bl {
		0% {
			transform: translate(0, 0) rotate(-45deg);
		}
		25% {
			transform: translate(0, -120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, -120px) rotate(-45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-45deg);
			
		}
	}
	
	@-ms-keyframes square-bl {
		0% {
			transform: translate(0, 0) rotate(-45deg);
		}
		25% {
			transform: translate(0, -120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, -120px) rotate(-45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-45deg);
			
		}
	}
	
	@-webkit-keyframes square-bl {
		0% {
			transform: translate(0, 0) rotate(-45deg);
		}
		25% {
			transform: translate(0, -120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, -120px) rotate(-45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-45deg);
			
		}
	}
	
	@-moz-keyframes square-bl {
		0% {
			transform: translate(0, 0) rotate(-45deg);
		}
		25% {
			transform: translate(0, -120px) rotate(0deg);
		}
		50% {
			transform: translate(120px, -120px) rotate(-45deg);
		}
		75% {
			transform: translate(120px, 0) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-45deg);
			
		}
	}
	
	@keyframes square-tr {
		0% {
			transform: translate(0, 0) rotate(20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, 120px) rotate(20deg);
		}
		75% {
			transform: translate(0, 120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(20deg);
			
		}
	}
	
	@-o-keyframes square-tr {
		0% {
			transform: translate(0, 0) rotate(20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, 120px) rotate(20deg);
		}
		75% {
			transform: translate(0, 120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(20deg);
			
		}
	}
	
	@-ms-keyframes square-tr {
		0% {
			transform: translate(0, 0) rotate(20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, 120px) rotate(20deg);
		}
		75% {
			transform: translate(0, 120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(20deg);
			
		}
	}
	
	@-webkit-keyframes square-tr {
		0% {
			transform: translate(0, 0) rotate(20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, 120px) rotate(20deg);
		}
		75% {
			transform: translate(0, 120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(20deg);
			
		}
	}
	
	@-moz-keyframes square-tr {
		0% {
			transform: translate(0, 0) rotate(20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, 120px) rotate(20deg);
		}
		75% {
			transform: translate(0, 120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(20deg);
			
		}
	}
	
	@keyframes square-br {
		0% {
			transform: translate(0, 0) rotate(-20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, -120px) rotate(-20deg);
		}
		75% {
			transform: translate(0, -120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-20deg);
			
		}
	}
	
	@-o-keyframes square-br {
		0% {
			transform: translate(0, 0) rotate(-20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, -120px) rotate(-20deg);
		}
		75% {
			transform: translate(0, -120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-20deg);
			
		}
	}
	
	@-ms-keyframes square-br {
		0% {
			transform: translate(0, 0) rotate(-20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, -120px) rotate(-20deg);
		}
		75% {
			transform: translate(0, -120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-20deg);
			
		}
	}
	
	@-webkit-keyframes square-br {
		0% {
			transform: translate(0, 0) rotate(-20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, -120px) rotate(-20deg);
		}
		75% {
			transform: translate(0, -120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-20deg);
			
		}
	}
	
	@-moz-keyframes square-br {
		0% {
			transform: translate(0, 0) rotate(-20deg);
		}
		25% {
			transform: translate(-120px, 0) rotate(0deg);
		}
		50% {
			transform: translate(-120px, -120px) rotate(-20deg);
		}
		75% {
			transform: translate(0, -120px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-20deg);
			
		}
	}
	
	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	
	@-o-keyframes rotate {
		from {
			-o-transform: rotate(0deg);
		}
		to {
			-o-transform: rotate(360deg);
		}
	}
	
	@-ms-keyframes rotate {
		from {
			-ms-transform: rotate(0deg);
		}
		to {
			-ms-transform: rotate(360deg);
		}
	}
	
	@-webkit-keyframes rotate {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
		}
	}
	
	@-moz-keyframes rotate {
		from {
			-moz-transform: rotate(0deg);
		}
		to {
			-moz-transform: rotate(360deg);
		}
	}
}

@media screen and (max-width: 1280px){
	
    .container{
        width: 98%;
		/* margin-left: 1%; */
		margin-left:0;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }
	.form-request-inside .input-line .input-content select {
		width: 44%;
	}
	#price-table .help-text {
		width: 43%;
	}
	#about-us .container .explanation-content div {
		padding-right: 4em;
	}
}

@media screen and (max-width: 1200px) {
	.nav-wrapper {
		display: block;
	}
}

@media screen and (max-width: 1180px) {
	.form-request-inside .text_counter {
		width: 48%;
	}
}

@media screen and (max-width: 1110px) {
	.form-request-inside .text_counter {
		padding: 14px 20px;
	}	
	.form-request-inside .input-line .input-content select {
		width: 43%;
	}
	#form-request .div70 .step2_btn li {
		width:31.5%;
	}
	#form-request .div70 .step2_btn li sub {
		display:inline-block;
		width:100%;
	}
}
@media screen and (max-width: 1024px){
	.form-request-inside .text_counter {
		width: auto;
		padding: 14px 20px;
	}
	#about-us .container img {		
		margin-right: 0;
		margin-left: 7em;
    	margin-top: 10px;
	}
	#form-request .div70 .step2_btn li span:first-child {
		font-size:1.1em;
	}
	#form-request .div30 .div30_inside>span:first-child {
		vertical-align: top;
	}
	#form-request .div30_inside .language_content {
		width:72%;
	}
}
@media screen and (max-width: 960px){
	.form-request-inside .text-number {
		width: 39% !important;
	}
	#form-request .div30_inside .language_content {
		font-size:0.85em;
	}
	#form-request .div70 .step2_btn li span:first-child {
		font-size:1em;
	}
	.request_popup_wrap .request_popup .popup_content {
		padding: 50px;
	}
	#main_party .main_party_people {
		top:27%;
	}
}

@media screen and (max-width: 768px){
	.form-header .form-header-content {
		padding-right: 0;
	}
	.form-request-inside #form-request {
		padding: 10px;
	}
	.form-request-inside .input-line {
		width: 95%;		
	}
	.form-request-inside .text_counter {
		padding: 14px 18px;
	}
	.text_counter_container .text_counter_popup {
		width: 80%;
		top: 40%;
	}
	#price-table .table-wrap, #price-table table * {
		padding: 15px;
	}
	#price-table .help-text {
		padding-left: 20px;
	}
	.form-request .slides {
		height:400px;
	}
	.form-request .slide div.web_img {
		height:400px;
	}
	#form-request .div70 {
		padding:10px;
	}
	#form-request .div70 .file_wrap {
		padding-top: 15px;
	}
	#form-request .div70 .file_wrap input[type='file'] {
		width:80%;
		padding:0;
	}
	#form-request .inside_left {
		width:25%;
	}
	#form-request .inside_right {
		width:70%;
	}
	#form-request .div70 select.original_language, #form-request .div70 select.target_language {
		width:44%;
	}
	#form-request .div70 .step2_btn li {
		width:100%;
		margin:5px auto;
		padding:10px;
	}
	#form-request .div70 .step2_btn li sub {
		vertical-align: top;
		width:auto;
	}
	#form-request .div30 .div30_inside>span:first-child {
		width:35%;
	}
	#form-request .div30 .total_price>span:first-child {
		width:45%;
	}
	#form-request .div30 .total_price>span:last-child {
		width:40%;
	}
	#form-request .div30 .subject {
		font-size:0.9em;
	}
	#form-request .div30_inside .language_content, #form-request .div30 .urgency_rate {
		font-size:0.8em;
		width:60%;
	}
	#form-request .help_text ul {
		padding-left:10px;
	}
	.request_popup_wrap .request_popup {
		width:80%;
	}
	#main_party .container .dot {
		width:10%;
	}
}

@media screen and (max-width: 640px){

	body{
		font-size: 16px;
	}

	nav {
		/*float: right;
		display: block;*/
		position: relative;
		top: 15%;
		right: 8px;
	}	
	.fixed_header {
		padding: 0;
	}
	.fixed_header .container {
		/*border-bottom: 1px solid #bbbdc0;*/
	}
	.fixed_header nav button, .form-header nav button.free_request {
		border: 1px solid #fff;
		background: transparent;
	}
	.fixed_header .fixed_header-logo {
		height: 50px;
	}

	.text_counter_container .text_counter_popup {
		width: 100%;
		height: auto;
		top: 50%;
	}
	.text_counter_container .text_counter_popup h1 {
		margin-top: 10px;
	}
	.text_counter_container .text_counter_popup textarea {
		width: 90%;
		height: 50%;
		min-height: 250px;
	}
	.text_counter_container .text_counter_popup .text_counter_span {
		width: 85%;
		margin: 0 auto;
		word-break: keep-all;
	}
	.text_counter_container .text_counter_popup .buttons {
		margin-top: 10px;
	}
	.text_counter_container .text_counter_popup .buttons button {
		width: auto;
		margin: 0 10px;
	}

	.mobile-nav-toggle { 
		/*display: inline-block; */
		width: 40px; 
		/* padding: 3px 0;  */
		cursor: pointer; 
		border-radius: 4px;
		position: relative;
		/* top: 8px; */
		right: 10px;
		float: right;
	} 

	.form-header{
		display: none;
	}

	.form-header .form-header-logo nav {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
	}
	.form-header .mobile-nav-toggle {
		top: -2px;
	}
	.form-header .nav-wrapper {
		/*background: rgba(0,0,0,0.7);*/
		background: linear-gradient(transparent,rgba(0,0,0,0.7));
	}
	.form-header .nav-wrapper #menu {
		position: static;
		padding-top: 0;
	}
	.mobile-nav-toggle span, .mobile-nav-toggle span + span, .mobile-nav-toggle span + span + span {
		 display: block; 
		 width: 80%; 
		 height: 2px; 
		 margin: 6px auto; 
		 background: #fff;
	}
	
	.fixed_header.invisible{
		/*display: none;*/
		transform: translateY(0%);
	}

	.fixed_header nav {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 0;
	}
	.fixed_header .nav-wrapper {
		/* margin-top: 28px;  */
		margin-top: 12px; 
		background: rgba(0,0,0,0.7);
		width: 100%;
		margin-left: 8px;
		border-top: 1px solid #8e9294;
	}

	/* .fixed_header.invisible .nav-wrapper{
		display: none;
	} */

	.nav-wrapper  {
		clear: both;
		width: 100%;
		text-align: center;		
		opacity: 1;
	}
	.nav-wrapper.invisible {
		/*display: none;*/
		-webkit-transform: translateY(-150%);
       	-o-transform: translateY(-150%);
      	-ms-transform: translateY(-150%);
		transform: translateY(-150%);
  
		-webkit-transform-origin: top;
       	-o-transform-origin: top;
		-ms-transform-origin: top;
		transform-origin: top;
  
		-webkit-transition: -webkit-transform 0.2s ease;
		-o-transition: -o-transform 0.2s ease;
		-ms-transition: -ms-transform 0.2s ease;
		transition: transform 0.2s ease;
		opacity: 0;

	}


	.nav-wrapper #menu {
		/*position:relative; 
		left: -64%; */
		width: 100%; 
		/*display:none;*/
		padding: 10px; 
		padding-bottom: 15px;
		padding-top: 0;
	}
	nav #menu li {
		display:block; 
		line-height:1.5; 
		border:0px;
		float: none;
	}
	nav #menu li a {
		color:#fff;
		display: block;
		padding: 10px 15px !important;
	}
	nav #menu li.active button {
		color: #00b3e6;
		font-weight: bold;
	}
	nav #menu li.active button {
		border: 1px solid #00b3e6;
	}
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

	.form-header .container{
		width: 100%;
		margin: 0;
		padding-top: 0px;
		padding-bottom: 0;
	}	

	.form-header .form-header-logo img {
		margin-top: 15px;
	}

	.form-header .container .form-header-top{
		/*padding-top: 15px;*/
		/*padding-bottom: 80px;*/
		/*background-size: 125%;
		background-position: center top;
		background-color: #000;
		background-repeat: no-repeat;*/
	}

	.form-header .container .form-header-top .form-header-title,
	.form-header .container .form-header-top .form-header-content{
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: block;
		word-break: keep-all;
	}
	
	.form-header .container .form-header-top .form-header-title {
		/*margin-top: 175px;
		font-size: 2.3em;*/
		display: none;
	}
	.form-header .container .form-header-top .form-header-content {
		/*font-size: 2em;*/
		display: none;
	}

	/*.form-header .container .form-header-top > div,*/
	.form-header .container .form-header-top > span{
		background-color: rgba(255, 255, 255, 0.7);
	}
	.form-header .form-header-logo {
		/*margin-bottom: 134px;*/
	}

	.form-request {
		padding: 0;
		height: auto;
		background-color: #000;
		position: relative;
		/*top: 77px;*/
		/* padding-top: 77px; */
		margin-bottom: 30px;
	}
	.form-request .container {
		width: 100%;
		margin: 0;
		background: #fff;
	}

	.form-request .slides * {
		user-select: auto;
		-ms-user-select: auto;
		-moz-user-select: auto;
		-khtml-user-select: auto;
		-webkit-user-select: auto;
		-webkit-touch-callout: auto;
	}

	.form-request .slides {
		height: 350px;
		margin-top:50px;
	}
	.form-request .slides div.web_img {
		display:none;
	}
	.form-request .slide div.mobile_img {
		display:block;
		height: 350px;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-color:#fff;
	}

	.form-request .form-request-shape {
		display: none;
	}
	/* .form-request .gallery .movable img {
		margin-top: 0;
	} */
	.form-request .nav {
		 opacity: 0; 
	}
	.form-request .form-header-title {
		font-size: 2.3em;
		margin: 0;
		padding: 0;
		text-align: center;
		word-break: keep-all;
		/* display: block; */
		display: none;
	}
	.form-request .form-header-content {
		font-size: 2em;
		margin: 0;
		padding: 0;
		text-align: center;
		word-break: keep-all;
		/* display: block; */
		display: none;
	}
	.form-request > span {
		background:rgba(255,255,255,1);
		display: block;
	}

	.form-request-inside {
		width: 100%;
		height: auto;
		float: none;
		box-shadow: unset;
		margin: 0;
		border: none;	
		padding: 0 5px;	
	}
	#form-request .div70 {
		width:100%;
	}
	#form-request .inside_header {
		width:100%;
		text-align:center;
		margin-bottom: 10px;
	}
	#form-request .div30 {
		width:100%;
		text-align: left;
	}
	#form-request .div30 .div30_inside {
		display:inline-block;
		width:49%;
		vertical-align: top;
	}
	#form-request .div30_inside .language_content, #form-request .div30 .urgency_rate {
		font-size:0.9em;
	}
	#form-request .div30 .total_price {
		width:100%;
		text-align: right;
	}
	#main_step .web_step {
		display:none;
	}
	#main_step .mobile_step {
		display:inline-block;
	}
	#main_party .wrapper {
		/* background-image: url(/img/partypeople_mobile.jpg);  */
		display:none;
	}
	.wrapper>img {
		/* height:430px; */
	}
	#main_party .main_party_people {
		animation-play-state: paused;
	}
	#main_party .main_party_people>img {
		display:inline-block;
		height:530px;
	}
	#main_party .main_party_people .container-dot {
		display:none;
	}
	#main_party .party_mobile {
		display:block;
	}
	#main_party .party_mobile img {
		width:100%;
		padding:30px;
	}

	.request_popup_wrap .request_popup {
		width:90%;
	}
	.form-request-inside button {
		width: 70%;
		margin-top: 20px;
	}
	.form-request-inside .submit_check {
		width: 100%;
		text-align: left;
		word-break: break-all;
	}
	.form-request-inside .input-line {
		width: 100%;
		text-align: left;
	}

	.form-request-inside h3 {
		word-break: keep-all;
	}
	.form-request-inside #form-request {
		padding-top: 10px;
	}

	.form-request-inside .input-line .input-content select {
		width: 44%;
	}
	.form-request-inside .input-line .input-content .text-number {
		width: 39% !important;
	}
	.form-request-inside .text_counter {
		width: 50%;
		padding: 14px 30px;
	}


	.form .apply_form .input_line{
		margin: 40px 2%;
	}

    .div4{
        width: 50%;

    }

	.explanation{
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom:0;
	}

	.explanation .icon{
		width: 50px;
		height: auto;
		position: absolute;
		left: 0px;
		top: 0px;
	}


	.explanation .explanation-subject{
		padding: 0px;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.explanation .explanation-content {
		width: 90%;
		height: auto;
		padding: 0px;
		margin: 0px;
		margin-top: 15px;
		text-align: center;
	} 
	.explanation .explanation-content>div {
		text-align: justify;
	}


	.explanation img {
		position: static;
		margin: 0 auto;
		float: none;
		display: block;
		width: 30%;
		margin-top: 20px;
	}

	.request-content {
		width: 95%;
	}
	#about-us {
		/*margin-top: 0;*/
	}
	#about-us .container img {
		width: 30%;
		float: none;
		margin: 0;
	}
	#about-us .container .explanation-content {
		width: 95%;
		float: none;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}
	#about-us .container .explanation-content .explanation-subject::before {
		display: none;
	}
	#about-us .container .explanation-content div {
		text-align: justify;
		padding: 0;
	}
	#about-us .container .about-explanation {
		margin: 0;
	}

	#price-table {
		margin-top: 30px;
	}
	#price-table .table-wrap {
		padding: 10px 15px 0;
	}
	#price-table table {
		width: 100%;
	}
	#price-table table * {
		padding: 10px;
		font-size: 0.95em;
	}
	#price-table table tr th:first-child {
		width: 21%;
	}
	#price-table .help-text {
		padding-left: 0;
		text-align: justify;
		word-break: keep-all;
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		display: inline-block;
		width: 81%;
	}
	#price-table .help-text li {
		padding-bottom: 5px;
	}
	#price-table .help-text li:last-child {
		text-align: center;
	}
	#price-table .help-text li button {
		float: none;
		width: auto;
	}

	#company-map .section_cont {
		padding-bottom: 0;
	}
	#company-map .section_cont p {
		width: 95%;
		margin: 10px auto;
	}

	#company-map .section_cont ul {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		overflow: hidden;
		padding-left:0;
		width: 90%;
	}
	#company-map .section_cont span {
		/*display: none;*/
	}

	#company-map .section_cont .company_contact {
		width: 90%;
		/*transform: translateX(-39%);*/
	}
	#company-map .section_cont .company_sns {
		width: 100%;
		/*transform: translateX(-36%);*/
	}

	.footer {
		padding: 40px 0 60px;
	}
	.footer .footer_info {
		display: none;
	}
	.footer .footer_lnb {
		text-align: center;
		padding: 0;
	}
	.footer p {
		margin-top: 10px;
	}
	.btn_top {
		bottom: 30px;
		right: 0;
	}
	.btn_top img {
		width: 70%;
		opacity: 0.6;
	}

}

@media screen and (max-width: 320px){
	.form-request-inside .input-line .input-content select {
		width: 43%;
	}
	.form-request-inside .text_counter {
		width: auto;
		padding: 14px 20px;
	}
	#price-table .table-wrap {
		padding: 0;
	}
	#form-request .inside_header span:first-child, #form-request .inside_header span {
		word-break: keep-all;
	}
	#form-request .div70 #coupon {
		width:57%;
	}
	#form-request .div70 sup {
		text-align:left;
	}
	.request_popup_wrap .request_popup .popup_content {
		padding:20px;
		word-break: keep-all;
	}
	.request_popup_wrap .request_popup .popup_content img {
		width:50%;
	}
}

@media screen and (max-width: 480px){

	body{
		font-size: 14px;
	}
	
    .container{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .div4{
        width: 50%;
	}
	
	.form-request .slides {
		height:200px;
	}
	.form-request .slide div.mobile_img {
		height: 200px;
	}
	#form-request .div70 .step2_btn li span:first-child {
		font-size:1.5em;
	}
	#form-request .help_text ul {
		padding:0;
	}
	#form-request .inside_left {
		width:100%;
	}
	#form-request .inside_right {
		width:100%;
	}

	#form-request .div30 .div30_inside {
		width:100%;
	}
	#price-table, #about-us, #company-map, #main_step, #main_party {
		padding-top:20px;
	}
	#company-map .section_cont span {
		display: none;
	}
	#price-table .help-text {
		width: 90%;
	}
	.request_popup_wrap .request_popup .popup_content {
		padding:30px;
	}
}


@media screen and (min-width: 641px){
	
	.form-header .container .form-header-top{
		background: none !important;
	}
	
}

@media screen and (min-width: 1280px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .div4{
        width: 25%;
    }

	
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

.global_loading{
	width: 100%;
	height: 100%;
	position: fixed;
	/*background-color: rgba(0,0,0,.25);*/
	z-index: 1500;
}

.mask-loading {
  widows: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}
.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
