@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@media screen {
    * {
        margin: 0;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    html,
    body {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        background-color: #fff;
        color: #231f20;
        font-family: 'Noto Sans', sans-serif;
        z-index: 400;
    }
     ::-moz-selection {
        background: #07b3e7;
        color: #f4f5f0;
    }
     ::selection {
        background: #07b3e7;
        color: #f4f5f0;
    }
    a {
        color: #07b3e7;
    }
    img {
        border: none;
    }
    textarea {
        resize: none;
        font-family: 'Noto Sans', sans-serif;
    }
    .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .container {
        width: 100%;
        height: auto;
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        width: 100%;
        height: 80px;
        position: relative;
    }
    header:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: linear-gradient(-45deg, #07b3e7, #9aa8de, #8da9ed, #00bbc7);
        top: 0px;
        left: 0;
    }
    header .container {
        height: 100%;
        position: relative;
    }
    header .header-logo {
        width: 100%;
        height: 100%;
        background-size: auto 25px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-image: url(/img/logo-fit.png);
        vertical-align: middle;
        display: inline-block;
        text-align: right;
        vertical-align: middle;
    }
    .header-fixed {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #fff;
        z-index: 300;
        transition: top .1s ease-in-out;
        -webkit-box-shadow: 0px 10px 100px -15px rgba(136, 136, 136, 1);
        -moz-box-shadow: 0px 10px 100px -15px rgba(136, 136, 136, 1);
        box-shadow: 0px 10px 100px -15px rgba(136, 136, 136, 1);
    }
    .header-fixed .header-logo {
        background-image: url(/img/logo-fit-icon.png);
    }
    .header-fixed .header-title {
        position: absolute;
        left: 50px;
        top: 0px;
        width: 50%;
        height: 100%;
        overflow: hidden;
        line-height: 50px;
        font-size: 1em;
        font-weight: 700;
    }
    .header-fixed .header-share {
        position: absolute;
        right: 0px;
        top: 0px;
        width: auto;
        height: 100%;
        overflow-y: hidden;
        font-size: 1.2em;
    }
    .header-fixed .header-share i {
        padding: 0 .5em;
        cursor: pointer;
        height: 100%;
        line-height: 50px;
    }
    .header-fixed.hidden {
        top: -80px;
    }
    .cover {
        width: 100%;
        height: auto;
        padding: 3em 0;
        background-color: #022e3c;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        color: #f4f5f0;
    }
    .cover .cover-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #022e3c;
        opacity: .95;
    }
    .cover a {
        color: #f4f5f0;
    }
    .cover .cover-line {
        width: 80%;
        height: auto;
        display: block;
        position: relative;
        margin: 4px 0px;
    }
    .cover .cover-title {
        width: auto;
        height: auto;
        font-size: 2.3em;
        font-weight: 700;
        line-height: 1.6em;
    }
    .cover .cover-subTitle {
        width: auto;
        height: auto;
        font-size: 1.6em;
        font-weight: 400;
        line-height: 1.6em;
    }
    .cover .cover-source {
        font-size: 1em;
    }
    .cover .cover-translator {
        width: 100%;
        height: auto;
        font-weight: 100;
    }
    .cover .cover-translator .cover-translator-picture {
        width: 2em;
        height: 2em;
        /* background-color: #f4f5f0; */
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url(/img/nepick.png);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
    }
    .cover .cover-translator .cover-translator-infomation {
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        font-size: .8em;
        font-weight: 700;
    }
    .cover .cover-share {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
    }
    .cover .cover-share i {
        width: auto;
        height: auto;
        display: inline-block;
        margin-right: 1em;
        cursor: pointer;
        font-size: 1.4em;
    }
    .content {
        display: table;
    }
    .content .content-line {
        display: table-row;
    }
    .content .content-line>div {
        display: table-cell;
        vertical-align: top;
    }
    .content-article {
        height: auto;
        position: relative;
        padding: 3em 0;
        /* display: inline-block; */
        /* max-width: 800px; */
    }
    .content-article .content-preview img {
        width: 100%;
        height: auto;
    }
    .content-article .content-preview * {
        margin-bottom: 1em;
    }
    .content-preview {
        margin-bottom: 2em;
        display: block;
        position: relative;
    }
    .content-share {
        display: block;
        position: relative;
    }
    .content-share i {
        width: auto;
        height: auto;
        display: inline-block;
        margin-right: 1em;
        cursor: pointer;
        font-size: 1.4em;
    }
    .content-side {
        height: auto;
        padding: 3em 0;
        /* display: inline-block; */
        /* background-color: #044558; */
        position: relative;
    }
    .content-latest {
        height: auto;
        position: relative;
    }
    .content-latest .content-latest-item {
        width: 100%;
        height: auto;
        max-width: 280px;
        display: inline-block;
        border: 1px solid #f4f5f0;
        padding: 1em 6px;
        position: relative;
        margin: 0 1em 1em 0;
        cursor: pointer;
    }
    .content-latest .content-latest-item .content-latest-item-cover {
        width: 100%;
        height: auto;
        padding: 28.125%;
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-color: #f4f5f0;
        position: relative;
        border: 1px solid #f4f5f0;
        margin-bottom: 1em;
    }
    .content-latest.loading .content-latest-item .content-latest-item-cover {
        background: linear-gradient(270deg, #f4f5f0, #e0e0e0);
        background-size: 400% 400%;
        -webkit-animation: loadingAnimation 1s ease infinite;
        -moz-animation: loadingAnimation 1s ease infinite;
        -o-animation: loadingAnimation 1s ease infinite;
        animation: loadingAnimation 1s ease infinite;
    }
    .content-latest .content-latest-item .content-latest-item-title {
        width: 100%;
        height: auto;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: .9em;
        position: relative;
    }
    
    .content-latest.loading .content-latest-item .content-latest-item-title {
        background: linear-gradient(270deg, #f4f5f0, #e0e0e0);
        background-size: 400% 400%;
        -webkit-animation: loadingAnimation 1s ease infinite;
        -moz-animation: loadingAnimation 1s ease infinite;
        -o-animation: loadingAnimation 1s ease infinite;
        animation: loadingAnimation 1s ease infinite;
    }
    .content-latest .content-latest-item .content-latest-item-summary {
        width: 100%;
        height: auto;
        display: none;
        font-weight: 100;
        font-size: .9em;
        position: relative;
    }
    .about {
        width: 100%;
        height: auto;
        position: relative;
        border-top: 1px solid #dbdcd8;
        /* background-color: #fcfcfc; */
        min-height: 300px;
        color: #022e3c;
    }
    .about .container {
        display: table;
    }
    .about .about-line {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin-bottom: 2em;
        display: table-row;
    }
    .about .about-line>div {
        display: table-cell;
        padding: 2em 2em 2em 0;
        /* border-left: 1px solid #dbdcd8; */
    }
    .about i {
        width: auto;
        height: auto;
        display: inline-block;
        margin-right: 1em;
        cursor: pointer;
        font-size: 1.4em;
    }
    .about .about-title {
        width: 100%;
        height: auto;
        display: block;
        font-weight: 100;
        font-size: 1.6em;
        margin-bottom: .7em;
    }
    .about .about-subTitle {
        width: 100%;
        height: auto;
        display: block;
        font-weight: 400;
        font-size: 1.2em;
        margin-bottom: .3em;
    }
    .about .about-context {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        font-size: .9em;
        /* max-width: 400px; */
        margin-bottom: 1em;
    }
    .about .about-link {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        font-size: .9em;
    }
    footer {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        padding: 2em 0;
        /* min-height: 300px; */
        border-top: 1px solid #dbdcd8;
        text-align: center;
    }
    footer a {
        width: auto;
        height: auto;
        color: #231f20;
        display: inline-block;
        padding: 1em 1em;
        text-decoration: transparent;
    }
    footer .footer-line {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin-bottom: 2em;
    }
    footer .footer-responsibility {
        width: 80%;
        height: auto;
        display: block;
        font-size: .8em;
        font-weight: 100;
        text-align: center;
        margin: 0 auto;
        max-width: 500px;
    }
    button {
        width: auto;
        height: auto;
        vertical-align: middle;
        padding: .8em 1.6em;
        border: none;
        border-radius: 4px;
        background-color: #07b3e7;
        color: #fff;
        position: relative;
        display: inline-block;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    button:hover {
        opacity: .8;
    }
}



@-webkit-keyframes loadingAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}
@-moz-keyframes loadingAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}
@-o-keyframes loadingAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}
@keyframes loadingAnimation {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}


@media screen and (max-width: 1199px) {
    body {
        font-size: 16px;
    }
    header {
        height: 50px;
    }
    header .header-logo {
        line-height: 50px;
    }
    .container {
        padding: 0 12px;
    }
    .content {
        display: block;
    }
    .content .content-line {
        display: block;
    }
    .content .content-line>div {
        display: block;
    }
    .content-article {
        width: 100%;
        padding-right: 0;
    }
    .content-latest {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 16px;
    }
    .cover .cover-title {
        font-size: 1.4em;
    }
    .cover .cover-subTitle {
        font-size: 1.1em;
    }
    .about {
        display: block;
    }
    .about .container {
        display: block;
    }
    .about .about-line {
        display: block;
    }
    .about .about-line>div {
        display: block;
    }
    .about .about-translator {
        width: 100%;
    }
    .about .about-ciceron {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }
    header .header-logo {
        line-height: 80px;
    }
    .content-article {
        width: 70%;
        padding-right: 66px;
    }
    .content-side {
        width: 30%;
        padding-left: 66px;
        border-left: 1px solid #dbdcd8;
    }
    /* .content-latest {
        width: 30%;
    } */
    .about .about-translator {
        width: 40%;
    }
    .about .about-ciceron {
        width: 60%;
    }
}