@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body,
div,
p,
a,
span,
ul,
li,
h1,
nav {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: #333;
    line-height: 1.7em;
}

body {
    width: 100%;
}

.wrap {
    width: 72vw;
    padding: 2vw;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}

header {
    height: 32.6vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: relative;
    top: 0;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 32.6vw;
    background-image: url(/img/nepick/mainVisual.png);
    background-attachment: fixed;
    background-size: 120%;
    background-position: 0 25%;
    opacity: 0.1;
    z-index: -10;
}

.ani,
.linkPage {
    width: 22vw;
    position: absolute;
    left: 24vw;
    top: 12.2vw;
    z-index: 100;
    text-align: left;
}

.linkPage li {
    float: left;
    margin-left: 2.2vw;
    display: block;
    margin-top: 0.5vw;
}

.linkPage li:first-child {
    padding-left: 3vw;
}

.linkPage li img {
    width: 2vw;
    height: 2vw;
}

.linkPage {
    border-top: 1px solid #111;
    top: 17vw;
    padding-right: 1vw;
}

.linkPage p {
    position: absolute;
    top: 1vw;
    left: 0;
    color: #fff;
    font-size: 1vw;
    letter-spacing: 0.2vw;
}

.ani {
    font-size: 2.5vw;
    color: #fff;
    letter-spacing: 0.2em;
    white-space: nowrap;
    padding-right: 0.5vw;
    text-align: left;
    margin-bottom: 0.5vw;
    display: block;
    overflow: hidden;
    border-right: 0.5vw solid #111;
    -webkit-animation: typing 1.7s steps(11, end), blink-caret 1s step-end infinite;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 24vw;
    }
}

@-webkit-keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #111;
    }
}

.hide {
    width: 100%;
    height: 5vw;
    position: absolute;
    top: 29.5vw;
    left: 0;
}

.fix {
    width: 100%;
    height: 5vw;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 200;
    transform: translateY(-100%);
    transition: 1s;
    visibility: hidden;
}

.fix.visible {
    transform: translateY(0);
    visibility: visible;
}

.left,
.right {
    position: absolute;
    width: auto;
}

.left {
    font-size: 1.4vw;
    color: #111;
    line-height: 5vw;
    top: 0;
    left: 13.7vw;
    color: #111;
    letter-spacing: 0.2em;
    white-space: nowrap;
    text-align: left;
    display: block;
    overflow: hidden;
    font-weight: bold;
}

.right {
    left: 67.5vw;
    top: 1.5vw;
}

.right img {
    display: block;
    width: 2vw;
    height: 2vw;
}

.right li {
    float: left;
    margin-left: 2.4vw;
}

.one {
    width: 3.4vw;
    height: 3.4vw;
    border-radius: 1.7vw;
    background-color: #111;
    position: absolute;
    top: 0.86vw;
}

.day {
    color: #fff;
    font-size: 1vw;
    line-height: 3.4vw;
    padding: 0 0.3vw
}

.time {
    font-size: 1vw;
    height: 5.12vw;
    position: relative;
}

.start {
    position: absolute;
    top: 1.7vw;
    left: 7vw;
}

.end {
    position: absolute;
    right: 0;
    top: 1.7vw;
}

.contain h2 {
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 2.8vw;
}

.subT {
    font-size: 1.4em;
    margin-top: 1rem;
}

.contain p {
    text-align: center;
}

.post p {
    font-size: 1.2em;
    text-align: left;
    text-align: justify;
}

.cover {
    height: 31vw;
    background-color: #777;
    margin-top: 2.8vw;
    position: relative;
}

.cover p {
    display: block;
    font-size: 0.9vw;
    padding: 1vw 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.ccl {
    padding: 3.7vw 0;
}

.ccl p {
    display: block;
    font-size: 1.1vw;
    line-height: 2vw;
    text-align: left;
    padding-left: 1vw;
    border-left: 2px solid #111;
    margin: 0 15vw;
}

.post {
    padding-bottom: 3.5vw;
}

footer {
    padding: 2vw 0;
    background-color: #777;
    font-weight: 100;
}

footer p {
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.1rem;
    color: #fff;
}

footer a {
    color: #fff;
}

.copy {
    font-size: 0.7em;
    padding-top: 1vw;
}

@media screen and (max-width:640px) {
    .wrap {
        width: 90%;
        padding: 5vw;
    }
    header {
        height: 75vw;
        top: 0;
    }
    .back {
        height: 75vw;
        background-position: -15vw -10vw;
        background-size: 150%;
    }
    .ani,
    .linkPage {
        width: 48.64vw;
        left: 18.5vw;
        top: 30vw;
    }
    .ani {
        font-size: 5.5vw;
    }
    .linkPage {
        top: 39vw;
    }
    .linkPage li {
        margin-left: 5.3vw;
        margin-top: 1vw;
    }
    .linkPage li:first-child {
        padding-left: 6vw;
    }
    .linkPage li img {
        width: 4vw;
        height: 4vw;
    }
    .linkPage p {
        margin-top: 0.5vw;
        font-size: 0.9vw;
    }
    .one {
        width: 7vw;
        height: 7vw;
        border-radius: 3.5vw;
        margin-top: 0.5vw
    }
    .day {
        font-size: 1.9vw;
        line-height: 7vw;
        padding: 0 0.5vw;
    }
    .time {
        font-size: 2.6vw;
        padding: 2.2vw 0;
    }
    .start {
        left: 9vw;
    }
    .start,
    .end {
        top: 3vw;
    }
    .hide {
        height: 10vw;
        top: 69vw;
    }
    .fix {
        height: 10vw;
    }
    .left {
        font-size: 3.5vw;
        left: 5vw;
        line-height: 10vw;
        width: auto;
    }
    .right {
        width: auto;
        left: 61vw;
        top: 3vw;
    }
    .right img {
        width: 4vw;
        height: 4vw;
        margin-left: 1vw;
    }
    .cover {
        height: 47vw;
    }
    .ccl p {
        font-size: 0.8em;
        line-height: 5vw;
        margin: 0;
    }
    .contain h2 {
        font-size: 1.5em;
    }
    .subT {
        font-size: 1.1em;
    }
    .post p {
        font-size: 1em;
    }
    footer p {
        letter-spacing: normal;
    }
}