/*@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}*/


/* #f9fefb; */

@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
@media screen {
	* {
		margin: 0px;
		outline: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	.ui-autocomplete {
		max-height: 220px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	.ui-datepicker,
	.ui-datepicker * {
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	.ui-autocomplete .ui-menu-item {
		padding: 8px 0px 8px 10px;
		border: 1px solid transparent;
	}
	img {
		border: none;
	}
	textarea {
		resize: none;
	}
	html {
		height: 100%;
		width: 100%;
		padding: 0px;
	}
	/*body *{
        overflow: hidden;
    }*/
	body {
		margin: 0px;
		padding: 0px;
		height: 0;
		width: 100%;
		font-family: 'Noto Sans SC', sans-serif;
		/*font-family: sans-serif;*/
		overflow-x: hidden;
		color: #231f20;
		/* background-color: #fcfcfc; */
	}
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
	::-moz-selection {
		background: #00b3e6;
		color: #fcfcfc;
	}
	 ::selection {
		background: #00b3e6;
		color: #fcfcfc;
	}
	.fixed_header {
		width: 100%;
		height: auto;
		padding: 8px 0px;
		position: fixed;
		z-index: 500;
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		transform: translateY(0);
		border-top: 1px solid #07b3e7;
	}
	.fixed_header.invisible {
		/*display: none;*/
		transform: translateY(-100%);
	}
	.fixed_header .fixed_header-logo {
		width: auto;
		height: 60px;
		vertical-align: middle;
		cursor: pointer;
	}
	.fixed_header .nav-wrapper {
		margin-top: 7px;
	}
	.nav-wrapper {
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.text_counter_container.invisible {
		display: none;
	}
	.text_counter_container {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		position: fixed;
		z-index: 100;
		text-align: center;
		/*display: none;*/
	}
	.text_counter_container .text_counter_popup {
		width: 60%;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #d3d3d3;
		background: #fff;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	}
	.text_counter_container .text_counter_popup .close::after {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		content: "\00d7";
		cursor: pointer;
	}
	.text_counter_container .text_counter_popup h1 {
		margin-top: 20px;
	}
	.text_counter_container .text_counter_popup textarea {
		width: 80%;
		height: 60%;
		min-height: 300px;
		margin-top: 20px;
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #dfdfdf;
	}
	.text_counter_container .text_counter_popup .text_counter_span {
		color: #7b7c80;
		margin-bottom: 20px;
	}
	.text_counter_container .text_counter_popup .text_counter_span span {
		color: #231f20;
		font-size: 1.5em;
	}
	.text_counter_container .text_counter_popup .buttons {
		margin-bottom: 20px;
	}
	.text_counter_container .text_counter_popup .buttons button {
		width: 20%;
		height: auto;
		background-color: rgba(7, 179, 231, 1);
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 10px 20px;
		margin: 0 20px;
		margin-bottom: 10px;
	}
	.text_counter_container .text_counter_popup .buttons button:hover {
		background-color: rgba(7, 179, 231, 0.8);
	}
	.form-header {
		width: 100%;
		height: auto;
		position: relative;
		border-top: 1px solid #872434;
	}
	.form-header .container {
		/*background-color: #ee008c;*/
		padding: 15px 0px 35px 0px;
		/*background-color: #FFFFFF;*/
	}
	.form-header .container .form-header-top {
		background-size: cover;
		background-position: center;
		/*color: #FFF;*/
	}
	.form-header .form-header-back {
		width: 1.6em;
		height: 1.6em;
		float: left;
		font-size: 1.2em;
		text-align: center;
		line-height: 1.6em;
		cursor: pointer;
		font-weight: 700;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	.form-header .form-header-back:hover {
		background-color: #d3d3d3;
		color: #FFFFFF;
		border-radius: 50%;
	}
	.form-header .form-header-logo {
		width: auto;
		height: auto;
		display: block;
		/*display: block;*/
		/*text-align: center;*/
		font-weight: 700;
		font-size: 1.4em;
		/*color: #7b7c80;*/
		letter-spacing: -1px;
		margin-bottom: 10px;
		margin-left: 12px;
	}
	.form-header .form-header-logo img {
		cursor: pointer;
	}
	.form-header .form-header-logo nav,
	.fixed_header nav {
		float: right;
		text-transform: uppercase;
	}
	.form-header .form-header-logo nav button,
	.fixed_header nav button {
		display: inline-block;
		padding: 10px 15px;
		background: #07b3e7;
		color: #fff;
		border: none;
		cursor: pointer;
		font-size: 0.8em;
	}
	.fixed_header nav button {
		font-size: 1.1em;
	}
	.fixed_header nav #menu li a {
		font-size: 1em;
		color: #fff;
		font-weight: 500;
	}
	nav #menu li {
		float: left;
	}
	nav #menu li a {
		display: inline-block;
		color: inherit;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 0.8em;
		font-weight: 500;
	}
	nav #menu li:hover button,
	nav #menu li:hover a {
		/*color: #20a95e;*/
		opacity: 0.8;
	}
	nav #menu li a.active {
		color: #00b3e6;
		font-weight: bold;
	}
	.form-header .form-header-title {
		width: auto;
		height: auto;
		display: block;
		font-weight: 500;
		font-size: 3em;
		margin-left: 50px;
	}
	.form-header .form-header-content {
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		font-size: 2.4em;
		margin-left: 50px;
		padding-right: 470px;
	}
	.form-request {
		width: 100%;
		/*height: 500px;*/
		position: relative;
		/*top: 0px;*/
		/*transform: rotate(-0.5deg);*/
		z-index: -1;
		/*padding-top: 40px;*/
	}
	.form-request .form-header-title,
	.form-request .form-header-content {
		display: none;
	}
	.form-request .container {
		/*background-image: url('/img/IMG_0770.JPG');
		background-size: cover;
		background-position: center 25%;*/
		/*background-image: url('/img/back22.png');
		background-size: 22%;
		background-position: right;*/
		/*background-repeat: no-repeat;*/
		background-color: #000;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	/*slide start*/
	.form-request .container {
		width: 100%;
		max-width: 1280px;
		overflow: hidden;
		cursor: pointer;
	}
	.form-request .slides {
		padding: 0;
		width: 100%;
		height: 495px;
		display: block;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	.form-request .slides * {
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}
	.form-request .slides input {
		display: none;
	}
	.form-request .slide-container {
		display: block;
	}
	.form-request .slide {
		top: 0;
		opacity: 0;
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		transition: all .5s ease-in-out;
	}
	.form-request .slide img {
		width: 100%;
		height: 100%;
		margin-top: -140px;
	}
	.form-request .slide-container:nth-child(3) .slide img {
		margin-top: -250px;
	}
	.form-request .slide div {
		width: 100%;
		height: 505px;
		background-color: #fff;
		background-size: cover;
		/* background-position: center; */
		background-position: 50% 30%;
	}
	.form-request .slide1 div {
		background-image: url("/img/IMG_0766.JPG");
	}
	.form-request .slide2 div {
		background-image: url("/img/IMG_0770.JPG");
	}
	.form-request .slide3 div {
		background-image: url("/img/IMG_0772.JPG");
		background-position: 50% 50%;
	}
	.form-request .nav label {
		width: 80px;
		height: 50%;
		display: none;
		position: absolute;
		top: 36%;
		opacity: 0;
		z-index: 9;
		cursor: pointer;
		transition: opacity .2s;
		color: #FFF;
		font-size: 5em;
		text-align: center;
		/*line-height: 380px;*/
		font-family: "Varela Round", sans-serif;
		text-shadow: 0px 0px 15px rgb(119, 119, 119);
	}
	.form-request .slide:hover+.nav label {
		opacity: 0.5;
	}
	.form-request:hover .nav label {
		opacity: 0.5;
	}
	.form-request .nav label:hover {
		opacity: 1;
	}
	.form-request .nav .next {
		right: 0;
	}
	.form-request input:checked+.slide-container .slide {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
	.form-request input:checked+.slide-container .nav label {
		display: block;
	}
	.form-request .nav-dots {
		width: 100%;
		bottom: 9px;
		height: 11px;
		display: block;
		position: absolute;
		text-align: center;
	}
	.form-request .nav-dots .nav-dot {
		top: -5px;
		width: 11px;
		height: 11px;
		margin: 0 4px;
		position: relative;
		border-radius: 100%;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.form-request .nav-dots .nav-dot:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.8);
	}
	input#img-1:checked~.nav-dots label#img-dot-1,
	input#img-2:checked~.nav-dots label#img-dot-2,
	input#img-3:checked~.nav-dots label#img-dot-3 {
		background: rgba(255, 255, 255, 0.5);
	}
	/* .form-request .container .gallery {
		width: 100%;
		height: 500px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: left;
	}
	.form-request .container .gallery li {
		float: left;
		width: 33.3%;
	}
	.form-request .container .gallery li span {
		width: 100%;
    	height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		color: transparent;
		background-size: cover;
		background-position: 50% 30%;
		background-repeat: none;
		opacity: 0;
		z-index: 0;
		-webkit-backface-visibility: hidden;
		-webkit-animation: imageAnimation 12s linear infinite 0s;
		-moz-animation: imageAnimation 12s linear infinite 0s;
		-o-animation: imageAnimation 12s linear infinite 0s;
		-ms-animation: imageAnimation 12s linear infinite 0s;
		animation: imageAnimation 12s linear infinite 0s;
	}
	.form-request .container .gallery li:nth-child(1) span {
		background-image: url("/img/IMG_0766.JPG");
	}
	.form-request .container .gallery li:nth-child(2) span {
		background-image: url("/img/IMG_0770.JPG");
		-webkit-animation-delay: 4s;
		-o-animation-delay: 4s;
		-ms-animation-delay: 4s;
		animation-delay: 4s; 
	}
	.form-request .container .gallery li:nth-child(3) span {
		background-image: url("/img/IMG_0772.JPG");
		-webkit-animation-delay: 8s;
		-moz-animation-delay: 8s;
		-o-animation-delay: 8s;
		-ms-animation-delay: 8s;
		animation-delay: 8s; 		
		background-position: 50% 40%;
	}
	.form-request .container .gallery:hover li span {
		-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;
	}

	.form-request .container .gallery .control-nav {
		width: 100%;
		position: relative;
		bottom: -470px;
		text-align: center;
	}
	.form-request .container .gallery .control-nav li {
		margin: 0 10px;
		display: inline-block;
	}
	.form-request .container .gallery .control-paging li a {
		width: 11px;
		height: 11px;
		display: block;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		cursor: pointer;
		text-indent: -9999px;
		box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
		color: #fff;
	}
	.form-request .container .gallery .control-paging li a.active {
		background: rgba(255, 255, 255, 0.5);
		cursor: default;
	}

	.form-request .gallery .prev, .form-request .gallery .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.form-request .gallery .prev {
		left: -30px;
	}
	.form-request .container:hover .prev {
		left: 0;
	}
	.form-request .gallery .next {
		right: -30px;
	} */
	.form-request .container:hover .next {
		right: 0;
	}
	.form-request .form-request-shape {
		/*content: "";*/
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0px;
		right: -0px;
		z-index: -10;
		background-image: url('/img/logo-icon.png');
		background-size: 2%;
		background-position: right;
		background-color: #f0f0f0;
	}
	.form-request-inside {
		width: 100%;
		padding: 40px 5px 0px;
		/* background-color: #fcfcfc; */
		/*		margin-bottom: 40px;*/
		z-index: 30;
		text-align: center;
	}
	.form-request-inside h2 {
		padding-bottom: 13px;
	}
	.form-request-inside h2 strong {
		color: #00b3e6;
		font-weight: normal;
	}
	.form-request-inside h3 {
		color: #767779;
		height: 34px;
		display: block;
		font-weight: normal;
		margin-bottom: 17px;
		text-align: center;
		font-size: 0.9em;
	}
	.form-request-inside #form-request {
		border: 1px solid #e8eaeb;
		padding: 30px 30px 15px;
	}
	.form-request-inside .input-help {
		font-size: 0.9em;
		text-align: right;
		display: block;
		color: #7b7c80;
		/*visibility: hidden;*/
	}
	.form-request-inside .input-line {
		width: 80%;
		height: auto;
		position: relative;
		padding: 5px 0px;
		margin: 0 auto;
	}
	.form-request-inside .input-line .input-title {
		/*width: 23%;*/
		width: auto;
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		font-size: 0.9em;
	}
	.form-request-inside .input-line .input-content {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		font-size: 0.9em;
	}
	.form-request-inside button {
		width: 40%;
		height: auto;
		background-color: #07b3e7;
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 15px 30px;
		margin: 0 auto;
		display: block;
	}
	.form-request-inside .text_counter {
		width: 50%;
		padding: 14px 30px;
		margin-left: 11px;
		/*display: inline-block;*/
		margin-top: 0;
		float: right;
	}
	.form-request-inside button:hover {
		opacity: 0.8;
	}
	.form-request-inside .input-line .input-content select {
		width: 44%;
		padding: 15px;
		background: none;
		border: none;
		border: 1px solid #dfdfdf;
		color: #7b7c80;
	}
	.form-request-inside .input-line .input-content input,
	.form-request-inside .input-line .input-content textarea {
		width: 100%;
		height: auto;
		background: none;
		border: none;
		padding: 15px;
		border: 1px solid #dfdfdf;
	}
	.form-request-inside .input-line .input-content input:focus+.input-help,
	.form-request-inside .input-line .input-content textarea:focus+.input-help {
		/*display: block;*/
		visibility: visible;
		color: #ff0000;
	}
	.form-request-inside .submit_check {
		font-size: 0.9em;
		text-align: center;
		word-break: keep-all;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.form-request-inside .submit_check label {
		margin: 0 10px;
	}
	.form-request-inside .submit_check .privacy_table {
		display: table;
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-collapse: collapse;
	}
	.form-request-inside .privacy_table .privacy_table_row {
		display: table-row;
	}
	.form-request-inside .privacy_table .privacy_table_row:first-child {
		font-weight: bold;
		text-align: center;
		background: rgba(0, 0, 0, 0.05);
	}
	.form-request-inside .privacy_table .privacy_table_cell {
		display: table-cell;
		border: 1px solid rgba(0, 0, 0, 0.1);
		vertical-align: top;
		word-break: keep-all;
		padding: 5px;
		padding-left: 10px;
	}
	.form-request-inside .privacy_table .privacy_table_cell:first-child {
		width: 45%;
	}
	#about-us {
		width: 100%;
		height: auto;
		position: relative;
		margin-bottom: 20px;
		text-align: center;
		margin-top: 30px;
		/* display: none; */
	}
	#about-us .container {
		/*background-color: #FFFFFF;*/
	}
	#about-us .container .about-explanation {
		margin-bottom: 20px;
	}
	#about-us .container img {
		width: 10%;
		float: left;
		margin: 0 5em;
	}
	#about-us .container .explanation-content {
		width: 75%;
		max-width: 900px;
		min-height: 120px;
		float: left;
		text-align: left;
		line-height: 2em;
		padding-left: 50px;
	}
	#about-us .container .div3 {
		width: 100%;
	}
	#about-us .container .explanation-content .explanation-subject {
		border: none;
	}
	#about-us .container .explanation-content .explanation-subject::before {
		content: "";
		display: block;
		float: left;
		margin-top: 2px;
		margin-right: 20px;
		width: 3px;
		height: 30px;
		background: #00b3e6;
	}
	#price-table,
	#about-us,
	#company-map,
	#main_step,
	#main_party {
		margin-top: 40px;
		padding-top: 60px;
		padding-bottom: 35px;
		text-align: center;
		/* border: 1px solid red; */
	}
	#main_step,
	#main_party {
		display: none;
	}
	#main_step img,
	#main_party>img {
		width: 100%;
		max-width: 1280px;
		padding: 30px;
		box-sizing: border-box;
	}
	#main_party {
		position: relative;
	}
	#main_party ul.main_party_people li img {
		width: 100%;
		max-width: 80px;
		position: absolute;
		-webkit-animation: party_circle 18s linear infinite;
		-moz-animation: party_circle 18s linear infinite;
		-o-animation: party_circle 18s linear infinite;
		animation: party_circle 18s linear infinite;
	}
	#main_party ul.main_party_people li::after img {
		content: '';
		position: absolute;
		background: #000;
		bottom: 0;
		left: 50%;
		opacity: 0.7;
		filter: blur(1px);
		-webkit-animation: party_shadow 18s linear infinite;
		-moz-animation: party_shadow 18s linear infinite;
		-o-animation: party_shadow 18s linear infinite;
		animation: party_shadow 18s linear infinite;
	}
	#main_party ul.main_party_people li:nth-child(1) img {
		left: 50%;
		top: 35%;
	}
	#main_party ul.main_party_people li:nth-child(2) img {
		left: 43%;
		top: 47%;
		animation-delay: -.3s;
	}
	#main_party ul.main_party_people li:nth-child(3) img {
		left: 42%;
		top: 36%;
		animation-delay: -.6s;
	}
	#main_party ul.main_party_people li:nth-child(4) img {
		left: 56%;
		top: 38%;
		animation-delay: -.4s;
	}
	#main_party ul.main_party_people li:nth-child(5) img {
		left: 48%;
		top: 52%;
		animation-delay: -.5s;
	}
	#main_party ul.main_party_people li:nth-child(6) img {
		left: 54%;
		top: 50%;
		animation-delay: -.2s;
	}
	#price-table {
		/* display:none; */
	}
	#price-table .table-wrap {
		padding: 30px 30px 15px;
	}
	#price-table table {
		border: 1px solid #e8eaeb;
		border-collapse: separate;
		border-spacing: 0;
		background: #fff;
		width: 57%;
		text-align: center;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		overflow: hidden;
		float: left;
	}
	#price-table table * {
		padding: 15px 20px;
	}
	#price-table table thead {
		/*background: rgba(0,179,230,0.2);*/
		background: rgba(187, 189, 192, 0.3);
	}
	#price-table table th {
		width: auto;
		color: #231f20;
		width: 30%;
	}
	#price-table table tr th:first-child {
		width: 20%;
	}
	#price-table .help-text {
		text-align: left;
		font-size: 0.9em;
		float: right;
		/*margin-right: 20px;*/
		color: #7b7c80;
		margin: 30px auto;
		padding-left: 0;
	}
	#price-table .help-text li {
		padding-bottom: 5px;
	}
	#price-table .help-text button {
		float: right;
		width: auto;
		/*display: inline-block;*/
		background: #07b3e7;
		color: #fff;
		padding: 10px 15px;
		border: none;
		margin-top: 30px;
		margin-right: 7px;
		font-size: 1.2em;
		cursor: pointer;
	}
	#company-map {
		text-align: center;
	}
	#company-map .section_cont {
		width: 100%;
		float: left;
		padding-bottom: 65px;
		text-align: center;
	}
	#company-map .section_cont p {
		margin-top: 10px;
	}
	#company-map .section_cont ul {
		display: block;
		margin-top: 30px;
		overflow: hidden;
		padding: 0;
	}
	#company-map .section_cont li {
		color: #8e9294;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 27px;
		text-transform: uppercase;
		display: inline-block;
	}
	#company-map .section_cont li b {
		color: #272828;
		margin-right: 10px;
		margin-left: 10px;
	}
	#company-map .section_cont span {
		/*float: left;*/
		margin: -3px 20px;
	}
	#company-map .section_cont a {
		color: inherit;
		text-decoration: none;
	}
	#company-map .section_cont iframe {
		/* display:none; */
	}
	#company-map .section_cont .company_contact,
	#company-map .section_cont .company_sns {
		width: 100%;
		/*position: relative;
		left: 50%;
		transform: translateX(-31%);*/
	}
	#company-map .section_cont .company_sns {
		/*transform: translateX(-23%);*/
	}
	#company-map .section_cont .company_contact li,
	#company-map .section_cont .company_sns li {
		/*float: left;*/
	}
	#company-map .section_cont .company_sns li {
		color: #231f20;
		padding: 20px 30px;
	}
	.div3 {
		width: 33.3333%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation {
		margin: 0;
		padding: 0 20px;
		text-align: left;
		margin-bottom: 120px;
		vertical-align: top;
	}
	.explanation i {
		margin: 20px;
		display: block;
	}
	.explanation img {
		width: 20%;
		position: absolute;
		top: 55px;
		left: 5%;
		/*max-width: 105px;
		float: left;
		margin-top: 40px;
		margin-right: 20px;*/
	}
	.explanation .explanation-content {
		font-size: 1.2em;
		font-weight: 400;
		display: inline-block;
		padding: 15px 0px;
		text-align: justify;
		width: 65%;
		margin-left: 30%
		/*margin-top: 40px;*/
	}
	.explanation .explanation-subject,
	#price-table .explanation-subject,
	#about-us .explanation-subject,
	#company-map .explanation-subject {
		font-size: 1.2em;
		font-weight: 700;
		padding-top: 10px;
		padding-bottom: 5px;
		margin-bottom: 10px;
		display: inline-block;
		/*display: block;*/
		text-transform: uppercase;
		border-bottom: 1px solid #07b3e7;
	}
	.explanation .explanation-subject {
		margin-bottom: 20px;
		/*margin-left: 60px;*/
	}
	.explanation .explanation-content a {
		color: #231f20;
		width: 100%;
		display: inline-block;
		word-break: keep-all;
	}
	.explanation .explanation-content a>span {
		font-weight: 700;
		font-size: 0.9em;
		color: #07b3e7;
		margin-left: 0;
		display: inline-block;
		padding-top: 10px;
	}
	.explanation .explanation-content img {
		width: 25%;
		vertical-align: top;
		margin-left: 1em;
	}
	.explanation:last-child .explanation-content img {
		margin-left: 2em;
	}
	.explanation .explanation-content a:hover .fa {
		padding-left: 15px;
	}
	.form .logo {
		height: 48px;
	}
	.form .wrapper {
		position: relative;
		overflow: hidden;
		/*margin-bottom: 25px;*/
	}
	.form .title {
		width: 100%;
		height: auto;
		position: relative;
		text-align: center;
		font-weight: 100;
		margin: 30px 0px;
		font-size: 14px;
	}
	.form .title .title_img {
		height: 100px;
		margin-bottom: 25px;
	}
	.div3 {
		width: 33%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation {
		margin: 0;
		padding: 0;
		text-align: left;
		margin-bottom: 15px;
	}
	.explanation i {
		margin: 20px;
		display: block;
	}
	.explanation .explanation_subject {
		font-size: 18px;
		font-weight: 400;
		display: block;
	}
	.explanation .explanation_content {
		font-size: 16px;
		font-weight: 100;
		display: block;
		padding: 15px 0px;
	}
	.form .application {
		background-image: url('/img/form.jpg');
		background-size: cover;
		position: relative;
		z-index: 10;
	}
	/* Let's get this party started */
	body *::-webkit-scrollbar {
		width: 12px;
	}
	/* Track */
	body *::-webkit-scrollbar-track {
		/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	/* Handle */
	body *::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: transparent;
		/*background: #d3d3d3;*/
		/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	body *:hover::-webkit-scrollbar-thumb {
		background: #d3d3d3;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	body *::-webkit-scrollbar-thumb:window-inactive {
		background: transparent;
		/*background: #d3d3d3;*/
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	/* footer S */
	.footer {
		width: 100%;
		border-top: #f0f0f0 1px solid;
		float: left;
		padding: 40px 0 120px;
		text-align: center;
	}
	.footer .footer_lnb {
		width: 100%;
		display: block;
		margin: 0 auto;
		overflow: hidden;
	}
	.footer .footer_lnb li {
		/*float: left;*/
		display: inline-block;
	}
	.footer .footer_lnb li a {
		color: #8e9294;
		font-size: 0.7em;
		display: block;
		margin: 3px 0;
	}
	.footer .footer_lnb span {
		/*float: left;*/
		margin: 0 20px;
		color: #8e9294;
		font-size: 0.8em;
	}
	.footer .footer_info {
		width: 100%;
		display: block;
		margin: 14px auto;
		overflow: hidden;
	}
	.footer .footer_info li {
		color: #8e9294;
		/*float: left;*/
		font-size: 0.7em;
		padding: 3px 0;
		display: inline-block;
	}
	.footer .footer_info span {
		/*float: left;*/
		margin: 0 20px;
		font-size: 0.8em;
	}
	.footer p {
		color: #8e9294;
		font-size: 11px;
		letter-spacing: 1px;
		padding-top: 20px;
	}
	/* footer E */
	.btn_top {
		position: fixed;
		bottom: 40px;
		right: 40px;
		-webkit-animation: fadein 0.25s ease-in-out;
		/* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 0.25s ease-in-out;
		/*Firefox < 16 */
		-ms-animation: fadein 0.25s ease-in-out;
		/*Internet Explorer */
		-o-animation: fadein 0.25s ease-in-out;
		/*Opera < 12.1 */
		animation: fadein 0.25s ease-in-out;
	}
	.btn_top.invisible {
		display: none;
		-webkit-animation: fadeout 0.25s ease-in-out;
		/* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadeout 0.25s ease-in-out;
		/*Firefox < 16 */
		-ms-animation: fadeout 0.25s ease-in-out;
		/*Internet Explorer */
		-o-animation: fadeout 0.25s ease-in-out;
		/*Opera < 12.1 */
		animation: fadeout 0.25s ease-in-out;
	}
	.div4 {
		width: 25%;
		float: left;
		position: relative;
		height: auto;
	}
	.container {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
		/*overflow: hidden;*/
		/*position:  relative;*/
	}
	pre,
	button,
	textarea {
		/*font-family: 'KBIZ', sans-serif;*/
	}
	.clearfix:before,
	.clearfix:after {
		display: block;
		content: '';
		clear: both;
	}
	@-webkit-keyframes imageAnimation {
		0% {
			opacity: 0;
			-webkit-animation-timing-function: ease-in;
		}
		8% {
			opacity: 1;
			-webkit-animation-timing-function: ease-out;
		}
		16.66% {
			opacity: 1;
		}
		33.32% {
			opacity: 1;
		}
		49.98% {
			opacity: 1;
		}
		66.64% {
			opacity: 1;
		}
		83.30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@-moz-keyframes imageAnimation {
		0% {
			opacity: 0;
			-webkit-animation-timing-function: ease-in;
		}
		8% {
			opacity: 1;
			-webkit-animation-timing-function: ease-out;
		}
		16.66% {
			opacity: 1;
		}
		33.32% {
			opacity: 1;
		}
		49.98% {
			opacity: 1;
		}
		66.64% {
			opacity: 1;
		}
		83.30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@-o-keyframes imageAnimation {
		0% {
			opacity: 0;
			-webkit-animation-timing-function: ease-in;
		}
		8% {
			opacity: 1;
			-webkit-animation-timing-function: ease-out;
		}
		16.66% {
			opacity: 1;
		}
		33.32% {
			opacity: 1;
		}
		49.98% {
			opacity: 1;
		}
		66.64% {
			opacity: 1;
		}
		83.30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@-ms-keyframes imageAnimation {
		0% {
			opacity: 0;
			-webkit-animation-timing-function: ease-in;
		}
		8% {
			opacity: 1;
			-webkit-animation-timing-function: ease-out;
		}
		16.66% {
			opacity: 1;
		}
		33.32% {
			opacity: 1;
		}
		49.98% {
			opacity: 1;
		}
		66.64% {
			opacity: 1;
		}
		83.30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes imageAnimation {
		0% {
			opacity: 0;
			-webkit-animation-timing-function: ease-in;
		}
		8% {
			opacity: 1;
			-webkit-animation-timing-function: ease-out;
		}
		16.66% {
			opacity: 1;
		}
		33.32% {
			opacity: 1;
		}
		49.98% {
			opacity: 1;
		}
		66.64% {
			opacity: 1;
		}
		83.30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* Firefox < 16 */
	@-moz-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* Internet Explorer */
	@-ms-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* Opera < 12.1 */
	@-o-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			display: none;
		}
	}
	/* Firefox < 16 */
	@-moz-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			display: none;
		}
	}
	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			display: none;
		}
	}
	/* Internet Explorer */
	@-ms-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			display: none;
		}
	}
	/* Opera < 12.1 */
	@-o-keyframes fadeout {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			display: none;
		}
	}
	@keyframes toptobottom {
		from {
			-moz-transform: translate(0, -100%);
			-webkit-transform: translate(0, -100%);
			-o-transform: translate(0, -100%);
			-ms-transform: translate(0, -100%);
			transform: translate(0, -100%);
		}
		to {
			-moz-transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	/* Firefox < 16 */
	@-moz-keyframes toptobottom {
		from {
			-moz-transform: translate(0, -100%);
			-webkit-transform: translate(0, -100%);
			-o-transform: translate(0, -100%);
			-ms-transform: translate(0, -100%);
			transform: translate(0, -100%);
		}
		to {
			-moz-transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes toptobottom {
		from {
			-moz-transform: translate(0, -100%);
			-webkit-transform: translate(0, -100%);
			-o-transform: translate(0, -100%);
			-ms-transform: translate(0, -100%);
			transform: translate(0, -100%);
		}
		to {
			-moz-transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	/* Internet Explorer */
	@-ms-keyframes toptobottom {
		from {
			-moz-transform: translate(0, -100%);
			-webkit-transform: translate(0, -100%);
			-o-transform: translate(0, -100%);
			-ms-transform: translate(0, -100%);
			transform: translate(0, -100%);
		}
		to {
			-moz-transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	/* Opera < 12.1 */
	@-o-keyframes toptobottom {
		from {
			-moz-transform: translate(0, -100%);
			-webkit-transform: translate(0, -100%);
			-o-transform: translate(0, -100%);
			-ms-transform: translate(0, -100%);
			transform: translate(0, -100%);
		}
		to {
			-moz-transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	@keyframes party_circle {
		from {
			-webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
		}
	}
	/* Firefox < 16 */
	@-moz-keyframes party_circle {
		from {
			-webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
		}
	}
	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes party_circle {
		from {
			-webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
		}
	}
	/* Internet Explorer */
	@-ms-keyframes party_circle {
		from {
			-webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
		}
	}
	/* Opera < 12.1 */
	@-o-keyframes party_circle {
		from {
			-webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
		}
	}
	@keyframes party_shadow {
		0% {}
		12.5% {
			transform: translate(50px) scale(0.6);
		}
		25% {
			transform: translate(110px);
		}
		37.5% {
			transform: translate(50px) scale(1.4);
		}
		50% {
			transform: translate(0px);
		}
		62.5% {
			transform: translate(-50px) scale(0.6);
		}
		75% {
			transform: translate(-110px);
		}
		87.5% {
			transform: translate(-50px) scale(1.4);
		}
		100% {
			transform: translate(0px);
		}
	}
	/* Firefox < 16 */
	@-moz-keyframes party_shadow {
		0% {}
		12.5% {
			transform: translate(50px) scale(0.6);
		}
		25% {
			transform: translate(110px);
		}
		37.5% {
			transform: translate(50px) scale(1.4);
		}
		50% {
			transform: translate(0px);
		}
		62.5% {
			transform: translate(-50px) scale(0.6);
		}
		75% {
			transform: translate(-110px);
		}
		87.5% {
			transform: translate(-50px) scale(1.4);
		}
		100% {
			transform: translate(0px);
		}
	}
	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes party_shadow {
		0% {}
		12.5% {
			transform: translate(50px) scale(0.6);
		}
		25% {
			transform: translate(110px);
		}
		37.5% {
			transform: translate(50px) scale(1.4);
		}
		50% {
			transform: translate(0px);
		}
		62.5% {
			transform: translate(-50px) scale(0.6);
		}
		75% {
			transform: translate(-110px);
		}
		87.5% {
			transform: translate(-50px) scale(1.4);
		}
		100% {
			transform: translate(0px);
		}
	}
	/* Internet Explorer */
	@-ms-keyframes party_shadow {
		0% {}
		12.5% {
			transform: translate(50px) scale(0.6);
		}
		25% {
			transform: translate(110px);
		}
		37.5% {
			transform: translate(50px) scale(1.4);
		}
		50% {
			transform: translate(0px);
		}
		62.5% {
			transform: translate(-50px) scale(0.6);
		}
		75% {
			transform: translate(-110px);
		}
		87.5% {
			transform: translate(-50px) scale(1.4);
		}
		100% {
			transform: translate(0px);
		}
	}
	/* Opera < 12.1 */
	@-o-keyframes party_shadow {
		0% {}
		12.5% {
			transform: translate(50px) scale(0.6);
		}
		25% {
			transform: translate(110px);
		}
		37.5% {
			transform: translate(50px) scale(1.4);
		}
		50% {
			transform: translate(0px);
		}
		62.5% {
			transform: translate(-50px) scale(0.6);
		}
		75% {
			transform: translate(-110px);
		}
		87.5% {
			transform: translate(-50px) scale(1.4);
		}
		100% {
			transform: translate(0px);
		}
	}
}

@media screen and (max-width: 1280px) {
	.container {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.div4 {
		width: 25%;
	}
	.form-request-inside .input-line .input-content select {
		width: 44%;
	}
	#price-table .help-text {
		width: 43%;
	}
	#about-us .container .explanation-content div {
		padding-right: 4em;
	}
}

@media screen and (max-width: 1200px) {
	.nav-wrapper {
		display: block;
	}
}

@media screen and (max-width: 1180px) {
	.form-request-inside .text_counter {
		width: 48%;
	}
}

@media screen and (max-width: 1110px) {
	.form-request-inside .text_counter {
		padding: 14px 20px;
	}
	.form-request-inside .input-line .input-content select {
		width: 43%;
	}
}

@media screen and (max-width: 1024px) {
	.form-request-inside .text_counter {
		width: auto;
		padding: 14px 20px;
	}
	#about-us .container img {
		margin-right: 0;
		margin-left: 7em;
		margin-top: 10px;
	}
}

@media screen and (max-width: 960px) {
	.form-request-inside .text-number {
		width: 39% !important;
	}
}

@media screen and (max-width: 768px) {
	.form-header .form-header-content {
		padding-right: 0;
	}
	.form-request-inside #form-request {
		padding: 10px;
	}
	.form-request-inside .input-line {
		width: 95%;
	}
	.form-request-inside .text_counter {
		padding: 14px 18px;
	}
	.text_counter_container .text_counter_popup {
		width: 80%;
		top: 40%;
	}
	#price-table .table-wrap,
	#price-table table * {
		padding: 15px;
	}
	#price-table .help-text {
		padding-left: 20px;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 16px;
	}
	nav {
		/*float: right;
		display: block;*/
		position: relative;
		top: 15%;
		right: 8px;
	}
	.fixed_header {
		padding: 0;
	}
	.fixed_header .container {
		/*border-bottom: 1px solid #bbbdc0;*/
	}
	.fixed_header nav button,
	.form-header nav button.free_request {
		border: 1px solid #fff;
		background: transparent;
	}
	.fixed_header .fixed_header-logo {
		height: 50px;
	}
	.text_counter_container .text_counter_popup {
		width: 100%;
		height: auto;
		top: 50%;
	}
	.text_counter_container .text_counter_popup h1 {
		margin-top: 10px;
	}
	.text_counter_container .text_counter_popup textarea {
		width: 90%;
		height: 50%;
		min-height: 250px;
	}
	.text_counter_container .text_counter_popup .text_counter_span {
		width: 85%;
		margin: 0 auto;
		word-break: keep-all;
	}
	.text_counter_container .text_counter_popup .buttons {
		margin-top: 10px;
	}
	.text_counter_container .text_counter_popup .buttons button {
		width: auto;
		margin: 0 10px;
	}
	.mobile-nav-toggle {
		/*display: inline-block; */
		width: 40px;
		/* padding: 3px 0;  */
		cursor: pointer;
		border-radius: 4px;
		position: relative;
		/* top: 8px; */
		right: 10px;
		float: right;
	}
	.form-header {
		display: none;
	}
	.form-header .form-header-logo nav {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
	}
	.form-header .mobile-nav-toggle {
		top: -2px;
	}
	.form-header .nav-wrapper {
		/*background: rgba(0,0,0,0.7);*/
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
	}
	.form-header .nav-wrapper #menu {
		position: static;
		padding-top: 0;
	}
	.mobile-nav-toggle span,
	.mobile-nav-toggle span+span,
	.mobile-nav-toggle span+span+span {
		display: block;
		width: 80%;
		height: 2px;
		margin: 6px auto;
		background: #fff;
	}
	.fixed_header.invisible {
		/*display: none;*/
		transform: translateY(0%);
	}
	.fixed_header nav {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 0;
	}
	.fixed_header .nav-wrapper {
		/* margin-top: 28px;  */
		margin-top: 12px;
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		margin-left: 8px;
		border-top: 1px solid #8e9294;
	}
	.fixed_header.invisible .nav-wrapper {
		/*display: none;*/
	}
	.nav-wrapper {
		clear: both;
		width: 100%;
		text-align: center;
		opacity: 1;
	}
	.nav-wrapper.invisible {
		/*display: none;*/
		-webkit-transform: translateY(-150%);
		-o-transform: translateY(-150%);
		-ms-transform: translateY(-150%);
		transform: translateY(-150%);
		-webkit-transform-origin: top;
		-o-transform-origin: top;
		-ms-transform-origin: top;
		transform-origin: top;
		-webkit-transition: -webkit-transform 0.2s ease;
		-o-transition: -o-transform 0.2s ease;
		-ms-transition: -ms-transform 0.2s ease;
		transition: transform 0.2s ease;
		opacity: 0;
	}
	.nav-wrapper #menu {
		/*position:relative; 
		left: -64%; */
		width: 100%;
		/*display:none;*/
		padding: 10px;
		padding-bottom: 15px;
		padding-top: 0;
	}
	nav #menu li {
		display: block;
		line-height: 1.5;
		border: 0px;
		float: none;
	}
	nav #menu li a {
		color: #fff;
		display: block;
		padding: 10px 15px !important;
	}
	nav #menu li.active button {
		color: #00b3e6;
		font-weight: bold;
	}
	nav #menu li.active button {
		border: 1px solid #00b3e6;
	}
	.container {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.form-header .container {
		width: 100%;
		margin: 0;
		padding-top: 0px;
		padding-bottom: 0;
	}
	.form-header .form-header-logo img {
		margin-top: 15px;
	}
	.form-header .container .form-header-top {
		/*padding-top: 15px;*/
		/*padding-bottom: 80px;*/
		/*background-size: 125%;
		background-position: center top;
		background-color: #000;
		background-repeat: no-repeat;*/
	}
	.form-header .container .form-header-top .form-header-title,
	.form-header .container .form-header-top .form-header-content {
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: block;
		word-break: keep-all;
	}
	.form-header .container .form-header-top .form-header-title {
		/*margin-top: 175px;
		font-size: 2.3em;*/
		display: none;
	}
	.form-header .container .form-header-top .form-header-content {
		/*font-size: 2em;*/
		display: none;
	}
	/*.form-header .container .form-header-top > div,*/
	.form-header .container .form-header-top>span {
		background-color: rgba(255, 255, 255, 0.7);
	}
	.form-header .form-header-logo {
		/*margin-bottom: 134px;*/
	}
	.form-request {
		padding: 0;
		height: auto;
		background-color: #000;
		position: relative;
		/*top: 77px;*/
		/* padding-top: 77px; */
		margin-bottom: 30px;
	}
	.form-request .container {
		width: 100%;
		margin: 0;
		background: #fff;
	}
	.form-request .slides * {
		user-select: auto;
		-ms-user-select: auto;
		-moz-user-select: auto;
		-khtml-user-select: auto;
		-webkit-user-select: auto;
		-webkit-touch-callout: auto;
	}
	.form-request .slides {
		height: 300px;
	}
	.form-request .slide div {
		height: 300px;
	}
	.form-request .form-request-shape {
		display: none;
	}
	/* .form-request .gallery .movable img {
		margin-top: 0;
	} */
	.form-request .nav {
		opacity: 0;
	}
	.form-request .form-header-title {
		font-size: 2.3em;
		margin: 0;
		padding: 0;
		text-align: center;
		word-break: keep-all;
		display: block;
	}
	.form-request .form-header-content {
		font-size: 2em;
		margin: 0;
		padding: 0;
		text-align: center;
		word-break: keep-all;
		display: block;
	}
	.form-request>span {
		background: rgba(255, 255, 255, 1);
		display: block;
	}
	.form-request-inside {
		width: 100%;
		height: auto;
		float: none;
		box-shadow: unset;
		margin: 0;
		border: none;
		padding: 0 5px;
	}
	.form-request-inside button {
		width: 70%;
		margin-top: 20px;
	}
	.form-request-inside .submit_check {
		width: 100%;
		text-align: left;
		word-break: break-all;
	}
	.form-request-inside .input-line {
		width: 100%;
		text-align: left;
	}
	.form-request-inside h3 {
		word-break: keep-all;
	}
	.form-request-inside #form-request {
		padding-top: 10px;
	}
	.form-request-inside .input-line .input-content select {
		width: 44%;
	}
	.form-request-inside .input-line .input-content .text-number {
		width: 39% !important;
	}
	.form-request-inside .text_counter {
		width: 50%;
		padding: 14px 30px;
	}
	.form .apply_form .input_line {
		margin: 40px 2%;
	}
	.div4 {
		width: 50%;
	}
	.explanation {
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 0;
	}
	.explanation .icon {
		width: 50px;
		height: auto;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.explanation .explanation-subject {
		padding: 0px;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.explanation .explanation-content {
		width: 90%;
		height: auto;
		padding: 0px;
		margin: 0px;
		margin-top: 15px;
		text-align: center;
	}
	.explanation .explanation-content>div {
		text-align: justify;
	}
	.explanation img {
		position: static;
		margin: 0 auto;
		float: none;
		display: block;
		width: 30%;
		margin-top: 20px;
	}
	.request-content {
		width: 95%;
	}
	#price-table,
	#about-us,
	#company-map,
	#main_step,
	#main_party {
		margin-top: 20px;
		padding-top: 40px;
		padding-bottom: 0;
	}
	#about-us {
		/*margin-top: 0;*/
	}
	#about-us .container img {
		width: 30%;
		float: none;
		margin: 0;
	}
	#about-us .container .explanation-content {
		width: 95%;
		float: none;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}
	#about-us .container .explanation-content .explanation-subject::before {
		display: none;
	}
	#about-us .container .explanation-content div {
		text-align: justify;
		padding: 0;
	}
	#about-us .container .about-explanation {
		margin: 0;
	}
	#price-table {
		/* margin-top: 30px; */
	}
	#price-table .table-wrap {
		padding: 10px 15px 0;
	}
	#price-table table {
		width: 100%;
	}
	#price-table table * {
		padding: 10px;
		font-size: 0.95em;
	}
	#price-table table tr th:first-child {
		width: 21%;
	}
	#price-table .help-text {
		padding-left: 0;
		text-align: justify;
		word-break: keep-all;
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		display: inline-block;
		width: 81%;
	}
	#price-table .help-text li {
		padding-bottom: 5px;
	}
	#price-table .help-text li:last-child {
		text-align: center;
	}
	#price-table .help-text li button {
		float: none;
		width: auto;
	}
	#company-map .section_cont {
		padding-bottom: 0;
	}
	#company-map .section_cont p {
		width: 95%;
		margin: 10px auto;
	}
	#company-map .section_cont ul {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		overflow: hidden;
		padding-left: 0;
		width: 90%;
	}
	#company-map .section_cont span {
		/*display: none;*/
	}
	#company-map .section_cont .company_contact {
		width: 90%;
		/*transform: translateX(-39%);*/
	}
	#company-map .section_cont .company_sns {
		width: 100%;
		/*transform: translateX(-36%);*/
	}
	.footer {
		padding: 40px 0 60px;
	}
	.footer .footer_info {
		display: none;
	}
	.footer .footer_lnb {
		text-align: center;
		padding: 0;
	}
	.footer p {
		margin-top: 10px;
	}
	.btn_top {
		bottom: 30px;
		right: 0;
	}
	.btn_top img {
		width: 70%;
		opacity: 0.6;
	}
}

@media screen and (max-width: 320px) {
	.form-request-inside .input-line .input-content select {
		width: 43%;
	}
	.form-request-inside .text_counter {
		width: auto;
		padding: 14px 20px;
	}
	#price-table .table-wrap {
		padding: 0;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 14px;
	}
	.container {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.div4 {
		width: 50%;
	}
	#company-map .section_cont span {
		display: none;
	}
	#price-table .help-text {
		width: 90%;
	}
	.form-request-inside .submit_check label {
		display: inline-block;
		width: 100%;
		margin-top: 10px;
	}
}

@media screen and (min-width: 641px) {
	.form-header .container .form-header-top {
		background: none !important;
	}
	body {
		/*font-size: 18px;*/
	}
}

@media screen and (min-width: 1280px) {
	.container {
		width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
	.div4 {
		width: 25%;
	}
}

@media screen and (min-width: 1366px) {
	.container {
		width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
	.div4 {
		width: 25%;
	}
}

@media screen and (min-width: 1920px) {
	.container {
		width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
	.div4 {
		width: 25%;
	}
}

.global_loading {
	width: 100%;
	height: 100%;
	position: fixed;
	/*background-color: rgba(0,0,0,.25);*/
	z-index: 1500;
}

.mask-loading {
	widows: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .75);
}

.spinner {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 50%;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}