<%- include header %>
	<div class="docs">
		<div class="docs-top">
			<div class="container">
				<img class="docs-top-logo" src="/img/logo.png" alt="CICERON" />
				<a class="docs-top-close" onclick="history.back();">
					<img src="/img/close.png" alt="Close">
				</a>
			</div>
		</div>
		<div class="docs-content">
			<div class="container">
				<div class="docs-content-inside">
					<div class="docs-content-inside-html">
						<%- param.docs %>
					</div>
				</div>
			</div>
		</div>
		<div class="docs-bottom">
			Copyright <span style="font-family: sans-serif;">©</span> 2016 CICÉRON, inc, All rights reserved
		</div>

	</div>
<%- include footer %>
