<%- include header %>
	<div class="sign">
		<div class="sign-top">
			<div class="container">
				<img class="sign-top-logo" src="/img/logo.png" alt="CICERON" />
				
			</div>
		</div>
		<div class="sign-content">
			<div class="container">
				<div class="sign-content-inside">
					<div class="sign-content-inside-html">
						<a class="sign-top-goback" onclick="history.back();">
							<i class="fa fa-angle-left fa-2x"></i>
						</a>
						<form>
							<span class="sign-title">Sign In</span>
							<input class="sign-input-text" type="email" placeholder="E-mail" required/>
							<input class="sign-input-text" type="password" placeholder="Password" required/>
							<input class="sign-input-check" type="checkbox" id="keep"/><label class="sign-label-check" for="keep">Keep me signed in<div style=""></div></label>
							<button class="sign-button" type="submit">Submit</button>
							<a class="sign-a" href="">Forgot Password |</a>
							<a class="sign-a" href="signup">Create An Account</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="sign-bottom">
			Copyright <span style="font-family: sans-serif;">©</span> 2016 CICÉRON, inc, All rights reserved
		</div>

	</div>
<%- include footer %>
