<div class="dashboard dashboard-left">
	<div class="nav-header client-nav-header">
		{{i18n.MENU_REQUEST}}
	</div>
	<ul class="nav">
		<li><a href="/makerequest"><div>{{i18n.MENU_MAKE_REQUEST}}</div></a>
		</li>
		<li><a href="/processingrequests"><div>{{i18n.MENU_PROCESSING_REQUEST}}</div></a>
		</li>
		<li><a href="/donerequests"><div>{{i18n.MENU_COMPLETED_REQUEST}}</div></a>
		</li> 
	</ul>
</div>
<div class="dashboard dashboard-right">
	<div class="nav-header translator-nav-header">
		{{i18n.MENU_TRANSLATE}} 
	</div>
	<ul class="nav translator-nav">
		<li><a href="/cart"><div>{{i18n.MENU_CART}}</div></a>
		</li>
		<li><a href="/translating"><div>{{i18n.MENU_TRANSLATING}}</div></a>
		</li>
		<li><a href="/activity"><div>{{i18n.MENU_HISTORY}}</div></a>
		</li>
	</ul>
</div>