<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">
        <title>test</title>
        <link type="text/css" rel="stylesheet" href="/css/transView.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">CICERON</h1>
        </header>
        <div class="clearfix"></div>
        <section>
            <span class="title">회원가입</span>
            <div id="yaggwan">
                <div>회원가입 약관</div>
                <div>
                    <p>제 1장. 총칙</p>
                    <p>제 1조. 목적</p>
                    <p>제 2조. 약관의 효력과 발생</p>
                    <p>제 3조. 약관 외의 준칙</p>
                    <p>제 4조. 등등등.</p>
                </div>
            </div>
            <div class="loginBox">
                <form>
                <input type="text" name="name" placeholder="name" required /><br />
                <input type="text" name="nicName" placeholder="nicName" required /><br />
                <input type="email" name="email" placeholder="e-mail" required /><br />
                <input type="password" name="pass" placeholder="password" required /><br />
                <select name="nationality" required >
                    <option>국적</option>
                    <option value="1">대한민국</option>
                    <option value="2">미국</option>
                </select><br />
                <button type="submit">가입하기</button>
                </form>
            </div>            
        </section>
        <div class="clearfix"></div>
        <footer class="footer">CICERON 번역기를 이용해 주셔서 감사합니다.</footer>
    <body>
</html>