<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">
        <title>test</title>
        <link rel="stylesheet" type="text/css" href="/css/transView.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">CICERON</h1>
        </header>
        <div class="clearfix"></div>
        <section>
            <span class="title">아이디찾기</span>
            <div class="loginBox">
                <form>
                    <input type="text" name="name" placeholder="name" required /><br />
                    <button type="submit">아이디 찾기</button>
                </form>
            </div>
            <span class="title">비밀찾기</span>
            <div class="loginBox">
                <form>
                    <input type="text" name="name" placeholder="name" required /><br />
                    <input type="email" name="email" placeholder="e-mail" required /><br />
                    <select name="nationality" required >
                        <option>국적</option>
                        <option value="1">대한민국</option>
                        <option value="2">미국</option>
                    </select><br />
                    <button type="submit">비밀번호찾기</button>
                </form>
            </div>                  
        </section>
        <div class="clearfix"></div>
        <footer class="footer">CICERON 번역기를 이용해 주셔서 감사합니다.</footer>
    <body>
</html>
