<%- include("trans_header") %>
    <nav>
        <span class="sub_title1">"번역의 가능성을 비교해 보시겠어요?"</span>
        <span class="move_text">
            <a href="ai1">이전 페이지로 >></a>
        </span>
    </nav>

    <section>
        <div class="input_translations2 container container2">
            <div class="translation_box">
                <div id="original_lang" class="lang_title"></div>
                <textarea placeholder="번역할 내용을 입력해주세요." maxlength="1000"></textarea>
                <div class="translate">
                    <button type="submit">
                        <!-- <img width="20" src="./img/logo-icon.png" alt="로고" /> -->
                        번역하기
                    </button>
                    <span class="count">0/1000</span>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="get_translations2 get_translations container container2">

            <div id="slogan" class="slogan2">가장 마음에 드는 번역물을 선택해보세요</div>
            <!-- <img src="img/arrow2.png" alt="화살표이미지" /> -->
            <div id="target_lang" class="lang_title"></div>
            <div class="translation_table">

                <!-- <div class="translation_box">
                    <div class="get_text_wrap">
                        <div class="get_text_cover">
                            <div class="get_text get_center"></div>
                        </div>
                    </div>
                    <div class="popUp">
                        <button>선택</button>
                    </div>
                </div>
                
                <div class="translation_box">
                    <div class="get_text_wrap">
                        <div class="get_text_cover">
                            <div class="get_text get_center"></div>
                        </div>
                    </div>
                    <div class="popUp">
                        <button>선택</button>
                    </div>
                </div>
                <div class="translation_box">
                    <div class="get_text_wrap">
                        <div class="get_text_cover">
                            <div class="get_text get_right"></div>
                        </div>
                    </div>
                    <div class="popUp">
                        <!-- <span class="popUp_checked invisible"></span>
                        <button>선택</button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="ad">
            <a href="http://baogao.co" target="_blank">
                <img src="img/baogao_banner.png" alt="배너이미지" />
            </a>
        </div>
    </section>
    <script type="text/javascript" rel="javascript" src="./js/transView_sub.js"></script>
    <script type="text/javascript" rel="javascript" src="./js/transView.js"></script>

    <%- include("trans_loading") %>
        <%- include("trans_footer") %>