    <div class="clearfix"></div>
    <footer>
        <span>&copy; 2017 (주)CICERON All rights reserved.</span>
        <ul>
            <li>
                <span>메일 : </span>
                <a href="mailto:chingoo@ciceron.me">chingoo@ciceron.me</a>
            </li>
            <li>
                <span> 문의 : </span>
                <a href="tel:+82-2-6441-3838">+82-2-6441-3838</a>
            </li>
        </ul>
    </footer>
    
</body>
</html>