<%- include("trans_header") %>
    <nav>
        <span class="sub_title1">"모이면 번역이 된다."</span>
        <span class="move_text">
            <a href="ai2">번역물을 비교해 보세요 >></a>
        </span>
    </nav>

    <section>
        <div class="inputBox_wrap">
            <div class="input_translations1 container container1">
                <div id="original_lang" class="lang_title"></div>
                <div class="translation_box">
                    <textarea placeholder="번역물 입력 바랍니다." maxlength="1000"></textarea>
                    <div class="translate">
                        <button type="submit">
                            <!-- <img width="20" src="./img/logo-icon.png" alt="로고" />  -->
                            번역하기
                        </button>
                        <span class="count">0/1000</span>
                    </div>
                </div>
            </div>
            <div class="get_translations1 get_translations container container1">
                <!-- <img src="img/arrow2.png" alt="화살표이미지" /> -->
                <div id="target_lang" class="lang_title"></div>
                <div class="translation_box">
                    <div class="get_text_cover">
                        <div class="get_text"></div>
                    </div>
                    
                    <a href="/ai2" class="">
                        <!-- 번역에 만족이 되셨나요? 아니라면 비교해 보시는건 어떠신가요? -->
                        다른 번역기들과 비교해보시겠어요?
                        <span class="side_text">비교하러 gogo >></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="slogan1">행간을 번역하는 씨세론입니다.
            <span>무엇이 궁금하십니까?</span>
        </div>
        <div class="clearfix"></div>
        <div id="ad">
            <a href="http://baogao.co/">
                <img src="img/baogao_banner.png" alt="배너이미지" />
            </a>
        </div>
    </section>
    <script type="text/javascript" rel="javascript" src="./js/transView_sub.js"></script>
    <script type="text/javascript" rel="javascript" src="./js/transView.js"></script>

    <%- include("trans_loading") %>
        <%- include("trans_footer") %>