html, body { 
    /* height가 100% 적용되지 않을 때 */
    height:100%; 
    overflow:hidden; 
}
h1{
    font-weight:bold;
    font-size:26px;
    margin-bottom:10px;
    color:#fff;
    width:100%;
    box-sizing: border-box;
    margin:30px auto;
    border:0px solid red;
    text-align:center;
}
h2{
    font-weight:bold;
    font-size:22px;
    margin-bottom:10px;    
}
h3{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;    
}
#mainWrap{
    border:0px solid red;
    box-sizing:border-box;
    width:100%;
    height:100%;
    padding:0px;
}
#menuArea,
#mainArea{
    border:0px solid rgb(37, 117, 170);
    box-sizing:border-box;
    height:100%;
    padding:10px;
    float:left;
}
#menuArea{
    width:220px;
    background-color:rgb(62, 93, 131);
}
#menuArea ul{
    margin-bottom:30px;
}
#menuArea ul:nth-of-type(1){
    margin-bottom:0px;
}
#menuArea ul li{
    border-bottom:0px solid #999;
    margin:5px;
    padding:10px;
    color:rgb(233, 232, 238);
}
#menuArea ul li:nth-of-type(2){
    background-color:#fff;
    font-weight:bolder;
    margin-top:0px;
}
#menuArea ul li:nth-of-type(2) a{
    color:#365378;
}
#mainArea{
    width:calc(100% - 220px);
    background-color:rgb(234, 240, 247);
}
#mainArea article{
    padding:20px;
    border-radius:5px;

}
#mainArea article #txtSearchWord{
    border:1px solid #D4DBDF;
    width:270px;
    height:45px;
    border-radius:5px;
    font-size:15px;
    padding-left:10px;
    background: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position:right 10px bottom 10px;      
}
#mainArea article #rightMenu{
    border:0px solid red;
    height:45px;
    line-height:45px;
    vertical-align: middle;
    float:right;
    font-size:13px;
}
#mainArea article #rightMenu li{
    float:left;
    padding:0;
    margin:0;
    height:45px;
    line-height:45px;
    vertical-align: middle;
}
.circle{
    border:1px solid green;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    background: url(../../img/kjh.jpg);
    background-size: 100%;
    border: 1px solid #9b9aa6;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: #fff;
}
#mainArea article:nth-of-type(1),
#mainArea article:nth-of-type(2){    
    background-color:#FFF;
}
#dvTitle{
    height:40px;
}
#dvTitle h2{
    display:inline-block;
}
#dvTitle input[type=button]{
    border:0;
    float:right;
    margin:1px;    
    background-color:#1797E4;
    color:#fff;
    font-size:13px !important;
    padding:6px !important;
}
#tblProjectDetail{
    border:0px solid red;
    width:500px;
}
#tblProjectDetail td{    
    border:0px solid #999;
    padding:5px;
    font-size:14px;
}
#tblProjectDetail td:nth-of-type(1),
#tblProjectDetail td:nth-of-type(3){    
    font-weight:bold;
}
#listTitleGroup h3{
    display:inline-block;
}
#listTitleGroup ul{
    float:right;
}
#listTitleGroup li{
    float:left;    
    border:0px solid rgb(40, 136, 209);
    border-radius:2px;
    background-color:#4296D9;
    color:#fff;    
    padding:5px;
    margin:1px;
    font-size:13px;
    font-weight:normal;
    opacity:0.5;
}
#listTitleGroup li:nth-of-type(1){
    opacity:1;
    cursor:pointer;
}
#listContents{
    border:0px solid red;
}
#listContents table{
    width:100%;    
}
#listContents table tr{
    border:0px solid blue;
    box-sizing: border-box;
    text-align:center;
    height:30px;
    line-height:30px;
    vertical-align: middle;
    font-size:14px;
}
#listContents table td a{
    color:rgb(51, 129, 219);
}
#listContents table tr:nth-of-type(odd){
    background-color:#EDF3F7;
}
#listContents table tr:nth-of-type(1){
    background-color:rgba(237, 243, 247, 0.37);
}

#menuArea ul:nth-of-type(1) li{
    text-align: center;
}