<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<!--<meta name="theme-color" content="#08C1CE">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">


	<title>CICERON</title>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_renewal.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/jquery-ui.min.css">
	<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>-->
	<link rel="stylesheet" href="/css/datepicker_skin.css">
	<!--<script type="text/javascript" src="/js/jquery.cookie.js"></script>-->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="//www.googletagmanager.com/gtag/js?id=UA-80552336-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-80552336-1');
	</script>

</head>

<body>
	<div class="fixed_header invisible">
		<div class="container">
			<img class="fixed_header-logo" src="/img/logo2.png" />
			<nav>
				<div class="button">
					<div class="mobile-nav-toggle">
						<span> </span>
						<span> </span>
						<span> </span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="nav-wrapper">
					<ul id="menu">
						<li>
							<a href="#main_step" class="price_btn">의뢰 STEP</a>
						</li>
						<li>
							<a href="#main_party" class="about_btn">why us</a>
						</li>
						<li>
							<a href="#company-map" class="contact_btn" style="padding-right:30px;">contact</a>
						</li>
						<li>
							<button class="free_request">무료견적의뢰</button>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>