<meta charset="utf8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/static/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/css/proto.css">
</head>
<style>
.js-donerequests.blank {
    height: 638px;
    border-radius: 5px;
	background-color: rgba(100,100,100,.2);
    position: relative;
    padding-top: .1px;	
}
.js-donerequests.blank > * {
	visibility: hidden;
}
.js-donerequests:after{
    clear: both;
    content: "";
    display: block;
}

h2 {
	margin: 0;
	padding: 0;
}
.groupContainer {
	float: left;
	padding: 10px;
	width: 200px;
	1background-color: aqua;
}
.groupItem,
.addGroupBtn,
.toggleModifyBtn {
	box-sizing: border-box;
	margin: 15px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	background-color: #02C1CF;
	border-radius: 5px;
	font-weight: 100;
    position: relative;
	border: none;
	color: white;
	outline: none;
}
.toggleModifyBtn {
    width: 170px;
    bottom: 20px;
    font-size: 14px;
	background-color:  rgba(190,190,190,.6);;
    1background-color: transparent;
    text-decoration: underline;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggleModifyBtn.modifyStartBtn {
    background-image: url(/static/img/completed_modify_web.png);	
}

.addGroupBtn {
	width: 170px;
	background-color: rgba(2,193,207,.2);
	font-weight: 100;
	margin-top: 0;
}

.groupItem .groupName {
	vertical-align: middle;
	line-height: 40px;	
	font-weight: 100;
    font-size: 20px;
    height: 40px;
    overflow: hidden;
}
.groupItem .overlay button{
	width: 50%;
    border: none;
    margin: 0;
    height: 100%;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8; 
}

.groupItem .overlay button:hover {
	    opacity: 1; 
}
.groupItem .overlay button.rename {
	border-radius: 3px 0 0 3px;
	background-image: url(/static/img/completed_modifybtn_web.png);
}
.groupItem .overlay button.delete {
	border-radius: 0 3px 3px 0;
	background-image: url(/static/img/completed_removebtn2.png);
}
.overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.donerequestsContainer {
	padding: 25px;
	float: left;
	width: 544px;
	background-color: rgba(190,190,190,.6);
	border-radius: 5px;
	min-height: 588px;
}

.donerequestsContainer > h2 {
    margin: 0;
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    color: #02C1CF;
    font-weight: 300;
}

.card.request.done {
	width: 540px;
}
.card.request.done .contentCol {
	position: relative;
    width: 380px;
    overflow: hidden;
    font-size: 16px;
    padding: 14px;
    color: #555;
    line-height: 22px;
}
.card.request.done .contentCol > h2 {
    margin-top: 15px;
}
.card.request.done .contentCol > p {
    margin-top: 40px;
}
.card.request.done .contentCol > .detailViewBtn {
	position: absolute;
	right: 0;
	width: 100px;
	border: none;
	background-color: gray;
	height: 22px;
	color: white;
}
.card.request.done > .header {
    height: 24px;
    width: 100%;
    border-radius: 3px 3px 0 0;
	background-color: #02C1CF;
}

.groupItem.selected::after {
    display: block;
	margin-left: 178px;
    margin-top: -40px;
    content: '';
    width: 17px;
    height: 40px;
    background-image: url(/static/img/4.1.1triangle_web_dark.png);
    background-size: cover;
}
.modifyEndBtn {
	display: none;
}

.js-donerequests .overlay {
	display: none;
}

</style>

<body>
	<div class="topbar">
		<div class="global-nav">
			<div class="container">
				<div class="pull-right">
				</div>
				<a href="/"><h1 class="logo-topbar"><img src="/static/img/1.1.1logo_web.png" height="30"/></h1></a>
				<div class="pull-left">
					<ul class="nav right-actions">
						<li class="me">
								<a href="/profile"><img class="avatar size32 beforeReady"/>
								<span class="profileName"></span>
								</a>
						</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div id="page-outer">
		<div id="page-container" class="AppContent wrapper">
			<div class="content-main">
				<div class="container js-donerequests">
					<!--div class="navContainer" style="display:none;"-->
					<div class="navContainer">
						<div class="groupContainer">
							<button class="addGroupBtn">+</button>
							<button class="toggleModifyBtn modifyStartBtn"></button>
							<button class="toggleModifyBtn modifyEndBtn">완료</button>
						</div>
						<div class="donerequestsContainer">
						</div>
					</div>
					<div class="detailConatiner">
						
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
</script>
<script data-main="/static/js/donerequests.js" src="/static/js/require.js"></script>