<style>
.beTranslator-popup {
	position: relative;
	width: 900px;
	height: 600px;
	padding: 0;
	border-radius: 5px;
	background-color: white;

	background-image: url(/static/img/behero/backgroundimg.png);
	background-size: contain;
	
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.beTranslator-popup .header {
    position: absolute;
    color: rgb(39, 182, 197);
    font-size: 32px;
    top: 117px;
    left: 70px;
    font-weight: 600;
}
.stepDescriptionContainer {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 560px;
	width: 412px;
	background-color: rgba(39, 182, 197, .6);
	border-radius: 3px;
}
.applyContainer {
	position: absolute;
	right: -317px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 530px;
	width: 380px;
	background-color: rgba(0, 121, 219, .8);
	border-radius: 3px;
	-webkit-transition: .3s ease right;
	transition: .3s ease right;
}
.applyContainer.expand {
	right: 0px;
}
.applyContainer .handle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
}
.applyContainer.expand .handle img {
	-webkit-transform: translateY(-50%) rotateY(180deg);
	transform: translateY(-50%) rotateY(180deg);
}

.applyContainer .handle p {
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 320px;
    font-size: 12px;
    width: 65px;
	color: white;
	font-weight: 100;
}
.applyContainer.expand .handle p {
	display: none;	
}

.handle img {
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px;
	width: 30px;
	height: 86px;
}

.formContainer {
	position: absolute;
	top: 50px;
	left: 80px; 
}
.formContainer .formItem {
	width: 240px;
	height: 42px;
	margin-bottom: 8px;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.formItem  > * {
	float: left;
	font-size: 14px;
}
.formItem  > .label {
	width: 64px;
	line-height: 42px;
	text-align: left;
	color: white;
}
.formItem  > input {
	width: 142px;
	height: 42px;
	color: white;
	border: none;
	background-color: transparent;
	outline: none;
}
.formContainer .submit {
	margin-top: 40px;
	font-size: 14px;
	color: white;	
	background-color: transparent;
	outline: none;
	border: none;
	width: 182px;
	height: 36px;
	border: 1px solid rgba(255,255,255,.5);
}

.formContainer .submit:hover {
	border: 1px solid rgba(255,255,255,1);
	background-color: white;
	color: rgba(0, 121, 219, .8);
}
.formContainer .submit:active {
	border: 1px solid rgba(255,255,255,.5);
	background-color: rgba(255,255,255,.5);
	color: rgba(0, 121, 219, .8);
}

.beTranslator-popup > .logo {
    width: 156px;
    display: block;
    position: absolute;
    top: 71px;
    left: 69px;
}
</style>
<div class="beTranslator-popup">
	<img class="logo" src="/static/img/behero/CICERON.png"/>
	<h1 class="header">히어로가 되어 주세요</h1>
	<div class="stepDescriptionContainer">
		<div class="stepItemContainer">
			
		</div>
		<div class="applyContainer">
			<div class="handle">
				<img src="/static/img/behero/toggle.png"/>
				<p>지원하기</p>
			</div>
			<div class="formContainer">
				<div class="formItem">
					<p class="label">이름</p>
					<input/>
				</div>
				<div class="formItem">
					<p class="label">이메일</p>
					<input/>
				</div>
				<div class="formItem">
					<p class="label">학교</p>
					<input/>
				</div>
				<div class="formItem">
					<p class="label">전공</p>
					<input/>
				</div>
				<div class="formItem">
					<p class="label">지원언어</p>
					<input/>
				</div>
				<div class="formItem">
					<p class="label">거주지역</p>
					<input/>
				</div>
				<div class="formItem">
					<p class="label">공인점수</p>
					<input/>
				</div>
				<button class="submit">제출하기</button>
			</div>
		</div>
	</div>
</div>