<style>
.alarmIcon {
    position: relative;
	background-image: url(/static/img/1.2.1alarm_web.png);
	width: 30px;
	height:30px;
	margin-top: 14px;
	background-size: contain;
	background-repeat: no-repeat;
}
.alarmIcon .countValue {
    position: absolute;
    top: -5px;
    left: 16px;
    min-width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #27B6C5;
    color: #27B6C5;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}
.uiToggleFlyout {
	display: none;
	position: absolute;
	width: 430px;
	min-height: 100px;
	max-height: 560px;
	1overflow: auto;
	background-color: #EEE;
	border-radius: 3px;
	right: -18px;
    top: 50px;
    z-index: 102;
}
.uiToggleFlyout.show {
	display: block;
}
.uiToggleFlyout.show::after {
    display: block;
    position: absolute;
    right: 19px;
    top: -15px;
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #EEE;
}
.innerScroll {
    width: 100%;
    overflow: auto;
    height: 100%;
	min-height: 100px;
	max-height: 560px;
}

.uiToggleFlyout > .header{
	display: none;
}
/* 아이폰 지원 */
@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{
	.uiToggleFlyout > .header{
		display: block;	
		background-color: rgb(39, 182, 197);
		height: 56px;
		color: white;
	}
	.uiToggleFlyout {
	    display: none;
	    position: fixed;
	    width: 430px;
	    min-height: 100px;
	    background-color: #EEE;
	    border-radius: 3px;
	    /* right: -18px; */
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
	    max-height: none;
	}	
	.innerScroll {
	    max-height: none;
	}
	.uiToggleFlyout.show::after {
	    right: 58px;
	}
	.uiToggleFlyout > .header > h1 {
		1position: absolute;
		text-align: center;
		width: 100%;
		line-height: 60px;
		vertical-align: middle;
		margin: 0 auto;
	}

	.uiToggleFlyout > .header > .closeBtn {
		position: absolute;
		right: 15px;
		top: 13px;
		margin: 0 auto;
		width: 30px;
		height: 30px;
		background-image: url(/static/img/cancel.png);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	 .uiToggleFlyout .msgCol {
		1float: left;
		width: auto;
	 }
    .uiToggleFlyout .msgCol .inner {
	    margin-left: 10px;
    }

}
</style>
<div class="alarmIcon">
	<div class="countValue">1</div>
	<div class="uiToggleFlyout">
		<div class="header">
			<div class="closeBtn"></div>
			<h1>{{i18n.ALERT}}</h1>
		</div>
		<div class="innerScroll js-notiItemContainer">

		</div>
	</div>
</div>
