<style>
	.notiItemContainer:hover .toggleContent p{
    	background-color: #aaaaaa;
	}
	.notiItemContainer:hover .mainRow {
		background-color: #aaaaaa;
	}
.toggleContent p {
    width: 92px;
    font-size: 10px;
    text-align: center;
    background-color: #CCC;
    padding: 3px;
    padding-top: 24px;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 25px;
    color: white;
}

.notiItemContainer {
	position: relative;
	margin: 5px;
	padding: 0;
	box-sizing: border-box;
	1background-color: #CCC;
	1border-radius: 3px;
	cursor: hand;
}
.notiItemContainer .avatar {
	border: none;
	border-radius: 100px;
}
.size55 {
    width: 55px;
    height: 55px;
}

.mainRow {
	padding: 5px;
	background-color: #CCC;
	border-radius: 3px;
	display: block;
	position: relative;
	font-size: 0;
}

.picCol,
.msgCol {
	display: inline-block;
    vertical-align: top;
}
.msgCol {
	position: relative;
    left: 6px;
  	font-size: 12px;
	color: white;
    width: 338px;
}
.msgCol .time {
	margin-bottom: 2px;
}
.msgCol .msgBubble{
	background-color: #0079DB;
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 5px;

    max-width: 245px;
}
.actionContainer {
	text-align: right;
}
.actionContainer > .respondTime {
	display: none;
	
}
.actionContainer.expand > .respondTime {
	display: block;
}
.actionContainer.expand > .respondBtn {
	display: none;
}

.actionContainer button:hover {
	background-color: rgba(141, 219, 227, 1);
}
.actionContainer button:active {
    box-shadow: none;
}
.actionContainer button{
    background-color: #27B6C5;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0px 3px 2px -1px rgba(0,0,0,.3);
    outline: none;
    margin-bottom: 5px;
    padding: 5px 7px 5px 10px;
    1letter-spacing: 3px;
}
.respondTime > .msgBubble {
	margin-right: 5px;
}
.respondTime > .msgBubble input {
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    width: 38px;
}
.originalContent {
	width: 100%;
	display: none;
}
.originalContent.show {
	display: block;
}
.originalContent p {
	font-size: 12px;
    background-color: white;
    border-radius: 3px;
    margin: 10px 5px;
    margin-bottom: 6px;
    padding: 10px;
}
</style>
<div class="notiItemContainer" data-ticket-link="{{data.link}}">
	<div class="mainRow">
		<div class="picCol">
			<img class="avatar size55" src="{{data.targetProfilePic}}">
		</div>
		<div class="msgCol">
			<div class="inner">
				<p class="time">{{data.ts}}</p>
				<div class="content">
					<p class="msgBubble type0">{{data.username}} {{i18n.ALERT_CHECK_TICKETS_FOR_YOU}}</p>
					<p class="msgBubble type1">{{i18n.ALERT_WHEN_CAN_YOU_FINISH}}</p>
					<div class="type1 actionContainer">
						<div class="respondBtn">
							<button>{{i18n.ALERT_REPLY}}</button>
						</div>
						<div class="respondTime">
							<div class="msgBubble">
								{{i18n.ALERT_ESTIMATED_REMAINING_TIME}}<br/>
								<input type="number" name="days" value="0" min="0"/>{{i18n.DAYS}}
								<input type="number" name="hours" value="0" min="0" max="23"/>{{i18n.HOURS}}
								<input type="number" name="minutes" value="0" min="0" max="59"/>{{i18n.MINUTES}}
							</div>
							<button>{{i18n.ALERT_REPLY_SEND}}</button>
						</div>
					</div>
					<p class="msgBubble type2">{{i18n.ALERT_FEEDBACK_COMPLETED}}</p>
					<p class="msgBubble type3">{{i18n.ALERT_TRANSLATING_STOP}}</p>
					<p class="msgBubble type5">{{i18n.ALERT_TRANSLATING_RESPOND_DELAY_STOP}}</p>
					<p class="msgBubble type6">{{i18n.ALERT_GOT_HERO}}</p>
					<p class="msgBubble type7">{{i18n.ALERT_CHECK_DEADLINE}}</p>
					<p class="msgBubble type9">{{i18n.ALERT_TRANSLATING_STOP2}}</p>
					<p class="msgBubble type10">{{i18n.ALERT_TRANSLATE_COMPLETE}}</p>
					<p class="msgBubble type11">{{i18n.ALERT_NOT_COMPLETED_YET}}</p>
					<p class="msgBubble type12">{{i18n.ALERT_NO_ONE_COMES}}</p>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
		<div class="originalContent">
			<p>{{data.abstract}}</p>
		</div>	
	</div>
	<div class="toggleContent">
		<p>{{i18n.ALERT_VIEW_CONTENT}}</p>
	</div>
</div>