<li>
<div class="card request" data-original-lang="{{data.originalLangIndex}}" data-target-lang="{{data.targetLangIndex}}">
	<div class="header">
		<div class="requesterName">
			<span>{{data.clientName}}</apsn>
		</div>
		<div class="toolContainer">
			<span class="reward">$ {{data.request_points}}</span> 
		</div>
	</div>
	<div class="content">
		<div class="requesterCol">
			<img class="avatar size64" src="/api/access_file/{{data.clientPicPath}}"/>
			<div class="feedbackContainer">
					<img class="avatar size58 badge" src="/static/img/9.7.1feedback{{data.feedback}}_web.png">
					<div class="tooltip">{{data.messages.feedbackmsg}}</div>
				<!--img class="avatar size58 badge" src="/static/img/9.7.1feedback1_web.png"/-->
			</div>
			<div class="completedDateContainer">
				<p>{{data.submittedTime}}<p/>
			</div>
		</div>
		<div class="contextCol">
			<div class="context">
				<div class="language">
					<div class="languageIcon">
						<img class="avatar size28" src="{{data.originalLangPicPath}}">
						<p>{{data.messages.originalLang}}</p>
					</div>
					<div class="languageIcon">
						<img class="avatar size28" src="{{data.targetLangPicPath}}">
						<p>{{data.messages.targetLang}}</p>
					</div>
				</div>
				<div class="category">
					<div class="categoryIcon">
						<img class="size28" src="{{data.formatIconPath}}">
						<p>{{data.messages.format}}</p>
					</div>
					<div class="categoryIcon">
						<img class="size28" src="{{data.subjectIconPath}}">
						<p>{{data.messages.subject}}</p>
					</div>
				</div>	
				<div class="wordCount">
					<p>{{data.words}} {{i18n.WORDS}}<p>
				</div>											
			</div>
		</div>
		<div class="toggleBtn">
			<img src="/static/img/cornerBtn.png">
		</div>
	</div>
	<div class="contextTextContainer">
		<p><span class="contextHeader">{{i18n.REQUEST_CONTEXT}}</span><br/><br/>{{data.contextText}}</p>
	</div>
</div>
</li>