	<div class="process-container">
		<div class="process">
			<div class="process-placegolder">
				<div class="process-value" style="width: 30%"></div>	
			</div>
			<p class="ellipsis">{{i18n.TRANSLATING_TIME_REMAINING}}</p>
		</div>
		<button class="saveBtn">{{i18n.TRANSLATING_TEMPORARY_SAVE}}</button>
	</div> 
	<div class="request-ticket-container">
	</div>
	<div class="edit-container">
		<div class="header">
			<div class="originalLang lang"><img class="" src="/static/img/2.1.1korean_web.png"></div>
			<div class="targetLang lang"><img class="" src="/static/img/2.1.1korean_web.png"></div>
		</div>
		<div class="content">
			<div class="originalText"><p>lsdnflskndflksndflksnd</p></div>
			<div class="targetText">
			<textarea></textarea>
			</div>
		</div>
	</div>
	<div class="comment-container">
		
		<div class="header">
			<p>{{{i18n.TRANSLATING_COMMENT}}}</p>
		</div>
		<div class="content">
			<textarea></textarea>
		</div>
	</div>
	<div class="tone-container">
		<div class="header">
			<p>{{i18n.TRANSLATING_TONE}}</p>
		</div>
		<div class="content">							
			<div class="translatedToneOption" data-tone-value="0">{{i18n.TONE_RESENTFUL}}</div>
			<div class="translatedToneOption" data-tone-value="1">{{i18n.TONE_URGENT}}</div>
			<div class="translatedToneOption" data-tone-value="2">{{i18n.TONE_NETURAL}}</div>
			<div class="translatedToneOption" data-tone-value="3">{{i18n.TONE_RESPECTFUL}}</div>
			<div class="translatedToneOption" data-tone-value="4">{{i18n.TONE_APPEALING}}</div>
			<div class="translatedToneOption" data-tone-value="5">{{i18n.TONE_CRITICAL}}</div>
			<div class="translatedToneOption" data-tone-value="6">{{i18n.TONE_APOLOGTIC}}</div>
			<div class="translatedToneOption" data-tone-value="7">{{i18n.TONE_FRANK}}</div>
			<div class="translatedToneOption" data-tone-value="8">{{i18n.TONE_EMOTIONAL}}</div>
			<div class="translatedToneOption" data-tone-value="9">{{i18n.TONE_GRATEFUL}}</div>
		</div>				
	</div>
	<button class="submitBtn">{{i18n.TRANSLATING_SUBMIT}}</button>
